<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_fountain_pen_lamy2000"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "review_fountain_pen_lamy2000","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="The fountain pen can be a tool of choice for the watercolourist. A little story of fountain pen and a review of the lamy 2000 fountain pen.">    
<title>Fountain pen, watercolor and Lamy 2000</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>                       

<!--start_head-->
<meta name="description" content="The fountain pen can be a tool of choice for the watercolourist. A little story of fountain pen and a review of the lamy 2000 fountain pen.">    
<title>Fountain pen, watercolor and Lamy 2000</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Fountain pen, watercolor and Lamy 2000</h1>
                                <p class="post-meta">
                                Date : 02/02/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                            <h2>Brief history of fountain pens and why they are relevant in watercolor</h2>
                                <p>
                                Transportable, durable and allowing the addition of contrast and personality to a drawing, the fountain pen is a tool of choice for the watercolourist.
                                In this article, I quickly introduce how to choose a fountain pen for watercolor painting and sketching.
                                </p>
								<br>
							    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_1.jpg"        
                                             alt="Watercolor scketch presenting the anatomy of a fountain pen"></a>
                                </div>
                                <!-- end_header -->
								
<p>In the&nbsp; olden time there was less choice than today. The word <strong><em>pen</em></strong> refers to the Latin <strong><em>penna</em></strong>, which means a feather or 
plume and describes to a feather pen. These pens made from animal feathers were used until the mid-19th century to make room for metallic pen. But for metal pens, there is no end. The 
first attemps at mettalic nib date back to the 18th century in England. Today the feather holders have given way to the fountain pen which, let's face it, is starting to disappear 
in favor of rollerball pens or technical pens.</p>
<p>Pen holders are still used marginally by refractory artists such as the mangaka. An this topic deserves a full article. Using a pen holder for drawing has a huge drawback, the 
need to have a bottle of ink handy and I let you imagine the discomfort for painting outdoors. And now I come to the subject of fountain pens.
Fountain pens come in a huge variety of nib and body styles. Some pens are luxury items or even piece of art while others are very inexpensive.</p>
<p>First, to effectively use a fountain pen in watercolor painting, we need a waterproof ink bottle compatible with fountain pens. I wrote a little article on this topic : <a 
href="/review/review_black_ink">Black ink for watercolor</a> .
Personally, I chose the Platinum carbon ink, which is perfectly waterproof when dry. To put ink in the pen we need a piston converter or a fountain pen with a piston.
Now comes the choice of the pen itself. There are many brands of fountain pens and a wide variety of choices. For the drawing, the determining parameters are concentrated on the 
nib.</p>
<h2>Gold nib vs steel nib</h2>
<p>We sometimes hear that gold nib are more flexible and with more rebound than steel nib. For me it is a purely commercial argument. My personal opinion is that the softness and 
rebound of a nib is the direct consequence of the shape and construction.</p>
<p>The only thing that matter, is that ink has corrosive properties and that the gold nibs are less sensivitive than steel nib. But contemporary steel nibs seem much more 
resistant than in the past.</p>
<h2>Nib size ?</h2>
<p>Fountain pen nibs come in many sizes. As we will use this pen for drawing, I recommended taking an extra fine size. Japanese nibs are thinner than western pen (Western extra fine 
= Japanese fine).</p>
<h2>Flexible nib ?</h2>
<p>Rather rare, some nibs have incrased flexibility. They are mainly used in calligraphy techniques, they offer very interesting line variation which can produce nive effects in 
watercolor painting.</p>
<h2>Review : lamy 2000 fountain pen</h2>
<p>My current choice is the Lamy 2000 with a fine nib.</p>

                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_2.jpg"        
                                             alt="Picture of the lamy 2000"></a>
                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_3.jpg"        
                                             alt="Picture of nib of the lamy 2000"></a>
                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_5.jpg"        
                                             alt="Close up picture of the nib of the lamy 2000"></a>
                                


<ul>
<li>Gold nib</li>
<li>Piston filling</li>
<li>Not very flexible</li>
<li>Around 200&euro;</li>
<li>Weight ~25g</li>
</ul>
<p>I bought this fountain pen after reading very positive reviews. On internet this pen is legendary. My personnal opinion is that it is a very solid construction and it seems very 
durable over time.</p>
<p>Let's be honest, my overall feeling is that this pen is maybe a bit overated and I find it a <span style="text-decoration: underline;">bit scratchy</span> (at least with Lamy blue 
ink and normal paper). Moreover, the square shape of the point of the nib create a soft point which require a bit of training to reach. Fortunately, Platinum ink contains lubricants 
that solve the scratching problem. An interesting effect, the reverse writing of the pen draws very fine lines very appreciated for drawing details.</p>
<h2>Conclusion</h2>
                                <img width=100% height=100%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_4.jpg"        
                                             alt="Watercolor scketch of the lamy 2000 fountain pen, with Platinum black ink and schemincke watercolor"></a>

<p>It is a good fountain pen, for drawing or daily writing. It's robust design makes it compatible with intesive use, even outdoors. It does its job, but eventually I will change to 
a Japanese fountain pen with a thinner tip and maybe more flexibility.</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
                                
                                
                            </div>
                        </section>
<!--end_content-->            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
