<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_versatile_palette"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "review_versatile_palette","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="In this article, we will se how to choose watercolor paint, according to their characteristics and the pigments of each paint. An example of a basic 
palette is given at the end. The most important rule, only the pigments used matter.">    
<title>A versatile watercolor palette</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>

<div class="content pure-u-1 pure-u-md-3-4"><div>

<!--start_head-->
<meta name="description" content="In this article, we will se how to choose watercolor paint, according to their characteristics and the pigments of each paint. An example of a basic 
palette is given at the end. The most important rule, only the pigments used matter.">    
<title>A versatile watercolor palette</title>  
<!--end_head-->

                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">How to make a versatile watercolor palette ?</h2>
                                <p class="post-meta">
                                Date : 26/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">

                                

                                <p>When a jedi gains enough experience, he makes his lightsaber himself. It is the same for the watercolorist, who when he has acquired enough experience, designs a palette adapted to his needs.</p>
                                

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<p><img src="../../static/img/review_versatile_palette/review_versatile_palette_4.jpg" alt="review_versatile_palette_4" 
style="width:100%;height:100%;"></p>
                            </div>

                                <!-- end_header -->  
<p>Designing the right palette of watercolors can be a complicated exercise. And believe me, the paint manufacturers are not really there to help us. Let's be honest, when we started watercolor, we paid far too much attention to the commercial arguments of paint manufacturers such as: names of the paint or the color displayed on the label.</p>
<p>In this article, I suggest you ignore the commercial arguments to go directly to the determining points to choose the paint that suits you and thus build up an effective and versatile palette..</p>
<p><span style="text-decoration: underline;">A bit of theory first :</span></p>
<p>Watercolor paint is made of :</p>
<ul>
<li>One or severals pigments (10-20% of total paint composition)</li>
<li>A backbone composition&nbsp;(60 % of total paint composition) a proprietary chemical solution, unique to each manufacturer, sometime made of :
<ul>
<li>a brightener (lighten the paint when dry)</li>
<li>a humectant (to help paint dilution)</li>
<li>a binder to carry the pigment and to help it to stay on a page. Historically, binder is gum arabic. With deforestation and the increase in the price of arabic gum, the 
binder is often replaced by a polymer (glycol). Brand like sennelier still use arabic gum and honey as binder</li>
</ul>
</li>
<li>water (10-20%)</li>
</ul>
<p>&nbsp;</p>
<h4><span style="text-decoration: underline;"><strong>Rule 1 : Buy new colors based on their characteristics</strong></span></h4>

<p><span style="text-decoration: underline;">Transparency :</span></p>
<p>Transparency is the amount of light that can passes through a color:</p>
<ul>
<li>transparent : a lot of light passes</li>
<li>opaque : little or no light passes</li>
</ul>


<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<p><img src="../../static/img/review_versatile_palette/review_versatile_palette_3.png" alt="review_versatile_palette_3" 
style="width:60%;height:60%;"></p>
</div>

<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Staining :</span></p>
<p>Define how the pigment will stick on the paper. This characteristics can be decisive for dry paint lifting techniques.</p>
<p>&nbsp;</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<p><img src="../../static/img/review_versatile_palette/review_versatile_palette_2.png" alt="review_versatile_palette_2" 
style="width:60%;height:60%;"></p>
</div>



<p><span style="text-decoration: underline;">Saturation :</span></p>
<p>Saturated colors are colors that tend to be pure and close to the outer circle of the color wheel.</p>
<p>These colors give better results when mixed togather.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Durability :</span></p>
<p>Light, humidity and time can deteriorate pigment. You don't want to lose your masterpiece ? Use durable pigment.</p>
<h4>&nbsp;</h4>
<h4><span style="text-decoration: underline;"><strong>Rule 2 : Check pigments before buying paint</strong></span></h4>
<p>Some manufacters like kuretake don't indicate the pigments used in their paints. <span style="text-decoration: underline;">To be avoided absolutely for any serious work.</span></p>
<p>Some pigments are marked as not durable (not resistant to light).</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<p><img src="../../static/img/review_versatile_palette/review_versatile_palette_1.png" alt="review_versatile_palette_1" 
style="width:80%;height:80%;"></p>
</div>

<p><span style="text-decoration: underline;"><strong>To avoid :</strong></span></p>
<ul>
<li>yellow : PY1, PY1:1, PY24, PY34, NY55, PY40</li>
<li>Orange : PO1, PO13, PO34</li>
<li>Red : Every pigment below PR100 except (PR5, PR6, PR7, PR9, PR48:4 and PR88MRS)</li>
<li>Violet : PV1, PV2, PV3, PV4, PV5:1, PV23BS, PV22RS, PV39</li>
<li>Blue : PB1, PB24, PB66</li>
<li>Green : PG1, PG2, PG8, PG12</li>
<li>Brown : NBR8, PBr8, PBr24</li>
</ul>
<p>&nbsp;</p>
<h4><span style="text-decoration: underline;"><strong>Rule 3 : Life is too short not ot use extra fine paint<br /></strong></span></h4>
<p>Brands that I personally recommend : Sennelier (French) and Schmincke (German).</p>

<h4><span style="text-decoration: underline;"><strong>Rule 4 : Feel free to mix paints from different manufacturers</strong></span></h4>
<p>Do not trust manufacturers when they discourage you to mix their paint with another brand. It's mostly a commercial argument.</p>

<h4><span style="text-decoration: underline;"><strong>Rule 5 : Do not give credit to paint names given by manufacturers. Only pigments matter.</strong></span></h4>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>An exemple of a very versatile palette :</strong></span></p>

<p>What do you really need ? Warm and cool version of each of the primary colors and eventually specific colors, such as green, earth tone, black, sepia ...
</p>

<ul>
<li>Light yellow : PY151 / PY154</li>
<li>Deep yellow : PY35</li>
<li>Medium Red : PR108 / PR254</li>
<li>Deep red : PRPR122 / PR202</li>
<li>Red blue (cobalt / ultramarine) : PB15:3 / PB28 / PB29</li>
<li>Middle blue (prussian blue): PB27</li>
</ul>
<p>&nbsp;</p>
<p>Optionnal :</p>
<ul>
<li>Basic green : PG7</li>
<li>Yellow green : PG36</li>
<li>Ochre : Y43/Y42</li>
<li>Earth : PBr7</li>
<li>Payne Gray</li>
<li>Sepia</li>
</ul>
<p> And here's the result! </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<p><img src="../../static/img/review_versatile_palette/review_versatile_palette_4.jpg" alt="review_versatile_palette_4" 
style="width:100%;height:100%;"></p>
                            </div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
                                
                                
                                





                            </div>
					</div>








					<!-- content_beginning -->
















					<!-- content_ending -->
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
