<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_morikuni"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "review_morikuni","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="Presentation of Morikuni, heir of Kano school and worshipper of nature">    
<title>Presentation of Morikuni, heir of Kano school.</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>

<!--start_head-->
<meta name="description" content="Presentation of Morikuni, heir of Kano school and worshipper of nature">    
<title>Presentation of Morikuni, heir of Kano school.</title>  
<!--end_head-->

                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">Presentation of Morikuni, heir of Kano school.</h2>
                                <p class="post-meta">
                                Date : 18/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">

                                
<p>Presentation of Morikuni, a worshipper of nature.</p>
<p>To begin, a little japanese story :</p>
<p>One says that a painter entered in an inn for the night, after diner just before going to bed, he painted a cat. During the night a great noise is heard. At dawn, when the painter 
left, the innkeeper entered the room : the cat painted the day before had disappeared and two mices were lying dead on. </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_morikuni/review_morikuni_1.jpg" alt="review_morikuni_1" style="width:75%;height:75%;"></p>
                                </div>


<!-- end_header -->  
<p>Great painters seem to have the power to capture the essence of the living on a sheet of paper. </p>
<p>In this article, we are going to learn how to capture nature essence with a japanese print       master : Tachibana Morikuni.</p>
<p>Tachibana Morikuni (1679-1748) is a japanese painter, heir of Kano school&nbsp; founded by Kano Masubu (1434&ndash;1530). This japanese school produce different artworks such as 
fusuma (sliding screens), byobu (screens), emakimono (painted narrative scrolls). This school is known for the assimilation of traditional chinese painting, and to produce colorful 
illustrations often on a gold background. Morikuni dedicated his life to prints and contributed to the evolution of Kano school. His innovation he brought to Kano school and the improvement
 of the printing process, making it possible to better print the nuances of the ink. To do this, the wood used for printing was sanded to obtain a texture allowing the ink shades to be transferred.  </p>
<p>Morikuni created his works on the fringes of the ukiyo-e movement supported by Hokusai and Hiroshige. He is a proponent of the grass style (s&ocirc;) consisting in representing 
the essence of subjects, striving to remove unnecessary details and focusing on capturing its subtely. The difficulty of this technique reaches its peak when the painter uses only
 one stroke of the brush to achieve a complex shape, such as the plumage of a bird or a branch of a tree.</p>
<div class="QmZWSe">&nbsp;According to the monk Shitao "<em>The single stroke of the brush is the origin of everything</em>".</div>
<p>At that time of Morikuni, painting schools and workshops treasured reference drawings and paintings allowing the training of new painters and honoring orders of clients. Morikuni 
is known to have published a notebook contening all the secrets of the Kano school of which he was later expelled.</p>
<p>&nbsp;</p>
<p>Here some works his work :</p>

<p>&nbsp;</p>
<p> A young passerine</p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_morikuni/review_morikuni_2.jpg" alt="review_morikuni_2" style="width:100%;height:100%;"></p>
                                </div>
                                <p>&nbsp;</p>
<p> A crane</p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_morikuni/review_morikuni_3.jpg" alt="review_morikuni_3" style="width:100%;height:100%;"></p>
                                </div>
                                <p>&nbsp;</p>
<p> A crow under the snow</p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_morikuni/review_morikuni_4.jpg" alt="review_morikuni_4" style="width:100%;height:100%;"></p>
                                </div>
                                
                                </div>





                            </div>
					</div>








            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
