<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_hahnemuhle_watercolor_book"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "review_hahnemuhle_watercolor_book","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="I'he just finished my first Hahnemühle watercolor book, let's review it !">    
<title>Review : Hahnemühle watercolor book</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
<!--start_head-->
<meta name="description" content="I'he just finished my first Hahnemühle watercolor book, let's review it !">    
<title>Review : Hahnemühle watercolor book</title>  
<!--end_head-->

                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">Review : Hahnemühle watercolor book</h2>
                                <p class="post-meta">
                                Date : 17/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">

                                
                                <p>In November 2019, seduced by its design and its price, I bought the Hahnemühle watercolor book A5.
                                <br>Today, I've finished it, let's do a little review of this watercolor notebook ! </p>
                                
                                
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_hahnemuhle_watercolor_book/review_hahnemuhle_watercolor_book_5.gif" alt="review_hahnemuhle_watercolor_book_5" style="width:100%;height:100%;"></p>
                                </div>
                                <!-- end_header -->  
                                <p>
                                Choosing watercolor paper, is a difficult exercice, in particular when choosing a new watercolor book. Some criteria are to consider: 
                                <ul style="list-style-type: circle;">
                                <li>The price : watercolor paper is expensive, cheaper in notebook format</li>
                                <li>Paper weight : 200 g/m2 - 300 g/m2 - 400 g/m2 ? It depends on the amount of water used in your paints. </li>
                                <li>Durability : What is worst than notebook loosing sheets ? </li>
                                <li>Number of sheets : Usually 8 to 50 pages</li>
                                <li>Format : Portrait or landscape? A4, A5 or A6? </li>
                                <li>Material : Cellulose or cotton ? (Cotton is often preferred by watercolorists but is more expensive) </li>
                                </ul>
                                <p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_hahnemuhle_watercolor_book/review_hahnemuhle_watercolor_book_1.jpg" alt="review_hahnemuhle_watercolor_book_1" style="width:100%;height:100%;"></p>
                                </div>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_hahnemuhle_watercolor_book/review_hahnemuhle_watercolor_book_2.jpg" alt="review_hahnemuhle_watercolor_book_2" style="width:100%;height:100%;"></p>
                                </div>
                                <p>&nbsp;</p>
                                <p>Well, the Hahnemühle is a serious candidate :</p>
                                <p>
                                <ul style="list-style-type: circle;">
                                <li>The price : good value for money at time of article </li>
                                <li>Paper weight : 200 g/m2 but supports surprisingly well water </li>
                                <li>Durability : Very solid, mine hasn't lost a page, the cover is still rigid </li>
                                <li>Number of sheets : 30 sheets and can be painted on both side</li>
                                <li>Format : Exists in portrait and landscape, A4/A5/A6? Comes with a bookmark and a rubber band to close it </li>
                                <li>Material : Cellulose, finish fine grain </li>
                                </ul>
                                </p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_hahnemuhle_watercolor_book/review_hahnemuhle_watercolor_book_3.jpg" alt="review_hahnemuhle_watercolor_book_3" style="width:100%;height:100%;"></p>
                                </div>
                                <p>&nbsp;</p>
                                <p> 
                                In use, it turns out to be a very good notebook. I find that it holds well wet techniques considering it has a weight of 200 g/m2. Little tips, use paper clip to reduce paper crinkling.  
                                </p>
                                <p>&nbsp;</p>
                                
                                <p>A close up picture of sheet texture.</p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_hahnemuhle_watercolor_book/review_hahnemuhle_watercolor_book_4.jpg" alt="review_hahnemuhle_watercolor_book_4" style="width:100%;height:100%;"></p>
                                </div>





                            </div>
					</div>            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
