* {
  box-sizing: border-box;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
img {
  height: 100%;
  width: 100%;
  min-height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 20px;
  grid-template-rows: repeat(16, 300px);
}

.gallery__item {
  cursor: pointer;
  border-radius: 5px;
  grid-row: span 1;
  grid-column: span 1;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.gallery__item:hover {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
}
.gallery__select {
  display: none;
}
.gallery__select:nth-of-type(1):checked ~ .gallery .gallery__item:nth-of-type(1) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(1):checked ~ .gallery .gallery__item:nth-of-type(1):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(1):checked ~ .gallery .gallery__item:nth-of-type(1) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(2):checked ~ .gallery .gallery__item:nth-of-type(2) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(2):checked ~ .gallery .gallery__item:nth-of-type(2):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(2):checked ~ .gallery .gallery__item:nth-of-type(2) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(3):checked ~ .gallery .gallery__item:nth-of-type(3) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(3):checked ~ .gallery .gallery__item:nth-of-type(3):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(3):checked ~ .gallery .gallery__item:nth-of-type(3) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(4):checked ~ .gallery .gallery__item:nth-of-type(4) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(4):checked ~ .gallery .gallery__item:nth-of-type(4):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(4):checked ~ .gallery .gallery__item:nth-of-type(4) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(5):checked ~ .gallery .gallery__item:nth-of-type(5) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(5):checked ~ .gallery .gallery__item:nth-of-type(5):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(5):checked ~ .gallery .gallery__item:nth-of-type(5) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(6):checked ~ .gallery .gallery__item:nth-of-type(6) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(6):checked ~ .gallery .gallery__item:nth-of-type(6):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(6):checked ~ .gallery .gallery__item:nth-of-type(6) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(7):checked ~ .gallery .gallery__item:nth-of-type(7) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(7):checked ~ .gallery .gallery__item:nth-of-type(7):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(7):checked ~ .gallery .gallery__item:nth-of-type(7) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(8):checked ~ .gallery .gallery__item:nth-of-type(8) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(8):checked ~ .gallery .gallery__item:nth-of-type(8):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(8):checked ~ .gallery .gallery__item:nth-of-type(8) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(9):checked ~ .gallery .gallery__item:nth-of-type(9) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(9):checked ~ .gallery .gallery__item:nth-of-type(9):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(9):checked ~ .gallery .gallery__item:nth-of-type(9) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(10):checked ~ .gallery .gallery__item:nth-of-type(10) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(10):checked ~ .gallery .gallery__item:nth-of-type(10):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(10):checked ~ .gallery .gallery__item:nth-of-type(10) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(11):checked ~ .gallery .gallery__item:nth-of-type(11) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(11):checked ~ .gallery .gallery__item:nth-of-type(11):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(11):checked ~ .gallery .gallery__item:nth-of-type(11) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(12):checked ~ .gallery .gallery__item:nth-of-type(12) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(12):checked ~ .gallery .gallery__item:nth-of-type(12):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(12):checked ~ .gallery .gallery__item:nth-of-type(12) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(13):checked ~ .gallery .gallery__item:nth-of-type(13) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(13):checked ~ .gallery .gallery__item:nth-of-type(13):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(13):checked ~ .gallery .gallery__item:nth-of-type(13) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(14):checked ~ .gallery .gallery__item:nth-of-type(14) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(14):checked ~ .gallery .gallery__item:nth-of-type(14):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(14):checked ~ .gallery .gallery__item:nth-of-type(14) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(15):checked ~ .gallery .gallery__item:nth-of-type(15) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(15):checked ~ .gallery .gallery__item:nth-of-type(15):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(15):checked ~ .gallery .gallery__item:nth-of-type(15) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(16):checked ~ .gallery .gallery__item:nth-of-type(16) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(16):checked ~ .gallery .gallery__item:nth-of-type(16):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(16):checked ~ .gallery .gallery__item:nth-of-type(16) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(17):checked ~ .gallery .gallery__item:nth-of-type(17) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(17):checked ~ .gallery .gallery__item:nth-of-type(17):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(17):checked ~ .gallery .gallery__item:nth-of-type(17) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(18):checked ~ .gallery .gallery__item:nth-of-type(18) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(18):checked ~ .gallery .gallery__item:nth-of-type(18):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(18):checked ~ .gallery .gallery__item:nth-of-type(18) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(19):checked ~ .gallery .gallery__item:nth-of-type(19) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(19):checked ~ .gallery .gallery__item:nth-of-type(19):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(19):checked ~ .gallery .gallery__item:nth-of-type(19) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(20):checked ~ .gallery .gallery__item:nth-of-type(20) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(20):checked ~ .gallery .gallery__item:nth-of-type(20):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(20):checked ~ .gallery .gallery__item:nth-of-type(20) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(21):checked ~ .gallery .gallery__item:nth-of-type(21) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(21):checked ~ .gallery .gallery__item:nth-of-type(21):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(21):checked ~ .gallery .gallery__item:nth-of-type(21) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(22):checked ~ .gallery .gallery__item:nth-of-type(22) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(22):checked ~ .gallery .gallery__item:nth-of-type(22):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(22):checked ~ .gallery .gallery__item:nth-of-type(22) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(23):checked ~ .gallery .gallery__item:nth-of-type(23) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(23):checked ~ .gallery .gallery__item:nth-of-type(23):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(23):checked ~ .gallery .gallery__item:nth-of-type(23) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(24):checked ~ .gallery .gallery__item:nth-of-type(24) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(24):checked ~ .gallery .gallery__item:nth-of-type(24):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(24):checked ~ .gallery .gallery__item:nth-of-type(24) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(25):checked ~ .gallery .gallery__item:nth-of-type(25) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(25):checked ~ .gallery .gallery__item:nth-of-type(25):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(25):checked ~ .gallery .gallery__item:nth-of-type(25) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(26):checked ~ .gallery .gallery__item:nth-of-type(26) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(26):checked ~ .gallery .gallery__item:nth-of-type(26):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(26):checked ~ .gallery .gallery__item:nth-of-type(26) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(27):checked ~ .gallery .gallery__item:nth-of-type(27) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(27):checked ~ .gallery .gallery__item:nth-of-type(27):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(27):checked ~ .gallery .gallery__item:nth-of-type(27) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(28):checked ~ .gallery .gallery__item:nth-of-type(28) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(28):checked ~ .gallery .gallery__item:nth-of-type(28):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(28):checked ~ .gallery .gallery__item:nth-of-type(28) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(29):checked ~ .gallery .gallery__item:nth-of-type(29) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(29):checked ~ .gallery .gallery__item:nth-of-type(29):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(29):checked ~ .gallery .gallery__item:nth-of-type(29) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(30):checked ~ .gallery .gallery__item:nth-of-type(30) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(30):checked ~ .gallery .gallery__item:nth-of-type(30):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(30):checked ~ .gallery .gallery__item:nth-of-type(30) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(31):checked ~ .gallery .gallery__item:nth-of-type(31) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(31):checked ~ .gallery .gallery__item:nth-of-type(31):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(31):checked ~ .gallery .gallery__item:nth-of-type(31) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(32):checked ~ .gallery .gallery__item:nth-of-type(32) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(32):checked ~ .gallery .gallery__item:nth-of-type(32):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(32):checked ~ .gallery .gallery__item:nth-of-type(32) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(33):checked ~ .gallery .gallery__item:nth-of-type(33) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(33):checked ~ .gallery .gallery__item:nth-of-type(33):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(33):checked ~ .gallery .gallery__item:nth-of-type(33) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(34):checked ~ .gallery .gallery__item:nth-of-type(34) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(34):checked ~ .gallery .gallery__item:nth-of-type(34):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(34):checked ~ .gallery .gallery__item:nth-of-type(34) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(35):checked ~ .gallery .gallery__item:nth-of-type(35) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(35):checked ~ .gallery .gallery__item:nth-of-type(35):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(35):checked ~ .gallery .gallery__item:nth-of-type(35) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(36):checked ~ .gallery .gallery__item:nth-of-type(36) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(36):checked ~ .gallery .gallery__item:nth-of-type(36):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(36):checked ~ .gallery .gallery__item:nth-of-type(36) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(37):checked ~ .gallery .gallery__item:nth-of-type(37) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(37):checked ~ .gallery .gallery__item:nth-of-type(37):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(37):checked ~ .gallery .gallery__item:nth-of-type(37) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(38):checked ~ .gallery .gallery__item:nth-of-type(38) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(38):checked ~ .gallery .gallery__item:nth-of-type(38):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(38):checked ~ .gallery .gallery__item:nth-of-type(38) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(39):checked ~ .gallery .gallery__item:nth-of-type(39) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(39):checked ~ .gallery .gallery__item:nth-of-type(39):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(39):checked ~ .gallery .gallery__item:nth-of-type(39) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(40):checked ~ .gallery .gallery__item:nth-of-type(40) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(40):checked ~ .gallery .gallery__item:nth-of-type(40):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(40):checked ~ .gallery .gallery__item:nth-of-type(40) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(41):checked ~ .gallery .gallery__item:nth-of-type(41) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(41):checked ~ .gallery .gallery__item:nth-of-type(41):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(41):checked ~ .gallery .gallery__item:nth-of-type(41) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(42):checked ~ .gallery .gallery__item:nth-of-type(42) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(42):checked ~ .gallery .gallery__item:nth-of-type(42):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(42):checked ~ .gallery .gallery__item:nth-of-type(42) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(43):checked ~ .gallery .gallery__item:nth-of-type(43) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(43):checked ~ .gallery .gallery__item:nth-of-type(43):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(43):checked ~ .gallery .gallery__item:nth-of-type(43) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(44):checked ~ .gallery .gallery__item:nth-of-type(44) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(44):checked ~ .gallery .gallery__item:nth-of-type(44):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(44):checked ~ .gallery .gallery__item:nth-of-type(44) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(45):checked ~ .gallery .gallery__item:nth-of-type(45) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(45):checked ~ .gallery .gallery__item:nth-of-type(45):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(45):checked ~ .gallery .gallery__item:nth-of-type(45) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(46):checked ~ .gallery .gallery__item:nth-of-type(46) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(46):checked ~ .gallery .gallery__item:nth-of-type(46):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(46):checked ~ .gallery .gallery__item:nth-of-type(46) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(47):checked ~ .gallery .gallery__item:nth-of-type(47) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(47):checked ~ .gallery .gallery__item:nth-of-type(47):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(47):checked ~ .gallery .gallery__item:nth-of-type(47) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(48):checked ~ .gallery .gallery__item:nth-of-type(48) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(48):checked ~ .gallery .gallery__item:nth-of-type(48):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(48):checked ~ .gallery .gallery__item:nth-of-type(48) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(49):checked ~ .gallery .gallery__item:nth-of-type(49) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(49):checked ~ .gallery .gallery__item:nth-of-type(49):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(49):checked ~ .gallery .gallery__item:nth-of-type(49) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(50):checked ~ .gallery .gallery__item:nth-of-type(50) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(50):checked ~ .gallery .gallery__item:nth-of-type(50):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(50):checked ~ .gallery .gallery__item:nth-of-type(50) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(51):checked ~ .gallery .gallery__item:nth-of-type(51) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(51):checked ~ .gallery .gallery__item:nth-of-type(51):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(51):checked ~ .gallery .gallery__item:nth-of-type(51) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(52):checked ~ .gallery .gallery__item:nth-of-type(52) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(52):checked ~ .gallery .gallery__item:nth-of-type(52):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(52):checked ~ .gallery .gallery__item:nth-of-type(52) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(53):checked ~ .gallery .gallery__item:nth-of-type(53) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(53):checked ~ .gallery .gallery__item:nth-of-type(53):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(53):checked ~ .gallery .gallery__item:nth-of-type(53) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(54):checked ~ .gallery .gallery__item:nth-of-type(54) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(54):checked ~ .gallery .gallery__item:nth-of-type(54):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(54):checked ~ .gallery .gallery__item:nth-of-type(54) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(55):checked ~ .gallery .gallery__item:nth-of-type(55) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(55):checked ~ .gallery .gallery__item:nth-of-type(55):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(55):checked ~ .gallery .gallery__item:nth-of-type(55) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(56):checked ~ .gallery .gallery__item:nth-of-type(56) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(56):checked ~ .gallery .gallery__item:nth-of-type(56):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(56):checked ~ .gallery .gallery__item:nth-of-type(56) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(57):checked ~ .gallery .gallery__item:nth-of-type(57) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(57):checked ~ .gallery .gallery__item:nth-of-type(57):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(57):checked ~ .gallery .gallery__item:nth-of-type(57) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(58):checked ~ .gallery .gallery__item:nth-of-type(58) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(58):checked ~ .gallery .gallery__item:nth-of-type(58):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(58):checked ~ .gallery .gallery__item:nth-of-type(58) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(59):checked ~ .gallery .gallery__item:nth-of-type(59) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(59):checked ~ .gallery .gallery__item:nth-of-type(59):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(59):checked ~ .gallery .gallery__item:nth-of-type(59) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(60):checked ~ .gallery .gallery__item:nth-of-type(60) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(60):checked ~ .gallery .gallery__item:nth-of-type(60):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(60):checked ~ .gallery .gallery__item:nth-of-type(60) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(61):checked ~ .gallery .gallery__item:nth-of-type(61) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(61):checked ~ .gallery .gallery__item:nth-of-type(61):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(61):checked ~ .gallery .gallery__item:nth-of-type(61) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(62):checked ~ .gallery .gallery__item:nth-of-type(62) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(62):checked ~ .gallery .gallery__item:nth-of-type(62):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(62):checked ~ .gallery .gallery__item:nth-of-type(62) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
.gallery__select:nth-of-type(63):checked ~ .gallery .gallery__item:nth-of-type(63) {
  cursor: default;
  display: grid;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 3;
}
.gallery__select:nth-of-type(63):checked ~ .gallery .gallery__item:nth-of-type(63):hover {
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 768px) {
  .gallery__select:nth-of-type(63):checked ~ .gallery .gallery__item:nth-of-type(63) {
    grid-row: 1/-3;
    grid-column: 1/-1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
