<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<meta name="p:domain_verify" content="cea44afbf402c3b5741620e0e26796e7"/>
<meta name="description" content="Promoting a positive culture through articles on art, photography and paint. This website offers articles, tutorials and reviews on for drawer and watercolorist.">
<title>Pause nature - The website dedicated to paint and nature</title>
<link rel="alternate" hreflang="fr" href="www.pause-nature.fr">    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><a href=/fr/revue/revue-rando-Fourchu >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">La promenade au Lac Fourchu</h1>
                                <p class="post-meta">
                                Date : 12/08/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Sur le plateau Matheysin existe un lac très connu et très touristique qui demande peu d'efforts pour le rejoindre : c'est le Lac Fourchu. Ce lac se situe parmi d'autres sur le plateau des Lacs dont le départ de la promenade se fait à Poursollet.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1890.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Entre 1h et 2h</li>
<li>Départ: <a href="https://goo.gl/maps/kYEJdF8n5pgozno69" target=\"_blank\"><span style="font-weight: 400;">Parking du Poursollet (lien Google Maps).</span></a></li>
<li>Difficulté : Facile. Chemins caillouteux.</li>

<p>...</p></div></section></a><a href=/fr/revue/revue-rando-Charlet >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Bienvenue au Lac Charlet</h1>
                                <p class="post-meta">
                                Date : 10/08/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Vous êtes actuellement dans les Alpes Françaises, sur le plateau Matheysin précisément, et vous rêvez de tranquilité et de simplicité ? Alors vous êtes destiné à aller au Lac Charlet. Contrairement à son cousin, le Lac Fourchu, le Lac Charlet est un petit lac peu fréquenté par les touristes et où vous ne croiserez presque que des locaux.</p>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Entre 1h et 2h</li>
<li>Départ: <a href="https://goo.gl/maps/syDDX2fwwG1GNEb58" target=\"_blank\"><span style="font-weight: 400;">La chaud (St Honoré 1500) (Lien sur Google Maps)</span></a></li>
<li>Difficulté : Facile. Chemins caillouteux.</li>

<p>...</p></div></section></a><a href=/fr/revue/revue-tutoriel-fabrication-aquarelle >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Tutoriel : fabrication aquarelle maison</h1>
                                <p class="post-meta">
                                Date : 26/07/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
<p>L'aquarelle est une peinture facile et bon march&eacute; &agrave; r&eacute;aliser. Avec un peu de pratique, sa qualit&eacute; peut &ecirc;tre exceptionnelle, parfois sup&eacute;rieure &agrave; la peinture industrielle. La seule chose un peu extraordinaire consiste en l'acquisition d'une molette de peintre (environ ~ 40&euro; dans un magasin sp&eacute;cialis&eacute;) et de quelques pigments.</p>

<p>Ci dessous, la malette de voyage de Turner contenant les pigments pour ses aquarelles.</p>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/revue-tutoriel-fabrication-aquarelle/valise_turner.jpg"        
                alt="valise du peintre turner"></a>
</div>

<p>...</p></div></section></a><a href=/fr/revue/revue-rando-Ambialet >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">La presqu'île d'Ambialet</h1>
                                <p class="post-meta">
                                Date : 13/07/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Si la presqu'&icirc;le d'Ambialet fait partie des plus belles villes du Tarn, ce n'est pas pour sa superficie ou son architecture, ni pour son barrage... Mais pour son paysage ! La vue qu'elle offre et la tranquilit&eacute; qui y r&eacute;side donnent &agrave; cette ville un vrai air de vacances.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="https://cdn.pixabay.com/photo/2020/07/14/09/08/ambialet-5403545_960_720.jpg"        
                alt="Ambialet Point-de-vue Drone"></a>
</div>

<p>...</p></div></section></a><a href=/fr/revue/revue-rando-bruniquel >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Bruniquel et ses cigales</h1>
                                <p class="post-meta">
                                Date : 12/07/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
<h2>Bruniquel</h2>                               

<p>Si il y a bien une ville qui m'a fait me sentir dans le Sud récemment, c'est Bruniquel. De par son architecture médiévale, le chant de ses cigales ou encore la végétation, cette petite ville du Tarn peut entrer en liste des plus belles villes médiévales aux côtés de Puycelsi.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="https://cdn.pixabay.com/photo/2020/07/12/16/42/bruniquel-5397891_960_720.jpg"        
                alt="Bruniquel Drone"></a>
</div>
<p>...</p></div></section></a><a href=/fr/revue/revue-rando-beynes >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Boucle entre Beynes et Saulx-Marchais</h1>
                                <p class="post-meta">
                                Date : 07/06/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
<h2>Le départ</h2>                               

<p><span style="font-weight: 400;">Toujours avec le d&eacute;sir de connaitre un peu mieux les Yvelines, je me renseigne sur Visorando pour conna&icirc;tre les balades nouvelles &agrave; proximit&eacute; de mon domicile. Aujourd&#39;hui, samedi 7 juin 2020, temps clair mais nuageux, je pr&eacute;f&egrave;re ne pas aller trop loin de chez moi, c&#39;est pourquoi je s&eacute;lectionne la promenade autour de Beynes.&nbsp;</p>
<p>Cette boucle croise de nombreux sites de stockages souterrains de gaz (la curiosit&eacute; m&#39;appelle), mais surtout, c&#39;est une zone et une for&ecirc;t que je n&#39;ai pas encore eu l&#39;occasion de visiter.</span></p>

<p>Alors c&#39;est parti ! Allons &agrave; Beynes.<br>
<span style="font-weight: 400;">Lien vers la randonn&eacute;e sur visoRando :&nbsp;</span>
<a href="https://www.visorando.com/randonnee-boucle-entre-beynes-et-saulx-marchais/"><span style="font-weight: 400;">https://www.visorando.com/randonnee-boucle-entre-beynes-et-saulx-marchais/</span></a></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_beynes/rando-beynes.png"        
                alt="Trace Randonnée Beynes"></a>
</div>
<p>Note: Cette photo vient du site Visorando pour téléphone portable.</p>
<p>...</p></div></section></a><a href=/fr/revue/revue-tendre-le-papier ><!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1>Tutorial aquarelle : tendre le papier</h1>
                                <p class="post-meta">
                                Date : 26/03/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">TUTORIAL</a>
                                </p>
                            </header>
                            <div class="post-description">



<h2>Pourquoi tendre le papier ?</h2>
<p>Le papier mouillé gondole ! C'est une plaie pour l'aquarelliste. Dans cet article, je vous montre comment je tends mes feuilles de papier pour contourner ce problème.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
src="../../static/img/revue_tendre_le_papier/tendre_le_papier_utilisation.jpg"
alt="photo d'une aquarelle sur papier tendu"></a>
</div>

<p>...</p></div></section></a><a href=/fr/revue/revue-ponsonnas >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Ponsonnas, village Alpin, et sa beauté simple.</h1>
                                <p class="post-meta">
                                Date : 18/03/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>

<p><span style="font-weight: 400;">Rien ne vaut mieux qu&rsquo;une activit&eacute; physique en pleine nature ! C&rsquo;est pourquoi je me suis dirig&eacute;e vers les Alpes, et sa nature, son soleil, ses abeilles, ses fleurs&hellip; Dans cet article, je vous pr&eacute;sente un peu Ponsonnas et sa beaut&eacute;.</span></p>

<p><span style="font-weight: 400;">Sachez que le calme des Alpes est tout &agrave; fait adapt&eacute; pour observer la nature de pr&egrave;s ; vous ne pourrez pas rater les montagnes encore couvertes de neige en mars, les abeilles qui, gr&acirc;ce &agrave; ce merveilleux temps ensoleill&eacute;, sortent de leur cachette, les animaux qui profitent autant que vous d&rsquo;un temps doux, les l&eacute;zard qui bronzent, les oiseaux qui chantent... Je ne citerai pas tout ce que l&rsquo;on peut observer, parce qu&rsquo;en r&eacute;alit&eacute;, il n&rsquo;y a pas de fin &agrave; l&rsquo;&eacute;num&eacute;ration. Les Alpes sont riches, la nature y a &eacute;lu domicile plus qu&rsquo;ailleurs.&nbsp;</span></p>

<p>...</p></div></section></a><a href=/fr/revue/revue-rando-montfort >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">De Montfort L'Amaury aux étangs de Hollande</h1>
                                <p class="post-meta">
                                Date : 15/03/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
<h2>Le départ</h2>                               

<p><span style="font-weight: 400;">Aujourd'hui, dimanche 15 Mars 2020, il m&rsquo;&eacute;tait impossible de rester enferm&eacute;e &eacute;tant donn&eacute; le beau soleil annonciateur du printemps. La m&eacute;t&eacute;o tr&egrave;s cl&eacute;mente m&rsquo;incite donc &agrave; reprendre mes balades habituelles dans les beaux coins des Yvelines.&nbsp;</span></p>
<p><span style="font-weight: 400;">Je jette donc mon d&eacute;volu sur une petite randonn&eacute;e d&rsquo;environ 15 km, dont le d&eacute;part est proche de l&rsquo;&eacute;glise Saint-Pierre de Montfort l'Amaury ; tr&egrave;s belle &eacute;glise gothique datant du XV&egrave;me si&egrave;cle.&nbsp;</span></p>

<p><span style="font-weight: 400;">Lien vers la randonn&eacute;e sur visoRando :&nbsp;</span>
<a href="https://www.visorando.com/randonnee-boucle-montfort-l-amaury-les-etangs-de-h/"><span style="font-weight: 400;">https://www.visorando.com/randonnee-boucle-montfort-l-amaury-les-etangs-de-h/</span></a></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Eglise_St_Pierre_5093.jpg"        
                alt="Eglise Saint-Pierre"></a>
</div>
<p>...</p></div></section></a><a href=/fr/revue/revue-kuretake-gansai-tambi >
<!--end_head-->

                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Revue de la peinture aquarelle Gansai Tambi Kuretake</h1>
                                <p class="post-meta">
                                Date : 14/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <h2>L'aquarelle qui vaut le coût ?</h2>
                                
                                <p>   
                                L'aquarelle Gansai Tambi, fabriquée par l'entreprise japonaise Kuretake, est maintenant disponible dans les magasins de materiels d'art. Dans cet article,
                                je vous propose de regarder de plus près si les kilomètres parcourus par cette peinture sont justifiés.       
                                </p>
                                
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi1.jpg" alt="Palettes de peinture Gansai Kuretake" style="width:100%;height:100%;"></p>
                                </div>
<p>...</p></div></section></a><a href=/fr/revue/revue-fountain-pen-lamy2000 >

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Stylo plume, aquarelle et Lamy 2000</h1>
                                <p class="post-meta">
                                Date : 24/02/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                            <h2>Brève histoire du stylo plume et pourquoi l'utiliser en aquarelle</h2>
                                <p>
                                Rechargeable avec un grand choix d'encre, les lignes tracées au stylo plume apportent du contrast et de la personnalité à un dessin. Facilement transportable, il est
                                 un outil de choix pour l'aquarelliste. Dans cette article, je vais présenter brievement l'histoire du stylo plume, pourquoi l'utiliser pour dessiner,
                                et je finirai par une petite presentation du Lamy 2000.
                                </p>
								<br>
							    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_1.jpg"
                                             alt="Dessin a l'aquarelle sur l'anatomie d'un stylo plume"></a>
                                </div>
<p>...</p></div></section></a><a href=/fr/revue/revue-portable-painter >
<!--end_head-->


                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Revue : la palette portable painter</h1>
                                <p class="post-meta">
                                Date : 24/02/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <h2>Qu'est-ce qui fait une bonne palette d'aquarelle ?</h2>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_portable_painter/portable_painter_top.jpg" alt="Photo palette aquarelle portable painter" style="width:100%;height:100%;"></p>
                                </div>
                                <p>
                                Trouver la bonne palette d'aquarelle est un travail difficile. Il y a tellement de paramètres à considérer ! 
                                <br>
                                En particulier :
<p>...</p></div></section></a><a href=/fr/revue/revue-black-ink >                       

<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">L'encre et l'aquarelle</h1>
                                <p class="post-meta">
                                Date : 05/01/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
                                <h2>Qu'est-ce qui rend une encre résistante à l'eau ?</h2>
                                L'encre noire est très couramment utilisée pour amener du contraste à la peinture aquarelle. Aujourd'hui, les encres peuvent être trouvées sous forme liquide 
                                dans des bouteilles. Historiquement toutefois, l'encre était conservée solide sous la forme d'un baton. 
                                Pour faire court, une encre est constituée d'un solvant dans lequel les pigments sont en suspension. Une fois que l'encre est déposée sur le papier, le solvant s'évapore pour ne laisser que les pigments. 
                                La force en charge de mantenir les pigments sur le papier est nommée en physique la force de "Van Der Waals".
                                Cette liaison peut être plus ou moins forte; mouiller le papier peut la briser, et donc déplacer les pigments. L'encre n'est alors pas résistante à l'eau.                                 
                                <br>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_black_ink/review_black_ink_presentation.jpg"        
                                             alt="black_ink_presentation"></a>
                                </div>
<p>...</p></div></section></a>            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
