<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-portable-painter"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-portable-painter","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Analyse de la palette portable painter, palette transportable pour l'aquarelle">    
<title>Revue painter palette</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>

<!--start_head-->
<meta name="description" content="Analyse de la palette portable painter, palette transportable pour l'aquarelle">    
<title>Revue painter palette</title>  
<!--end_head-->


                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Revue : la palette portable painter</h1>
                                <p class="post-meta">
                                Date : 24/02/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <h2>Qu'est-ce qui fait une bonne palette d'aquarelle ?</h2>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_portable_painter/portable_painter_top.jpg" alt="Photo palette aquarelle portable painter" style="width:100%;height:100%;"></p>
                                </div>
                                <p>
                                Trouver la bonne palette d'aquarelle est un travail difficile. Il y a tellement de paramètres à considérer ! 
                                <br>
                                En particulier :
                                <!-- end_header -->
                                </p>
                                <o1>
                                <li> La taille : Combien de godets ? Doit elle tenir dans la poche ? Dans un sac a dos ?</li>
                                <li> Le poids : Les grandes palettes en fer ou en ceramique sont attrayantes ... mais beaucoup plus lourdes que celle en plastique </li>
                                <li> Zones de mélange : La faiblesse </li>
                                <li> Le prix : La fabrication des palettes d'aquarelle constitue un marché de niche et les prix peuvent parfois devenir hallucinants, par exemple les palettes en étain/cuivre</li>
                                </o1>
                                <br>
                                La palette portable painter est un très bon candidat.
								<h2>Analyse de la palette "portable painter"</h2>
                                <br>
                                Spécification :
                                <o1>
                                <li>Fabricant : Portable Painter (www.portablepainter.com)</li>
                                <li>Taille : 14x7.5x2.5mm</li>
                                <li>Poids : 170g (sans peinture)</li>
                                <li>Materiel : plastique</li>
                                <li>Prix : ~25-30€</li>
                                <li>Inclus : 12 godets vides + avec bout d'adhesif au dos </li>
                                <li>Inclus : un pinceau synthétique avec 2 têtes, plutôt quelconque</li>
                                <li>Inclus : un anneau de silicon pour ne pas perdre l'agrafe en métal </li>
                                </o1>
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_presentation1.jpg" alt="Photo palette aquarelle vue du coté" 
style="width:100%;height:100%;"></center></p>
                                </div>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_presentation2.jpg" alt="Photo palette aquarelle vue du dessus" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br>
                                L'utilisation de cette palette est assez originale. En effet, elle est conçue pour être assemblée ; les 2 résevoirs d'eau de chaque côté et le tout posé sur le genou.
                                Les principaux avantages sont d'avoir les 2 mains libres pour peindre et de disposer de 2 grands réservoirs d'eau, un pour nettoyer les pinceaux et l'autre pour faire les mélanges.
                                D'un autre côté, cette palette est pas vraiment pensée pour être utilisée debout.
                                <br>
                                Petite note, l'anneau en silicone est pensé pour ne pas perdre l'agrafe en metal, et pour tenir les pinceaux / stylos.
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_comparison1.jpg" alt="Comparaison palette alexandre Proux" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br>
                                Comparaison avec des palettes usuelles (24 godets et 48 godets).
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_comparison2.jpg" alt="portable_painter_comparison2" 
style="width:100%;height:100%;"> </center></p>
                                </div>
                                <br>
                                Les godets sont vendus vides et ont une taille dépendant du fabricant. Ci-dessous une comparaison avec des godets de Schmincke / Sennelier.
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_pan1.jpg" alt="portable_painter_pan1" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_pan2.jpg" alt="portable_painter_pan2" 
style="width:100%;height:100%;"> </center></p>
                                </div>


                                <br>
                                
                                <h2>Conclusion</h2>
                                Le pinceau inclu dans la palette peut faire l'affaire, mais il est un peu modeste pour tout travail sérieux. Concernant le prix de la palette, on ne pouvait pas
                                vraiment s'attendre a mieux. Afin d'améliorer cet achat, je vous propose de modifier légèrement la palette pour pouvoir loger un pinceau Escoda Reserva taille 8 (le must). Pour cela, il suffit
                                de découper les bords en plastique qui séparent les zones de mélange. Ci-dessous un aperçu de la modification.
                                <br>


                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../../static/img/review_portable_painter/portable_painter_brush1.jpg" alt="palette portable painter modifiee" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br> 
                                Finalement, elle est pour l'instant ma palette favorite et je m'en sers principalement pour peindre a l'extérieur.
                                </p>
                            </div>
                        </section>
					</div>
                </div>            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
