<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-chauvet"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-chauvet","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Le chauvet par le col de l'Holmes">    
<title>Vue à 360° au mont Chauvet</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Le chauvet par le col de l'Holmes">    
<title>Vue à 360° au mont Chauvet</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Vue à 360° au mont Chauvet</h1>
                                <p class="post-meta">
                                Date : 20/02/2021 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Lorsque vous n'avez pas le temps ou bien l'envie de faire une promenade compliquée, longue, épuisante en Isère, mais que vous souhaitez 
voir du paysage malgré tout, vous pouvez entreprendre la promenade du mont Chauvet par le col de l'Holme. <br> 
Cette randonnée à l'avantage d'être peu fréquentée et pourtant, d'offrir un point de vue superbe à 360 degrés, une fois au sommet.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4102_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Environ 3h</li>
<li>Départ: <a href="https://goo.gl/maps/Bc5YdrfPQ6spJVpB6" target=\"_blank\"><span style="font-weight: 400;">Le col de l'Holme (lien Google Maps).</span></a></li>
<li>Visorando: <a href="https://www.visorando.com/randonnee-le-chauvet-au-depart-du-col-de-l-holme/" target=\"_blank\"><span style="font-weight: 400;">Le Chauvet au départ du col de l'Holme.</span></a></li>
<li>Difficulté : Facile pour les expérimentés, sinon moyen. Chemins de terre.</li>

<!-- end_header -->

<h2>Le départ</h2> 

<p>Le départ de la randonnée est indiqué lorsque vous arrivez sur le parking de terre au col de l'Holme. Soit vous faites comme moi; 
c'est à dire vous partez à l'envers et dans ce cas, il faut suivre le chemin de terre. Soit vous partez dans le bon sens. 
J'ai aimé la randonnée dans le sens où je l'ai faite, mais j'avoue qu'au départ, c'était un pur hasard. <br>
Sachez qu'il y a une complication lors de la descente, suite à un point mal renseigné dans visorando, et que dans le "bon" sens (le sens de visorando), vous la rencontrerez dès le départ en montée.</p>

<h2>La montée</h2>

<p>Il n'y a pas vraiment de difficulté sur le chemin, il est facile à suivre puisqu'il est unique. Pour ma part, j'ai fait cette randonnée en février, et il restait un peu de neige sur le chemin ce qui m'a compliqué la tâche, bien que cela offre de belles vues blanches. <br>
En effet, il y a de nombreux passages à l'ombre lors de la montée (dans le sens où je l'ai fait, sinon il s'agira de la descente) car vous traversez une forêt.<br>
Toutefois, hors des mois "à risque" et donc hors neige, le chemin est totalement praticable.</p>

<p>La première partie donc, qui traverse la forêt, n'offre pas de vue particulière. Je crois me souvenir qu'on aperçoit un bout de montagne de temps à autre, mais rien de transcendant. Il faut se montrer patient.<br>
Toutefois, une fois arrivés à mi-chemin juste avant le sommet, vous commencerez à voir les montagnes et les alentours.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4109_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>

<p>Puis vient le moment où il faut prendre votre courage à deux mains, car il est devant vous : le sommet du chauvet. Accrochez-vous et grimpez, ça vaut le coup d'oeil !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4115_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4124_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>

<p>Lorsque vous êtes enfin en haut, attention au vent. En effet, il n'y a plus rien pour le bloquer, il risque d'être fort peu importe la saison. Sinon, voyez par vous-même à quel point, pour si peu de montée, vous pouvez profiter d'une vue superbe.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4129_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4134_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4136_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_chauvet/IMG_4138_Chauvet.jpg"        
                alt="Chauvet Holme Alpes"></a>
</div>

<h2>La descente</h2>

<p>Après avoir savouré la vue, vous decidez de redescendre. La descente se fait dans la continuité du chemin de montée, vers le lac (au fond) pour rejoindre la surface praticable plus bas.<br>
Je cite "praticable" car j'ai trouvé la montée et la descente du toit du Chauvet bien pentue, mais les avis peuvent bien sûr différer.</p>

<p>Sur votre chemin, vous croisez des clotûres de chasses. Attention, en période de chasse je pense qu'il est interdit de les traverser ! 
Et il vous faudra donc faire un gros détour... Ou trouver un autre chemin que j'ai pû rater. <br>
En revanche, hors période de chasse, lorsque la randonnée vous informe qu'il faut tourner sur votre gauche, il vous faudra passer sous les barbelés pour rejoindre la suite du chemin plus loin. <br>
Une fois les barbelés passés, si vous continuez tout droit en suivant la trace, vous tomberez sur le chemin cités sur visorando. Je pense que la randonnée date d'avant la zone de chasse, et par conséquent ce n'est pas renseigné. </p>

<p> Donc si vous trouvez une autre solution, moi-même et les autres randonneurs de visorando sommes preneurs !</p>

<p>Une fois que vous avez rejoints le chemin de descente, vous ne pouvez plus vous perdre et il vous suffit de le suivre jusqu'en bas, de passer à travers les gros portails pour les bovins (j'ai trouvé cela impressionant !). Vous finirez par voir votre voiture de loin et reviendrez par la route (sur une petite portion seulement).</p>

<p> En somme, c'est une randonnée de proximité agréable, fraiche en été je pense, dont la vue est très belle. Vos chaussures aux pieds, votre courage en main, allez-y ! Je vous y encourage.</p>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_chauvet" data-show_dislike_label="true" data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
