<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-champignons"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-champignons","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article explique comment trouver des trompettes chanterelles">    
<title>Coin champignons en Yvelines ; trompettes chanterelles</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
       

<!--start_head-->
<meta name="description" content="Cet article explique comment trouver des trompettes chanterelles">    
<title>Coin champignons en Yvelines ; trompettes chanterelles</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Coin champignons en Yvelines ; trompettes chanterelles</h1>
                                <p class="post-meta">
                                Date : 13/12/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p   

<p>Au cours de mes nombreuses promenades dans les Yvelines et particulièrement, dans la forêt de Rambouillet, j’ai croisé de nombreux endroits pleins de ressources intéressantes, notamment ce coin-là où personne ne va jamais, et où je suis seule à ramasser mes chanterelles. Je suis tellement seule que j’ai beau y aller deux jours par semaines, je ne parviens pas à venir à bout des champignons qui s’y trouvent. J’ai aujourd’hui décidé de le partager avec vous, car je quitte la région parisienne, et j’éprouve un peu de bonheur à savoir que ce coin puisse faire le bonheur de quelqu’un d’autre.</p>

<p>Amateurs, connaisseurs, à vos sacs ! Je vous y emmène. </p>

<!-- end_header -->

<h2>Reconnaître un coin à chanterelles</h2>

<p>Reconnaître un coin à chanterelle n’est pas difficile. Elles aiment:
<li>Les lieux mousseux</li>
<li>Les lieux humides</li>
<li>Les lieux où il y a de nombreux sapins ou pins ou conifères en général</li></p>

<p>Je suis tombée sur cet endroit lors d’une promenade trouvée sur VisoRando, au milieu de la forêt en partant à pieds des étangs de Hollande. Bien sûr, je ne vais pas vous faire faire 2h de marche afin d’arriver au lieu-dit, car n’oublions pas que vous allez devoir faire le chemin en sens inverse pour rentrer après votre cueillette, et si vous transporter un sac de chanterelles, vous aurez vite fait de regretter être parti de loin.</p>
<p>Non, voici le lieu tant attendu: </p>

<a href="https://goo.gl/maps/GEaSW6CjPvwbcDM8A" target=\"_blank\"><span style="font-weight: 400;">Au croisement des chemins de sapins</span></a>


<p>Vous pourrez vous garer à <a href="https://goo.gl/maps/ityj5DnNkEBo1CMK8" target=\"_blank\"><span style="font-weight: 400;">la maison paramédicale Les Bruyères Pourpres</span></a> en voiture afin d’y aller à pieds. Une fois garée, il vous suffit d’aller prendre le chemin en face à gauche, et marcher quelques minutes sur le béton. Puis, vous arrivez devant une barrière en bois, qui vous sépare de la forêt de pins. Derrière la barrière, deux chemins s’offrent à vous. Les deux sont prometteurs, et toute la zone est envahie de trompettes chanterelles de Novembre à Décembre.<br>
Qu’il fasse beau, qu’il vente, qu’il pleuve, n’hésitez pas à y aller. La forêt protège du mauvais temps et un sac de chanterelles de beau gabarit vaut le coup de se prendre un peu d’eau. </p>


<h2>Reconnaître une chanterelle </h2>

<p>Les connaisseurs n’auront pas besoin de ce chapitre-là, mais les amateurs oui, afin d’éviter de ramasser n’importe quel champignon. En effet, les chanterelles ne sont pas les seules occupantes de cet endroit idyllique ; il y a une variété indénombrables de champignons non comestibles qui partagent la mousse et qui parfois même, ressemblent à ce que nous cherchons. <br><br>

Voici, ci-dessous, à quoi ressemble une chanterelle :</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="https://cdn.pixabay.com/photo/2019/11/26/20/19/mushroom-4655429_960_720.jpg"        
                alt="Trompette Chanterelle Champignon Foret Rambouillet"></a>
</div>

<p>Elles possèdent un pied jaune et fin, avec un chapeau beige, voire allant jusqu’au brun. Dans tous les cas, si le champignon dans votre main n’a pas le pied jaune, évitez de le garder.<br>
Les chanterelles présentes sous la forêt de sapin ont tendance à avoir un gros gabarit ; grand chapeau et hautes. Ceci est surtout dû au fait que personne ne les ramasse, et elles ont donc le loisir de grandir sans limite. C’est très satisfaisant de trouver de belles chanterelles et de ne pas avoir de concurrence.</p>

<p>Partout où vous mettrez les pieds, à partir de la première que vous trouverez, vous en trouverez d’autres car les chanterelles poussent en groupe. Prenez soin de nettoyer vos prises avant de les mettre dans votre sac, afin de limiter le nettoyage lorsque vous serez chez vous. </p>

<p>N’hésitez pas à vagabonder un peu partout, à traverser le chemin pour aller d’un côté ou de l’autre, à monter, à descendre. Crapahutez, et vous reviendrez avec un beau sac.</p>

<h2>Conserver les chanterelles</h2>

<p>Si vous avez ramasser de nombreuses chanterelles, voici ce que vous pouvez en faire:</p>

<h3>1 – Les conserver sur une semaine</h3>

<p>Les chanterelles sont conservables sur à peu près une semaine après la cueillette, au frigo de préférence et dans un plat aéré. Pour ma part, je termine de les nettoyer à ce moment-là et les place dans le panier de l’essoreuse à salade, qui est aéré. Ensuite, direction le frigo, et j’en mange pendant une semaine.<br>
Afin de terminer de les nettoyer, il suffit de tapoter le chapeau afin d’éliminer les derniers restes de mousse ou de terre ou de bestiole qui pourraient rester, puis de vérifier que le pied est propre.</p>

<p>Pour les personne à l’estomac fragile, espacez vos repas de chanterelle à un ou deux repas d’intervalle pour ne pas avoir mal au ventre. N’oublions pas que tous les champignons peuvent donner mal au ventre si il y a abus. </p>

<h3>2 – Les manger</h3>

<p>Les trompettes chanterelles fraîches sont délicieuses ! Deux bonnes poignées suffisent pour une personne dans un plat, car leur goût est très présent. <br>
Étant donné que vous avez pré-nettoyer vos chanterelles en forêt pour laisser le moins de terre et de mousse possible ou que vous les avez nettoyer avant de les mettre au frigo, vous n’avez presque rien à faire. </p>

<p>Un de mes plats préféré avec ces champignons, ce sont les pâtes à la crème. Munissez-vous:
<li>De pâtes</li>
<li>De crème semi-liquide</li>
<li>De sel, poivre</li>
<li>D’un oignon ou une échalote</li>
<li>De vos champignons</li></p>

<p>Les champignons mettent 30min minimum à cuire, afin de s’assurer qu’ils sont bien cuit. Commencez donc par eux. </p>

<p>Mettez de l’huile dans une grande poêle, attendez qu’elle chauffe.<br>
Coupez l’oignon ou l’échalote pendant ce temps.<br>
Une fois l’huile chaude, mettez-y l’oignon/l’échalote et les champignons.</p>

<p>Dès que les champignons sont au feu, faites chauffer l’eau des pâtes. L’attente que l’eau chauffe suivi de la cuisson des pâtes permet que les champignons cuisent dans le temps imparti. <br>
Vous pouvez baisser le feu des champignons pendant la cuisson des pâtes. <br>
Surveillez la cuisson tout du long afin que rien de brûle, car les chanterelles sont fragile. Remuez souvent.</p>

<p>Une fois que les pâtes sont cuites, les champignons le seront probablement aussi ou presque. Coupez l’eau des pâtes mais ne coupez pas le feu des champignons. Ajoutez la crème avec les champignons et augmentez le feu afin que la crème s’imprègne du goût des chanterelles. Elle doit prendre une tente marron claire et l’odeur doit être exquise. N’oubliez pas de saler et poivrez selon vos goût.<br>
Notez que pour que le plat ne soit pas fade, il est impératif de bien saler car les champignons ont la fâcheuse tendance d’amoindrir le goût d’un plat (si vous ne salez pas). </p>

<p>Quand vous constatez que tout est prêt, servez-vous. Bon régal !</p>

<p>Des sites sur internet offrent bien sûr un tas d’autres idées. </p>

<h3>3 – Les séchez</h3>

<p>Si vous avez bien trop de champignons pour vous-même, n’hésitez pas à les faire chauffer au four.<br>
Mais avant cela, il faut les blanchir afin qu’ils ne perdent pas leur couleur, et ne virent pas au noir.</p>

<h4>3.1 – Faire blanchir</h4>

<p>Faites chauffer le four autour de 40°C, chaleur tournante (pour ma part, mon four descend uniquement à 50°C, et cela fonctionne aussi). <br>
Vos champignons nettoyés, faites bouillir de l’eau. Dès que celle-ci bout, trempez 1min les champignons dedans et sortez-les. <br>
Répartissez-les sur un torchon, sur une plaque qui va au four. Le torchon va servir à absorber l’humidité et éviter que vos champignons moisissent.</p>

<h4>3.2 – Faire sécher</h4>

<p>Mettez la plaque au four, et entre-ouvrez la porte pour que l’air circule. Laissez entre 4h et 10h. En général, le résultat de l’assèchement se voit très vite, vos champignons rétrécissent énormément et se vident de leur eau.<br>
Si vous avez un doute, laissez-les 6h, mais surveillez quand même. </p>

<p>Ensuite, vous pouvez les ranger à l’abri dans des pots à confitures qui se ferment, par exemple. </p>

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_champignons" data-show_dislike_label="true"  data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
