<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-black-ink"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-black-ink","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article compare plusieurs encre noires utilisées avec la peinture à l'aquarelle. Une évaluation des encres pour l'aquarelle.">    
<title>L'encre et l'aquarelle</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Cet article compare plusieurs encre noires utilisées avec la peinture à l'aquarelle. Une évaluation des encres pour l'aquarelle.">    
<title>L'encre et l'aquarelle</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">L'encre et l'aquarelle</h1>
                                <p class="post-meta">
                                Date : 05/01/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
                                <h2>Qu'est-ce qui rend une encre résistante à l'eau ?</h2>
                                L'encre noire est très couramment utilisée pour amener du contraste à la peinture aquarelle. Aujourd'hui, les encres peuvent être trouvées sous forme liquide 
                                dans des bouteilles. Historiquement toutefois, l'encre était conservée solide sous la forme d'un baton. 
                                Pour faire court, une encre est constituée d'un solvant dans lequel les pigments sont en suspension. Une fois que l'encre est déposée sur le papier, le solvant s'évapore pour ne laisser que les pigments. 
                                La force en charge de mantenir les pigments sur le papier est nommée en physique la force de "Van Der Waals".
                                Cette liaison peut être plus ou moins forte; mouiller le papier peut la briser, et donc déplacer les pigments. L'encre n'est alors pas résistante à l'eau.                                 
                                <br>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_black_ink/review_black_ink_presentation.jpg"        
                                             alt="black_ink_presentation"></a>
                                </div>
                                <!-- end_header -->
                                <br>
                                <br>
                                <p>Dans le cas d'une entre résistante à l'eau, les additifs qui sont ajoutés par les fabriquants effectuent une réaction lorsque l'encre sèche. Cette réaction modifie
                                la structure chimique de l'encre et donc renforce la force de "Van Der Walls". Il est important de noter qu'une encre n'est jamais 100% résistante à l'eau, certains solvants comme l'alcool peuvent casser les forces en jeu.</p>
                                
                                <h2>Critères à considérer</h2>
                                Ci-dessous sont présentés les critères à considérer lors du choix de l'encre :
                                <o1>
                                    <li>Résistance à l'eau : Comme indiqué plus tôt, l'effort pour briser les liens chimiques de l'encre sèche</li>
                                    <li>L'intensité de la couleur noire : La qualité et la concentration du pigment noir utilisé</li>
                                    <li>L'encrassage : Est-ce que cette encre peut être utilisé dans un stylo plume ? Va-t-elle abimer mes pinceaux ?</li>
                                </o1>
                                <br>
                                <h2>Evaluation des encres noire</h2>
                                La résistance à l'eau est essentielle pour la peinture à l'aquarelle, car celle-ci nécessite souvent d'humidifier voire de mouiller totalement le papier utilisé, et donc l'encre qui pourrait s'y trouver. Toutefois, une encre qui résiste à l'eau sacrifie souvent la fluidibilité de sa matière. 
                                <br>
                                Dans le cas d'un dessin simple, il est absolument nécessaire d'éviter de mélanger deux encres différentes. Une fois sèches, les encres risquent de paraitre totalement différentes et ruiner les efforts du travail réalisé. 
                                Lorsqu'une encre n'est pas utilisée, sa bouteille doit être conservée bouchée ain d'éviter une épaississement prématuré à cause de l'évaporation. Lorsqu'une bouteille d'encre atteint la fin de sa vie, c'est-à-dire qu'elle n'est plus assez protectrice, alors l'encre a une texture plus épaisse. C'est pourquoi il peut être intéressant de garder sous la main une bouteille neuve afin de garantir des lignes fines dans un dessin. Il est également possible de diluer l'encre épaissit avec un peu d'eau.
                                <br>
                                <br>
                                Trouver l'encre parfaite pour travailler avec de la peinture à l'aquarelle peut s'avérer un vrai défit. Depuis que j'ai commencé l'aquarelle, j'ai accumulé de nombreuses bouteilles d'encre. Dans la suite de cet article, je vais comparer ces différentes encres et vous donner mon opinion sur chacunes d'elles.
                                <br>
                                <br>
                                Pour cette comparaison, j'ai sélectionné ces encres :
                                <o1>
                                    <li>Winsor and Newton black indian ink (951)</li>
                                    <li>Random ink bought in china</li>
                                    <li>Hero 234</li>
                                    <li>Sennelier indian ink "a la pagode"</li>
                                    <li>Pelikan fount india</li>
                                    <li>Platinum carbon ink</li>
                                    <li>Pigma Micro (0.8)</li>
                                </o1>
                                <br>                                                                
                                Mon évaluation est composée de trois tests :
                                <o1>
                                    <li>Un échantillon d'écriture de 30 secondes de séchage</li>
                                    <li>Un échantillon d'écriture de 5 minutes de séchage</li>
                                    <li>Un échantillon d'écriture de 30 minutes de séchage</li>
                                </o1>
                                <br>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_black_ink/review_black_ink_test.jpg"        
                                             alt="black_ink_test"></a>
                                </div>
                                <br>
                                <br>
                                Voyons ce que donnent les résultats !
                                <br>
                                <br>
                                <u>Winsor and Newton black indian ink (951)</u>
                                <br>
                                <o1>
                                    <li>Résistance à l'eau : Très bon </li>
                                    <li>Intensité du noir : Très bon </li>
                                    <li>Encrassage : Ne peut pas être utilisé avec un stylo plume</li>
                                </o1>
                                
                                <br>
                                <u>Random ink bought in china</u>
                                <br>
                                <o1>
                                    <li>Résistance à l'eau : Aucune résistance </li>
                                    <li>Intensité du noir : Gris </li>
                                    <li>Encrassage : Ne peut pas être utilisé avec un stylo plume</li>
                                </o1>
                                
                                <br>
                                <u>Hero 234</u>
                                <br>
                                <o1>
                                    <li>Résistance à l'eau : Aucune résistance </li>
                                    <li>Intensité du noir : Bon </li>
                                    <li>Encrassage : Certaines personnes sur internet utilisent cette encore avec un stylo plume.. Mais je ne tenterai pas l'expérience</li>
                                </o1>
                                
                                <br>
                                <u>Sennelier indian ink "a la pagode"</u>
                                <br>
                                <o1>
                                    <li>Résistance à l'eau : Excellent quand elle est sèche</li>
                                    <li>Intensité du noir : Meilleur du lot </li>
                                    <li>Encrassage : Très difficile à utiliser. Très encrassante. Ne doit jamais être utilisé avec un stylo plume. Je recommande de la diluer avec de l'eau pour améliorer sa fluidité</li>
                                </o1>

                                <br>
                                <u>Pelikan Fount india</u>
                                <br>
                                <o1>
                                    <li>Résistance à l'eau : Aucune résistance</li>
                                    <li>Intensité du noir : Bon </li>
                                    <li>Encrassage : Compatible avec un stlylo plume, mais qui doit être régulièrement néttoyé </li>
                                </o1>                                                                

                                <br>
                                <u>Platinum Carbon ink</u>
                                <br>
                                <o1>
                            <li>Résistance à l'eau : Excellent </li>
                                <li>Intensité du noir : Excellent </li>
                                <li>Encrassage : Compatible avec un stlylo plume, mais qui doit être régulièrement néttoyé </li>
                                </o1>                                                                
                                                                                                                            
                                <br> 
                                                                <h2>Conclusion</h2>
                                Il y a beaucoup d'encres noire sur le marché. Actuellement, ma favorite est la Platinum Carbon ink combinée avec le lamy 2000. 
                                <br> 
                                <br> 
                                Note : Noodler vend une encre nommée bullet-proof qui semble avoir bons avis. Cette encre mérite probablement un essai. 
                                </p>
                            </div>
                        </section>
                        
<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_black_ink" data-show_dislike_label="true"  data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END --><!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
