<!doctype html>
<html lang="fr">
    <head>
    
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->
                
<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-Prapic"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-Prapic","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico">
<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade à Prapic dans les Alpes.">    
<title>Prapic, promenade accessible et marmottes</title>  

    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_paintings">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            <div class="content pure-u-1 pure-u-md-3-4">
            

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Prapic, promenade accessible et marmottes</h1>
                                <p class="post-meta">
                                Date : 12/08/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Prapic, dans les Hautes Alpes, est normalement réputé pour ses marmottes plus que pour sa promenade, et pourtant après deux fois où j'y suis allée, je n'y ai rencontré que une ou deux marmottes, mais j'ai pu apprécier la vue et la promenade. J'aime beaucoup les lieux. J'y retourne tous les deux ans. J'aimerais vous en donner un aperçu.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2018.jpg"        
                alt="Prapic Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Environ 1h30. Un peu de plateau entre deux montées.</li>
<li>Départ: <a href="https://goo.gl/maps/R3SivPErddxzFR7S9" target=\"_blank\"><span style="font-weight: 400;">Village de Prapic</span></a></li>
<li>Difficulté : Très facile. Chemin caillouteux mais très praticable.</li>

<!-- end_header -->

<h2>Le départ</h2> 

<p>Prapic est le nom du village où commence la promenade, dans les Hautes Alpes (le Champsaur, plus précisément). En arrivant en voiture, vous pouvez vous garer dans le parking à l'entrée des lieux. Il n'y a pas beaucoup de distance entre ce parking et l'entrée du village.</p>

<p>Vous traverserez forcément ce village pour débuter la marche. </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2084.jpg"        
                alt="Prapic Alpes"></a>
</div>

<p>Et oui, vous commencerez par monter cette pente. Courage !</p>

<p>Concernant le repas, vous pouvez réserver pour midi à l'Auberge de la Jabiore, où ils font de très bons tourtons ; c'est une raviole, la spécialité du Champsaur. Ou alors, vous pouvez comme je l'ai fait cette année, prendre votre pique nique avec vous et manger au sommet devant la vue. <br>
Si vous choisissez l'option Auberge, je vous conseille d'appeler à l'avance pour réserver. </p>

<h2>La montée </h2>

<p>La montée est facile et praticable, même pour des enfants. Toutefois, certaines parties sont rocailleuses, c'est pourquoi il vaut mieux avoir de bonnes chaussures.
Celle-ci dure 1h30 environ, et alterne entre une montée, un long plateau, puis de nouveau de la montée jusqu'à la cascade et plus loin. Vous suivrez le ruisseau tout le long, et serez majoritairement à l'ombre le matin.</p>

<p>La promenade est très fréquentée jusqu'à la cascade, c'est pourquoi je vous conseille de monter tôt le matin :
<li> Vous pourrez peut être apercevoir les marmottes puisqu'il y aura moins de monde</li>
<li> Vous ferez une randonnée tranquille, car les randonneurs débutants ou famille arrivent en général en haut vers 11h.</li></p>

<p>Le long du trajet, vous croiserez une petite chapelle très jolie, un ponton en bois (qui a été mis en place il y a peu), une montée rocailleuse... Et je vous laisse le reste en surprise ! </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2020.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2022.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2030.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2071.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2077.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2079.jpg"        
                alt="Prapic Alpes"></a>
</div>

<h2> La cascade </h2>

<p>Vous apercevez de loin le petit pont en bois qu'il faudra traverser, c'est donc que vous êtes à la fin ! Ou du moins, au début de la cascade.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2068.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2054.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2031.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2034.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2056.jpg"        
                alt="Prapic Alpes"></a>
</div>

<p> J'admets que beaucoup de mes photos se sont concentrées sur ces petites maisons que j'ai trouvé très charmantes.. Mais croyez-moi, la vue autour est très jolie ! Cela vous laisse la surprise de la découverte.</p>

<h2> Aller plus haut </h2>

<p>Vous pouvez bien évidemment vous éloigner des hordes de touristes. Pour cela, continuez sur le chemin le long du ruisseau qui dessert la cascade, et montez tranquillement. Cela va vous prendre 1h de plus.<br>
Je ne suis pour ma part montée que jusqu'à voir la butte à droite, en hauteur, proche du cabanon de berger. La vue est belle, et je ne m'étais pas renseignée sur ce qu'il y avait derrière.. Je n'ai donc pas osé m'enfoncer davantage.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2036.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2043.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2044.jpg"        
                alt="Prapic Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_prapic/Prapic-IMG_2048.jpg"        
                alt="Prapic Alpes"></a>
</div>

<h2>Le retour </h2>

<p>Le retour se fait par le même chemin que celui d'arrivée, ou alors vous pouvez également descendre par l'autre côté du ruisseau. Les routes se rejoingent un peu plus loin au niveau du panneau "Saut du Laire" que vous avez déjà croisé.</p>


<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.
<br>Vous pouvez retrouver certaines des photos en bonne qualité sur ma page 
<a href="https://pixabay.com/fr/users/sinason-14315822/?tab=latest" target=\"_blank\"><span style="font-weight: 400;">PIXABAY:SINASON</span></a></p>

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_prapic" data-show_dislike_label="true" data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

<!--end_content-->
            
            
                <div class="footer">
                    <p>Copyright &copy; Alexandre Proux </p>
                </div>
            </div>
        </div>
    </body>
</html>
