<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-montfort"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-montfort","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade de Montfort L'Amaury jusqu'aux étangs de Hollande.">    
<title>De Montfort L'Amaury aux étangs de Hollande</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade de Montfort L'Amaury jusqu'aux étangs de Hollande.">    
<title>De Montfort L'Amaury aux étangs de Hollande</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">De Montfort L'Amaury aux étangs de Hollande</h1>
                                <p class="post-meta">
                                Date : 15/03/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
<h2>Le départ</h2>                               

<p><span style="font-weight: 400;">Aujourd'hui, dimanche 15 Mars 2020, il m&rsquo;&eacute;tait impossible de rester enferm&eacute;e &eacute;tant donn&eacute; le beau soleil annonciateur du printemps. La m&eacute;t&eacute;o tr&egrave;s cl&eacute;mente m&rsquo;incite donc &agrave; reprendre mes balades habituelles dans les beaux coins des Yvelines.&nbsp;</span></p>
<p><span style="font-weight: 400;">Je jette donc mon d&eacute;volu sur une petite randonn&eacute;e d&rsquo;environ 15 km, dont le d&eacute;part est proche de l&rsquo;&eacute;glise Saint-Pierre de Montfort l'Amaury ; tr&egrave;s belle &eacute;glise gothique datant du XV&egrave;me si&egrave;cle.&nbsp;</span></p>

<p><span style="font-weight: 400;">Lien vers la randonn&eacute;e sur visoRando :&nbsp;</span>
<a href="https://www.visorando.com/randonnee-boucle-montfort-l-amaury-les-etangs-de-h/"><span style="font-weight: 400;">https://www.visorando.com/randonnee-boucle-montfort-l-amaury-les-etangs-de-h/</span></a></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Eglise_St_Pierre_5093.jpg"        
                alt="Eglise Saint-Pierre"></a>
</div>
<!-- end_header -->


<p><span style="font-weight: 400;">Le d&eacute;part de la balade se fait sur le chemin &agrave; droite de l&rsquo;&eacute;glise par la </span><strong>Rue du Sanc&eacute;</strong><span style="font-weight: 400;">, jusqu&rsquo;&agrave; l&rsquo;intersection entre la </span><strong>Rue du Ch&acirc;teau Gaillard</strong><span style="font-weight: 400;"> et </span><strong>Chemin du Bois Renoult</strong><span style="font-weight: 400;">. 
<br>La rue du Sanc&eacute; met d&eacute;j&agrave; en valeur la beaut&eacute; de Montfort l&rsquo;Amaury, son architecture, et sa nature, et son cachet.&nbsp;</span></p>

<p><span style="font-weight: 400;">Je vous recommande de prendre &agrave; gauche sur la </span><strong>Rue Du Ch&acirc;teau Gaillard</strong><span style="font-weight: 400;"> comme l&rsquo;indique VisoRando, car cela vous fera une jolie surprise pour la fin. Cette rue fait commencer par une petite mont&eacute;e pour mettre les randonneurs dans le bain. Au cours de la mont&eacute;e, vous rencontrerez sur votre route une jolie maison avec une tour. Typique et belle.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/belleMaison_Montfort_4884.jpg"        
                alt="Jolie Maison"></a>
</div>

<p><span style="font-weight: 400;">Pour les photographes ou amateurs, vous pourrez &eacute;galement croiser de jolies fleurs telles que celles-ci:</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/primevert_fleurs_4886.jpg"        
                alt="Prime Vert"></a>
</div>

<h2>L&rsquo;&eacute;tang de la Plaine</h2>

<p><strong>L&rsquo;&eacute;tang de la Plaine</strong><span style="font-weight: 400;"> est la premi&egrave;re r&eacute;compense de la balade. Cette petite &eacute;tendue d&rsquo;eau n'accueillait malheureusement pas d&rsquo;oiseaux &agrave; la p&eacute;riode de Mars, mais le paysage se suffit &agrave; lui-m&ecirc;me ; des petites &icirc;les, un ponton et une maisonnette peuplent l&rsquo;&eacute;tang.&nbsp;</span></p>
<p><span style="font-weight: 400;">Notez tout de m&ecirc;me qu&rsquo;il n&rsquo;est pas possible d&rsquo;aller sur l&rsquo;&icirc;lot, &eacute;tant donn&eacute; qu&rsquo;il est priv&eacute;. Mais au moins, vous pouvez admirer la vue.&nbsp;</span></p>


<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Cabane_Etang_Plaine_4897.jpg"        
                alt="Cabane Etang de la Plaine"></a>
</div>


<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etang_Plaine_4908.jpg"        
                alt="Etang de la Plaine"></a>
</div>

<p><span style="font-weight: 400;">Au bout de l&rsquo;&eacute;tang, apr&egrave;s avoir pris &agrave; droite le long de la route, vous entrez officiellement dans la </span><strong>for&ecirc;t domaniale de Rambouillet</strong><span style="font-weight: 400;">.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Rambouillet_Foret_4910.jpg"        
                alt="Foret Rambouillet"></a>
</div>

<h2>L&rsquo;&eacute;tang de la Maurue</h2>

<p><span style="font-weight: 400;">La balade entre les arbres (et &agrave; cette p&eacute;riode, la boue) continue jusqu&rsquo;&agrave;</span><strong> l&rsquo;&eacute;tang des Maurues</strong><span style="font-weight: 400;"> par la par la</span><strong> Route Robert </strong><span style="font-weight: 400;">suivie de la </span><strong>Route Bels&eacute;dene</strong><span style="font-weight: 400;">. Prenez bien le chemin de gauche au croisement avant l&rsquo;&eacute;tang, qui descend jusqu&rsquo;au point d&rsquo;eau.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etang_Maurue_4914.jpg"        
                alt="Etang de la Maurue"></a>
</div>

<p><span style="font-weight: 400;">Continuez sur la </span><strong>Route Bels&eacute;dene </strong><span style="font-weight: 400;">&agrave; travers la for&ecirc;t. Vous rencontrerez peut &ecirc;tre, selon la p&eacute;riode, des arbres en fleurs. J&rsquo;aime particuli&egrave;rement les premi&egrave;res fleurs rose et blanche sur les arbustes. Elles sont de bons sujets de photographie.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Fleurs_Roses_4928.jpg"        
                alt="Fleurs"></a>
</div>

<p><span style="font-weight: 400;">Pour ma part, j&rsquo;aime particuli&egrave;rement la nature. M&ecirc;me si les arbres ne sont pas couverts de feuilles en Mars, la forme des branches dans le ciel bleu rend particuli&egrave;rement bien. Toutefois si vous pr&eacute;f&eacute;rez une for&ecirc;t feuillue, je vous recommande de faire cette balade plus tard dans l&rsquo;ann&eacute;e.&nbsp;</span></p>                             

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Arbres.jpg"        
                alt="Arbres"></a>
</div>

<h2>Enchainement de carrefours</h2>

<p><span style="font-weight: 400;">Vous suivez le chemin jusqu&rsquo;au </span><strong>carrefour des Maurus</strong><span style="font-weight: 400;"> dont la photo ci-dessous vous donne un aper&ccedil;u.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Carrefour_Maurues_4939.jpg"        
                alt="Carrefour des Maurues"></a>
</div>

<p><span style="font-weight: 400;">Une petite trotte vous am&egrave;ne jusqu&rsquo;au </span><strong>carrefour du Comte de Toulouse</strong><span style="font-weight: 400;">; simple giratoire muni d&rsquo;un poteau indicateur. Si vous &ecirc;tes habitu&eacute;s &agrave; la for&ecirc;t de Rambouillet, vous trouverez souvent des poteau comme celui-ci. En g&eacute;n&eacute;ral, leur emplacement est tr&egrave;s photog&eacute;nique.&nbsp;</span></p>
<p><span style="font-weight: 400;">Vous pouvez vous aider du poteau (ou du GPS bien s&ucirc;r, mais c&rsquo;est moins amusant) pour trouver la </span><strong>Route du Ch&ecirc;ne Montavale</strong><span style="font-weight: 400;">.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Carrefour_Comte_TLSE_4945.jpg"        
                alt="Carrefour du Comte de Toulouse"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Carrefour_Comte_TLSE_4949.jpg"        
                alt="Carrefour du Comte de Toulouse"></a>
</div>

<p><span style="font-weight: 400;">Cette route ressemble davantage &agrave; un chemin de terre bord&eacute; par la for&ecirc;t qu&rsquo;&agrave; une route. Au bout du chemin, au croisement, vous tombez sur une table en pierre particuli&egrave;rement belle : la </span><strong>Table du Roi</strong><span style="font-weight: 400;">.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Table_Roi_4958.jpg"        
                alt="Table du Roi"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Table_Roi_4972.jpg"        
                alt="Table du Roi"></a>
</div>

<h2>Les &eacute;tangs de Hollande</h2>

<p><span style="font-weight: 400;">En continuant sur la Route du Ch&ecirc;ne Montavale, vous croisez de nombreux panneaux accroch&eacute;s aux arbres et vous indiquant la route. Un panneau, particuli&egrave;rement, vous indique que vous vous approchez des &eacute;tangs de Hollande. Figurez-vous que c&rsquo;est justement par l&agrave; que la balade am&egrave;ne. Bonne nouvelle n&rsquo;est-ce pas ?&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Panneau_Etang_Hollande_4965.jpg"        
                alt="Panneau Etangs de Hollande"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Panneau_Etang_Hollande_4974.jpg"        
                alt="Panneau Etangs de Hollande"></a>
</div>

<p><span style="font-weight: 400;">Les &eacute;tangs de Hollandes forment un endroit sympathique pour une promenade. Vous rencontrerez souvent des cavaliers et des p&ecirc;cheurs sur les passerelles entre chaque &eacute;tangs.&nbsp;</span></p>

<p><span style="font-weight: 400;">R&eacute;cemment, j&rsquo;ai &eacute;galement pu apercevoir des Gr&egrave;bes Hupp&eacute;s. Actuellement, en Mars, ce n&rsquo;est pas la p&eacute;riode de reproduction mais il parait que plus tard, de nombreux petits canetons se baladent avec les parents.&nbsp;</span></p>
<p><span style="font-weight: 400;">Je vous propose ci-dessous plusieurs photos pour vous donner l&rsquo;eau &agrave; la bouche:</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etangs_Hollande_4984.jpg"        
                alt="Etangs de Hollande"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etangs_Hollande_4988.jpg"        
                alt="Etangs de Hollande"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etangs_Hollande_4994.jpg"        
                alt="Etangs de Hollande"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Etangs_Hollande_5003.jpg"        
                alt="Etangs de Hollande"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Grebe_Huppe_4765.jpg"        
                alt="Grèbe Huppé"></a>
</div>

<h2>Après les &eacute;tangs</h2>

<p><span style="font-weight: 400;">Traversez les &eacute;tangs. A ce stade, vous avez plusieurs possibilit&eacute;s :&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ou bien vous tournez &agrave; droite directement apr&egrave;s la travers&eacute;e, et vous longez l&rsquo;&eacute;tang sur la </span><strong>Route aux Vaches</strong><span style="font-weight: 400;">. Au bout de l&rsquo;&eacute;tang, tournez &agrave; droite sur la </span><strong>Route Foresti&egrave;re de la Chauss&eacute;e de Hollande</strong><span style="font-weight: 400;">, jusqu&rsquo;au giratoire. Ce raccourci est pratique, notamment lorsqu&rsquo;il a plu avant la balade car vous &eacute;viterez la boue.&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ou bien vous suivez le chemin que recommande VisoRando, c&rsquo;est-&agrave;-dire qu&rsquo;apr&egrave;s la travers&eacute;e de l&rsquo;&eacute;tang, vous continuez tout droit jusqu&rsquo;au croisement avec </span><strong>Route des Bergeries</strong><span style="font-weight: 400;">.&nbsp;</span></li>
</ul>

<p><span style="font-weight: 400;">J&rsquo;ai continu&eacute; tout droit. Evidemment, j&rsquo;ai subi l&rsquo;&eacute;preuve de la boue mais j&rsquo;&eacute;tais v&ecirc;tus pour l&rsquo;occasion !&nbsp;</span></p>
<p><span style="font-weight: 400;">Donc en continuant tout droit, vous croiserez un petit pont enjambant un ruisseau. Sachez qu&rsquo;en Mars, vous y verrez des grenouilles. J&rsquo;ai photographi&eacute; l&rsquo;une d&rsquo;entre elles pour la partager avec vous.</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Petit_Pont_5012.jpg"        
                alt="Petit Pont"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Grenouille_5016.jpg"        
                alt="Petit Pont"></a>
</div>

<p><span style="font-weight: 400;">En suivant le chemin, vous ne pourrez pas rater une petite maison tr&egrave;s verte qui s&rsquo;int&egrave;gre tr&egrave;s bien dans le paysage. Sur la photo, vous pourrez &eacute;galement constater &agrave; quel point le chemin &eacute;tait boueux..&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Maison_5023.jpg"        
                alt="Maison"></a>
</div>

<p><span style="font-weight: 400;">Sur le chemin des Bergeries, vous croisez la </span><strong>Route Foresti&egrave;re de la Chauss&eacute;e de Hollande.</strong><span style="font-weight: 400;"> Vous avez &agrave; nouveau deux possibilit&eacute;s :</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ou bien aller &agrave; droite, et en suivant la route vous tombez sur le giratoire cit&eacute; plus t&ocirc;t. Cela raccourcit la balade et vous pouvez restez sur du bitume, donc &eacute;viter la boue. C&rsquo;est n&eacute;anmoins moins champ&ecirc;tre.&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Ou bien vous continuez tout droit sur la Route des Bergeries, jusqu&rsquo;au croisement avec la piste cyclable Montfort-Rambouillet.</span></li>
</ul>

<p><span style="font-weight: 400;">J&rsquo;ai pris tout droit jusqu&rsquo;au croisement de la piste cyclable.&nbsp;</span></p>

<h2>Entamons notre retour</h2>

<p><span style="font-weight: 400;">Tournez &agrave; droite, traversez la </span><strong>Route aux Vaches</strong><span style="font-weight: 400;">, et continuez sur le </span><strong>Chemin de Bazoches</strong><span style="font-weight: 400;"> jusqu&rsquo;au </span><strong>Carrefour du Poteau de Hollande</strong><span style="font-weight: 400;">.</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Carrefour_Hollande_5035.jpg"        
                alt="Carrefour du Poteau de Hollande"></a>
</div>

<p><span style="font-weight: 400;">Suivez la </span><strong>Route des Deux Ch&acirc;teaux</strong><span style="font-weight: 400;">. Remarquez les nombreux grands arbres qui bordent la route !</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Arbres_5038_5040_5045.jpg"        
                alt="Arbres"></a>
</div>

<p><span style="font-weight: 400;">Continuez sur la Route des Deux Ch&acirc;teaux jusqu&rsquo;&agrave; la </span><strong>D138</strong><span style="font-weight: 400;">. Il faut l&rsquo;emprunter sur quelques m&egrave;tres avant de retourner en for&ecirc;t en tournant sur la droite. Vous tombez sur une maison forestière et son c&egrave;dre.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Cedre_5049.jpg"        
                alt="Maison Forestière"></a>
</div>

<p><span style="font-weight: 400;">Ne vous trompez pas : tournez &agrave; gauche au c&egrave;dre sur la </span><strong>Route Foresti&egrave;re de Montfort</strong><span style="font-weight: 400;"> et ne suivez pas la route en bitume. Allez jusqu&rsquo;au </span><strong>Carrefour du Pr&eacute; au Prince</strong><span style="font-weight: 400;">.&nbsp;</span></p>

<h2>Sur la route de Montfort</h2>

<p><span style="font-weight: 400;">Traversez le carrefour. Au fur et &agrave; mesure de la marche, vous pourrez voir sur votre gauche appara&icirc;tre des champs, dans un premier temps, puis les premi&egrave;res maisons de Montfort l&rsquo;Amaury.&nbsp;</span></p>

<p><span style="font-weight: 400;">Entrez sur le </span><strong>Chemin de la Rigole</strong><span style="font-weight: 400;"> et continuez sur le </span><strong>Chemin du Bois Renoult</strong><span style="font-weight: 400;">. Voici ce que j&rsquo;appelle la surprise de la fin ; vous allez traverser une rue apparemment tr&egrave;s riche de la ville.&nbsp;</span></p>

<p><span style="font-weight: 400;">Je n&rsquo;ai pas pris les maisons en photo, car ce sont des emplacements &eacute;videmment priv&eacute;s. Toutefois, je peux vous faire profiter de quelques photos de fleurs :</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Fleurs_5070.jpg"        
                alt="Fleurs"></a>
</div>

<br>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Fleurs_5072.jpg"        
                alt="Fleurs"></a>
</div>

<p><span style="font-weight: 400;">En descendant la rue, n&rsquo;oubliez pas de jeter un oeil sur la gauche ; vous apercevrez la </span><strong>Tour Anne-De-Bretagne</strong><span style="font-weight: 400;"> situ&eacute;e en hauteur. La tour, class&eacute;e monument historique, date du XV&egrave;me, et f&ucirc;t construite par Anne de Bretagne sur les ruine d&rsquo;un ancien ch&acirc;teau. Vous pouvez aller au pied du monument, ce n&rsquo;est pas une mont&eacute;e tr&egrave;s compliqu&eacute;e. Songez-y pour une prochaine balade dans la ville de Montfort.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Tour_Anne_5078.jpg"        
                alt="Tour Anne de Bretagne"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Tour_Anne_5080.jpg"        
                alt="Tour Anne de Bretagne"></a>
</div>

<p><span style="font-weight: 400;">N&rsquo;oubliez pas non plus de regarder tout droit o&ugrave; vous pourrez admirer l&rsquo;&eacute;glise (oui, oui, celle du point de d&eacute;part).</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Eglise_St_Pierre_5082.jpg"        
                alt="Eglise Saint-Pierre"></a>
</div>

<p><span style="font-weight: 400;">Une fois revenu sur la place de la lib&eacute;ration, n&rsquo;oubliez pas de jeter un oeil aux maisons dont l&rsquo;architecture est assez atypique.</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_rando_montfort/Architecture_5090.jpg"        
                alt="Maisons Architecture Atypique"></a>
</div>
<p><span style="font-weight: 400;">Vous avez termin&eacute; la balade, f&eacute;licitation !&nbsp;</span></p>

<p><span style="font-weight: 400;">Lien vers l&rsquo;histoire de la Tour Anne-De-Bretagne :</span>
<a href="https://fr.wikipedia.org/wiki/Tour_Anne-de-Bretagne"><span style="font-weight: 400;">https://fr.wikipedia.org/wiki/Tour_Anne-de-Bretagne</span></a></p>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.
<br>Logiciel de retouche utilisé quand nécessaire : darktable. Software free.</p>


<p><br /><br /><br /></p>

<!--end_content-->            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
