<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-Saal"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-Saal","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Revue de la création d'un livre photos avec Saal.">    
<title>J'ai testé Saal et leur livre photos !</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Revue de la création d'un livre photos avec Saal.">    
<title>J'ai testé Saal et leur livre photos !</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">J'ai testé Saal et leur livre photos !</h1>
                                <p class="post-meta">
                                Date : 06/09/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              


<p>Tout d'abord, je souhaite remercier Saal qui m'a offert un bon pour pouvoir réaliser un livre photos. J'avoue que j'étais sceptique car le bon avait une valeur de 100€, et ça me semblait énorme. Mais contre toute attente, ce n'était pas une arnaque ! J'ai donc pu réellement profiter de ce bon et me créer un livre photos souvenir sur mes vacances dans les Alpes.</p>  

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-1.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>

<!-- end_header -->

<h2>La création avec l'outil de Saal</h2>

<p>La création se fait grâce à leur application disponible sur plus ou moins toutes les plateformes et OS, sauf Linux. Dans mon cas, un de mes ordinateurs est sous Windows, j'ai donc pu télécharger et utiliser leur application.

<br>Pour télécharger leur outil, il suffit simplement d'aller sur leur <a href="https://www.saal-digital.fr/professional-line/" target="_blank"><span style="font-weight: 400;">site</span></a>. De ce point de vue, c'est très simple.</p>
La création
<p>Leur outil est également très simple d'utilisation et très intuitif. Ils proposent même des tutoriels rapides pour le prendre en main ! Il m'a fallut quelques minutes pour comprendre et commencer mon livre photos. C'est dans cette application que vous pourrez également choisir la taille, la couverture, le nombre de pages, etc.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">of the Saal book
<iframe width="560" height="315" src="https://www.youtube.com/embed/AA7X2mzTS38">
</iframe>
</div>

<p>Pour ma part, j'ai préféré rajouter un peu d'argent pour :
<li>Avoir une couverture en cuir noir avec une plaque de verre afin de mettre une photo en première page,</li>
<li>Avoir un grand format (30x40cm),</li>
<li>Avoir plus de pages,</li>
<li>Avoir un papier mate.</li><br>

Cependant, avec le bon qu'ils m'ont offert, je pouvais me contenter d'un livre photos plus simple sans débourser un sou. C'était donc une vraie opportunité !</p>

<p>Sans bon toutefois, c'est vrai que le prix peut sembler cher.. mais je mets au défis de trouver une entreprise avec la même simplicité d'utilisation pour moins cher ! Et comme on va voir, avec la même qualité d'impression, et le même rendu. <br> 
De ce côté, malgré le prix, je mets un bon point à Saal.</p>

<h2>Le livre photos : le produit final de Saal</h2>

<p>J'ai dû attendre un peu avant de recevoir mon livre photos, mais ce fut un vrai plaisir quand il est arrivé ! <br><br>

J'avais peur de la qualité d'impression, et du rendu. Après tout, l'impression peut totalement différer de ce que vous voyez sur votre ordinateur ou appareil photo, si ceux-ci ne sont pas bien calibrés.<br>
Mais honnêtement, le rendu est parfait, la qualité est au rendez-vous.</p>

<p>Avant de vous laisser regarder ce à quoi ressemble mon livre, je vais conclure:
<ul>
<li>Le positif:
    <ul>
        <li>Qualité d'impression parfaite. Le visuel sur leur application correspond exactement au rendu papier,</li>
        <li>Outil de création très facile d'utilisation, intuitif, et téléchargeable gratuitement,</li>
        <li>Nombreuses options de créations, et tutoriels pour faciliter l'usage,</li>
        <li>Livraison rapide et produit bien protégé par l'emballage.</li>
    </ul></li>
<li>Le négatif:
    <ul>
        <li>Le prix est un peu cher quant il s'agit de faire un livre photo pur soi-même, mais les qualités citées plus tôt contrebalancent complètement cet aspect,</li>
        <li>L'outil n'existe pas encore sous Linux et pour moi, qui ne travaille que sur Linux, c'est un bémol.</li>
    </ul></li>
</ul></p>

<p>En fin de compte, je trouve davantage de points positifs que négatifs à Saal, et je recommanderais probablement un livre chez eux. Ce bon m'a permis de me faire un avis, et j'en suis très contente !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-2.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-3.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-4.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-5.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-6.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-7.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-8.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-9.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-10.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-11.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-12.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-13.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-14.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-15.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-16.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_saal/livre-photo-page-17.jpg"        
                alt="Livre photos Alpes Saal"></a>
</div>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.
<br>Vous pouvez retrouver les photos en bonne qualité sur ma page 
<a href="https://pixabay.com/fr/users/sinason-14315822/?tab=latest" target="_blank"><span style="font-weight: 400;">PIXABAY:SINASON</span></a></p>

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_saal" data-show_dislike_label="true" data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
