<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-Fourchu"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-Fourchu","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade au Lac Fourchu dans les Alpes.">    
<title>La promenade au LAc Fourchu</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade au Lac Fourchu dans les Alpes.">    
<title>La promenade au LAc Fourchu</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">La promenade au Lac Fourchu</h1>
                                <p class="post-meta">
                                Date : 10/08/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Sur le plateau Matheysin existe un lac très connu et très touristique qui demande peu d'efforts pour le rejoindre : c'est le Lac Fourchu. Ce lac se situe parmi d'autres sur le plateau des Lacs dont le départ de la promenade se fait à Poursollet.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1890.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Entre 1h et 2h</li>
<li>Départ: <a href="https://goo.gl/maps/kYEJdF8n5pgozno69" target=\"_blank\"><span style="font-weight: 400;">Parking du Poursollet (lien Google Maps).</span></a></li>
<li>Difficulté : Facile. Chemins caillouteux.</li>

<!-- end_header -->

<h2>Le départ</h2> 

<p>Le départ de la randonnée se fait depuis le parking du Poursollet juste sous le village et le lac du même nom. Ce parking se rempli très vite (vous le constaterez en descendant) par conséquent, je vous conseille d'y venir le matin avant 9h. J'appuie d'autant plus ce conseil étant donné que la montée se fait non couverte, donc le matin vous êtes à l'ombre.</p>


<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Départ-IMG_2009.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p> La montée n'est pas difficile, elle dure entre 1h et 2h. Munissez-vous de bonnes chaussures de randonnée.</p>

<h2>La montée</h2>

<p>A partir du parking, vous avez deux options. Les deux promenades se rejoignent après le village donc votre choix n'impacte que le début du trajet :
<li> Soit vous partez sur la gauche du panneau d'affichage du parking, où vous croiserez peu de monde</li>
<li> Soit vous partez sur la droite du panneau et vous montez via le village de Poursollet</li>
</p>

<p>Sachez que pour ma part, je suis partie sur la gauche. C'est le chemin le moins emprunté par les touristes, et pourtant il passe en forêt et est très agréable. J'ai fait la descente par le village, afin de passer devant le lac de Poursollet qui est en vue au cours de la montée et de la descente.</p> 

<p>Tout le long, vous allez suivre les panneaux jaunes d'indication où est marqué "Plateau des Lacs".</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1817.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Le presque sommet : le plateau des lacs</h2>

<p>Après au moins 1h de montée, vous êtes enfin au premier lac qui n'est autre que le fameux Lac Fourchu. Lorsque vous en ferez le tour et que sa fourche vous obligera à faire un détour, vous comprendrez mieux son nom.. Dès le début, vous allez rencontrer des Cairn formés par les monteurs et qui ont pris forme au fur et à mesure des années. C'est une tradition alpine (ou de montagnard, peut-être) que d'ajouter votre pierre à l'édifice, au sens littéral ! Ajoutez votre caillou au tas de cailloux que vous croisez, faites-vous plaisir, laissez votre marque !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Cairn-IMG_1834.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>Profitez du lac et du calme avant que des hordes de touristes arrivent.. J'ai constaté que le tourisme s'intensifiait vers 11h et que les familles s'agglutinaient autour du premier lac.. Lorsqu'ils arrivent, il sera le moment de vous lever pour continuer la marche vers le fond du plateau.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1839.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1870.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1890.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Balade sur le plateau : le lac noir </h2>

<p>Remettez le lac à votre gauche comme à votre arrivée, et continuez votre balade en avançant sur le plateau. Vous allez croiser une petite cascade sur votre droite que vous pouvez repérer grâce au bruit qu'elle produit, mais il n'est pas utile de vous en approcher trop. Je vous recommande de continuez sur votre chemin pour aller voir la suite des lacs.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Cascade-IMG_1897.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>C'est normalement le moment où vous apercevez le magnifique ensemble de lacs dans une enclave. Je vous donne un avant goût via les photos ci-dessous, mais croyez-moi, la vue est magnifique, l'air est doux, tout est calme, vous n'allez entendre que le tintement des cloches des moutons.. Tout cela vaut le détour !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1898.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1900.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1923.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1939.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Un des sommets : balade en hauteur</h2>

<p> Si vous continuez votre route en mettant l'ensemble de lacs à votre droite, vous suivez un chemin qui va vous permettre de contourner la montagne et atteindre l'autre côté du lac Fourchu. C'est une belle promenade à faire qui vous offrira un point de vue sur les montagnes plus lointaines comme L'Alpes D'huez, par exemple. Sur votre chemin, vous allez devoir descendre des rochers un peu escarpés, mais dont le chemin est muni de câbles de sécurité. C'est amusant de les passer ! N'oubliez pas de jeter un oeil sur la pierre qui ressemble à un sarcophage ! En haut du chemin, allez à gauche pour revenir vers le lac.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1949.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1950.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1959.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1962.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1963.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>Et n'oubliez pas les Cairns !</p>

<h2>Le lac par l'autre bout</h2>

<p>Après ces quelques temps de marche agréables, vous attérissez sur l'autre rive du lac. Tournez autour par la droite du lac, jusqu'à votre point de départ. Prêt pour la descente ?</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1969.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1980.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1986.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1995.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Le retour</h2>

<p>Le retour se fait par le même chemin que la montée, et vous pouvez varier un peu en passant par le village si vous ne l'avez pas fait au départ.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_2002.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>J'espère que vous allez aimé cette randonnée comme je l'ai aimé ; le paysage magnifique, l'ambiance magnifique, les montagnes, les lacs.. Que du bonheur !</p>

<p><br><br></p>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.
<br>Vous pouvez retrouver certaines des photos en bonne qualité sur ma page 
<a href="https://pixabay.com/fr/users/sinason-14315822/?tab=latest" target=\"_blank\"><span style="font-weight: 400;">PIXABAY:SINASON</span></a></p>

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_lac_fourchu" data-show_dislike_label="true" data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
