<!doctype html>
<html lang="fr">
    <head>
    
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-Fourchu"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-Fourchu","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade au Lac Fourchu dans les Alpes.">    
<title>La promenade au Lac Fourchu</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
<! -- RANDO_KEYWORD -->                       

<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade au Lac Fourchu dans les Alpes.">    
<title>La promenade au Lac Fourchu</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">La promenade au Lac Fourchu</h1>
                                <p class="post-meta">
                                Date : 05/09/2021 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Sur le plateau Matheysin existe un lac très connu et très touristique qui demande peu d'efforts pour le rejoindre : c'est le Lac Fourchu. Ce lac se situe parmi d'autres sur le plateau des Lacs dont le départ de la promenade se fait à Poursollet.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8120-Lac-Fourchu.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Entre 1h et 2h de montée, 4h à 5h en tout, en comptant la promenade sur le plateau.</li>
<li>Départ: <a href="https://goo.gl/maps/kYEJdF8n5pgozno69" target=\"_blank\"><span style="font-weight: 400;">Parking du Poursollet (lien Google Maps).</span></a></li>
<li>Difficulté : Facile. Chemin caillouteux jusqu'au plateau.</li>

<!-- end_header -->

<h2>Le départ</h2> 

<p>Le départ de la randonnée se fait depuis le parking du Poursollet juste sous le village et le lac du même nom. Ce parking se rempli très vite, vous le constaterez en descendant, par conséquent, je vous conseille d'y venir le matin autour de 8h-8h30. J'appuie d'autant plus ce conseil étant donné que la montée se fait non couverte, donc le matin vous êtes à l'ombre et vous arriverez sur le plateau avec le soleil.</p>

<p> La montée est assez raide mais n'est pas difficile, elle dure entre 1h et 2h. Munissez-vous de bonnes chaussures de randonnée car le chemin est très caillouteux.</p>

<h2>La montée</h2>

<p>A partir du parking, vous avez deux options. Les deux promenades se rejoignent après le village donc votre choix n'impacte que le début du trajet :
<li> Soit vous partez sur la gauche du panneau d'affichage du parking, où vous croiserez peu de monde</li>
<li> Soit vous partez sur la droite du panneau et vous montez via le village de Poursollet</li>
</p>

<p>Sachez que pour ma part, je suis partie sur la gauche. C'est le chemin le moins emprunté par les touristes, et pourtant il passe en forêt et est très agréable.</p> 

<p>Tout le long, vous allez suivre les panneaux jaunes d'indication où est marqué "Plateau des Lacs".</p>

<h2>Le plateau des lacs</h2>

<p>Après au moins 1h de montée, vous êtes enfin au premier lac qui n'est autre que le fameux Lac Fourchu. Dès le début, vous allez rencontrer des Cairn formés par les monteurs et qui ont pris forme au fur et à mesure des années. C'est une tradition alpine (ou de montagnard, peut-être) que d'ajouter votre pierre à l'édifice, au sens littéral ! Ajoutez votre caillou au tas de cailloux que vous croisez, faites-vous plaisir, laissez votre marque !</p>

<p>Profitez du lac et du calme avant que des hordes de touristes arrivent.. J'ai constaté que le tourisme s'intensifiait vers 11h et que les familles s'agglutinaient autour du premier lac. Donc, avant que le plateau ne soit envahi, je vous invite à le contourner par la droite. Une fois passé le talus qui vous sépare des prochains lacs, vous apercevez le lac mort et le lac de l'Agneau. Mais n'y allons pas tout de suite !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8026-Lacs.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>Avant toute chose, vous pouvez emprunter le chemin qui grimpe sur le petit mont qui surplombe le lac Fourchu, pour avoir une vue de celui-ci dans toute sa splendeur ! </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8054-Lac-Fourchu.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8055-Lac-Fourchu.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8073-Lac-Fourchu.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8120-Lac-Fourchu.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Balade sur le plateau : le lac turquoise</h2>

<p>Redescendez du mont par l'arrière de celui-ci, et au croisement, prenez à droite. Degustez les mystilles sur votre chemin s'il y en a. C'est le cas en Août/Septembre, selon la météo. Vous pouvez apecevoir au loin le lac turquoise où vous allez continuer votre promenade. En effet, une fois en bas, traversez la plaine jusqu'au chemin, en face, qui mène au lac turquoise. Celui-ci n'a pas de nom. <br>Lorsqu'il fait beau, les nuages se reflètent parfaitement dedans... Une vraie merveille. Je vous en donne un aperçu ci-dessous.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8149-Lac-Turquoise.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8159-Lac-Turquoise.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8166-Lac-Turquoise.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>Pour la suite de la promenade, vous pouvez traverser les rochers sur la droite du lac. Ceux-ci mènent à un chemin qui permet, ensuite, de rejoindre les autres lacs par derrière. Vous croiserez un autre Cairn en équilibre.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8176-Cairn.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Balade sur le plateau : le lac noir et le Lac de l'Agneau</h2>

<p>Vous devez traverser un petit cours d'eau pour rejoindre le lac de l'Agneau par l'arrière. Choisissez le bon moment pour ne pas glisser. Avancez, et vous arriverez au bord du lac, aux côtés d'un amat rocheux qui peut vous permettre de faire une pause. Asseyez-vous sur le balcon que proposent les roches, trempez les pieds dans l'eau... Profitez ! </p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8245-Rivière.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8187-Lac-Agneau.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8215-Lac-Agneau.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<h2>Balade sur le plateau : Le refuge ou le retour</h2>

<p>Contournez le lac par la droite pour rejoindre le chemin qui le longe, de l'autre côté. Ce chemin s'enfonce sur le plateau en direction du refuge mais vous dirige également vers le chemin du retour.<br>
C'est une belle promenade à faire qui vous offrira un point de vue sur les montagnes plus lointaines comme L'Alpes D'huez, par exemple. Sur votre chemin, vous allez devoir descendre des rochers un peu escarpés, mais dont le chemin est muni de câbles de sécurité. C'est amusant de les passer ! N'oubliez pas de jeter un oeil sur la pierre qui ressemble à un sarcophage !</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/Lacs-IMG_1949.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>Vous allez devoir grimper des serpentines caillouteuses pour arriver au panneau en haut, au croisement entre le refuge et le retour. A cet instant, vous pouvez aller à droite pour rejoindre le refuge ; le chemin est très praticable. Mais il vous faudra faire demi-tour pour revenir au même endroit. Ou bien vous pouvez aller directement à gauche et entamer la promenade du retour. </p>

<h2>Le retour</h2>

<p>Le retour suit un chemin unique et praticable, en terre. Au seul croisement rencontré, il vous faudra aller à droite et non pas descendre vers la rivière. Vous pourrez voir des couleurs magnifiques et un paysage à couper le souffle. Vous longerez un cours d'eau pendant les deux premiers tiers, puis passerez un pont, et finirez votre randonnée en forêt. Enfin, vous arrivez par la droite du croisement que vous avez rencontré au départ, et vous serez enfin au parking.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8255-Plaine.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_fourchu/IMG_8339-Retour.jpg"        
                alt="Lac Fourchu Alpes"></a>
</div>

<p>J'espère que vous allez aimé cette randonnée comme je l'ai aimé ; le paysage magnifique, l'ambiance magnifique, les montagnes, les lacs.. Que du bonheur !</p>

<p><br><br></p>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.
<br>Vous pouvez retrouver certaines des photos en bonne qualité sur ma page 
<a href="https://pixabay.com/fr/users/sinason-14315822/?tab=latest" target=\"_blank\"><span style="font-weight: 400;">PIXABAY:SINASON</span></a></p>

<p></p>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-identifier="pause_nature_button_lac_fourchu" data-show_dislike_label="true" data-counter_clickable="true" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
