<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-cancale"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-cancale","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade de la pointe du grouin à Cancale.">    
<title>Cancale et l'océan</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade de la pointe du grouin à Cancale.">    
<title>Cancale et l'océan</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Cancale et l'océan</h1>
                                <p class="post-meta">
                                Date : 24/09/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
                                
<p>Cette randonnée autour de la pointe du grouin de Cancale, en Bretagne, est la randonnée la plus fréquentée de la zone, parce qu'elle offre une très belle vue sur toute la côte et les plages et permet de découvrir agréablement les environs.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/IMG_2970_see-cancale.jpg"        
                alt="Randonnée cancale"></a>
</div>

<p>
<h3>Informations sur la randonnée:</h3>
<li>Durée: Un peu plus de 2h</li>
<li>Départ: <a href="https://goo.gl/maps/8kbUdwGunfv3s9bW8" target=\"_blank\"><span style="font-weight: 400;">Cancale</span></a></li>
<li>Randonnée: <a href="https://www.visorando.com/randonnee-la-pointe-du-grouin/" target=\"_blank\"><span style="font-weight: 400;">La pointe du grouin - Visorando</span></a></li>
<li>Difficulté : Facile. Chemins caillouteux mais très praticables.</li></p>

<!-- end_header -->

<h2>Le départ</h2>

<p>Contrairement à ce qu'indique le plan, je conseille de faire exactement ce qu'explique un des commentaires sur Visirando, c'est à dire de ce garer au niveau du point 1 puisqu'il y a un parking gratuit autour de table de pique nique, et qu'en plus vous pourrez faire le parcours en sens inverse.</p>

<p>Pourquoi faire le parcours en sens inverse ? D'une part, dans ce sens, vous éviterez de vous mettre du sable dans les chaussures pour tout le reste de la promenade... Ce qui est vite lassant. Vous pourrez donc marcher sans sable, et n'avoir à subir ce désagrément qu'à la fin.<br>
D'autre part, la vue est superbe dans ce sens. Pour mettre en effet retournée plusieurs fois, je n'ai pas regretté un seul instant. Qui plus est, vous croiserez du monde mais vous aurez très peu de personnes dans le même sens que vous.</p>

<p>Bien sûr, cette promenade étant très fréquentée, tout cela se tient si vous décider d'y aller vers 10h du matin (l'heure à laquelle j'y suis moi même allée un samedi). Le monde afflue plutôt vers midi, car un il y a un restaurant très bon (de ce qu'on m'a dit) sur la pointe.</p>

<h2>La randonnée</h2>

<p>Donc vous commencez votre randonnée dans le sens inverse. Vous allez vite vous rendre compte que cette randonnée se fait dans la verdure, au bord de la falaise rocheuse, avec la vue sur le Mont Saint Michel au loin si le temps est clair.<br>
La magnifique eau bleue et les bateaux vous accompagneront tout au long.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/IMG_2896_Mont-Saint-Michel.jpg"        
                alt="Randonnée cancale"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/IMG_2912_see-cancale.jpg"        
                alt="Randonnée cancale"></a>
</div>

<p>Après avoir contourné par la gauche la petite crique où vous croisez sûrement des bateaux et leur propriétaire, vous entrez dans la zone arborée et entamez votre promenade. L'air souffle agréablement, le soleil est au rendez-vous. Vive la Bretagne !<br><br>
Arrivé sur la première plage, selon vos souhaits, vous pouvez continuez sur la route montant et tourner à droite afin de rejoindre le chemin de promenade ou de façon plus drôle et intéressante, vous pouvez avancer sur la plage. Vous verrez en effet des marches sur la façade rocheuse en face de vous, légèrement sur votre droite. Il y a au moins deux escaliers à la suite, et si vous tentez votre chance par les roches et le sable, ce que j'ai fait, vous pourrez remonter sur le chemin sans problème. C'est atypique, c'est sympathique !</p>

<p>Au cours de la randonnée et à partir de cet étape, vous allez croiser des anciens bunkers le long du chemin, et de anciennes armes, ou mur fortifiés. Notamment sur l'une des premières îles que vous avez aperçu, se trouve un ancien bâtiment fortifié bien visible.</p>

<h2>La pointe</h2>

<p>À la pointe du grouin, vous pourrez si vous avez réservé, aller manger au restaurant un peu plus loin sur la route. Sinon, avec votre pique nique et si la place est libre, une petite route bifurquera sur la droite pour aller vers une place qui vous offre une vue d'ensemble de l'océan, et des deux îles proches. A gauche, vous pourrez apercevoir le phare. En face, si le temps est clair, vous verrez le Mont Saint Michel entre les rochers.<br>
A cet endroit, vous pouvez descendre plus bas pour aller manger, accompagné de la belle vue, et tranquille.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/coin-pique-nique.png"        
                alt="Randonnée cancale"></a>
</div>

<p>Vous repartez sur le chemin pour continuer la promenade. Soyez attentif car vous croiserez sûrement des oiseaux peu peureux, et c'est une occasion offerte sur un plateau pour un amateur de photographie.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/IMG_2983_see-cancale.jpg"        
                alt="Randonnée cancale"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_cancale/IMG_2936_Rouge_Gorge.jpg"        
                alt="Randonnée cancale"></a>
</div>

<p>La promenade a l'air simple, décrite comme cela, mais vous rencontrerez de nombreuses montées, décentes, rochers... Heureusement, tout est très praticable ! </p>

<p><br /><br /><br /></p>

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
