<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-ponsonnas"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-ponsonnas","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Ponsonnas, village Alpin, et sa beauté simple.">    
<title>Ponsonnas, village Alpin, et sa beauté simple.</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Ponsonnas, village Alpin, et sa beauté simple.">    
<title>Ponsonnas, village Alpin, et sa beauté simple.</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Ponsonnas, village Alpin, et sa beauté simple.</h1>
                                <p class="post-meta">
                                Date : 18/03/2020 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>

<p><span style="font-weight: 400;">Rien ne vaut mieux qu&rsquo;une activit&eacute; physique en pleine nature ! C&rsquo;est pourquoi je me suis dirig&eacute;e vers les Alpes, et sa nature, son soleil, ses abeilles, ses fleurs&hellip; Dans cet article, je vous pr&eacute;sente un peu Ponsonnas et sa beaut&eacute;.</span></p>

<p><span style="font-weight: 400;">Sachez que le calme des Alpes est tout &agrave; fait adapt&eacute; pour observer la nature de pr&egrave;s ; vous ne pourrez pas rater les montagnes encore couvertes de neige en mars, les abeilles qui, gr&acirc;ce &agrave; ce merveilleux temps ensoleill&eacute;, sortent de leur cachette, les animaux qui profitent autant que vous d&rsquo;un temps doux, les l&eacute;zard qui bronzent, les oiseaux qui chantent... Je ne citerai pas tout ce que l&rsquo;on peut observer, parce qu&rsquo;en r&eacute;alit&eacute;, il n&rsquo;y a pas de fin &agrave; l&rsquo;&eacute;num&eacute;ration. Les Alpes sont riches, la nature y a &eacute;lu domicile plus qu&rsquo;ailleurs.&nbsp;</span></p>

<!-- end_header -->

<h2>La promenade</h2>

<p><span style="font-weight: 400;">Je m&rsquo;attarde donc sur une promenade que j&rsquo;ai fait il y a peu, vers le</span><strong> Pont de Ponsonnas</strong><span style="font-weight: 400;">. Le Pont en lui-m&ecirc;me n&rsquo;est pas un chef d&rsquo;oeuvre visuel, bien qu&rsquo;il soit r&eacute;sistant et qu&rsquo;il permettent de traverser entre deux montagnes au dessus de l&rsquo;eau.. Architecturalement parlant, je suis s&ucirc;re qu&rsquo;il plairait aux connaisseurs.&nbsp;</span></p>
<p><span style="font-weight: 400;">Quant &agrave; moi, ce n&rsquo;est pas mon domaine, et mon int&eacute;r&ecirc;t se porte plut&ocirc;t sur la promenade qui y m&egrave;ne car elle est agr&eacute;able &agrave; faire et permet aux amateurs de photographie (ou aux professionnels) d&rsquo;y trouver leur plaisir.&nbsp;</span></p>

<p><span style="font-weight: 400;">Le chemin est marqu&eacute; &agrave; chaque croisement, du haut jusqu&rsquo;au bas (oui, il faut descendre). En cours de route, vous pourrez constater la vue sur le barrage et le lac magnifiquement bleu. D&rsquo;ailleurs, le lac et la montagne forment un tr&egrave;s beau duo.</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Panneau_Promenade_5149.jpg"        
                alt="Panneau Promenade Ponsonnas"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Montagne_Lac_5135.jpg"        
                alt="Panneau Promenade Ponsonnas"></a>
</div>

<p><span style="font-weight: 400;">Malheureusement le temps parfois peut &ecirc;tre brumeux, surtout au niveau des montagnes. Il se peut, comme dans le cas de cette photo, avoir l&rsquo;impression d&rsquo;un probl&egrave;me de nettet&eacute;. Malheureusement, il n&rsquo;y a aucun traitement que je connaisse qui puisse y rem&eacute;dier.&nbsp;</span></p>

<h2>Les animaux</h2>

<p><span style="font-weight: 400;">Si vous &ecirc;tes attentifs, vous pourrez probablement croiser des l&eacute;zards et des oiseaux. Lorsqu&rsquo;il y a du soleil, toutes les petites cr&eacute;atures sortent prendre l&rsquo;air.&nbsp;</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Lezard_Ponsonnas_5261.jpg"        
                alt="Lézard Ponsonnas"></a>
</div>


<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Chenille_Ponsonnas_5292.jpg"        
                alt="Chenille Ponsonnas"></a>
</div>

<h2>Les plantes</h2>

<p><span style="font-weight: 400;">Pour les amateurs comme moi, cette promenade au Pont de Ponsonnas met &agrave; disposition pleins d&rsquo;&eacute;l&eacute;ments pour s'entra&icirc;ner &agrave; la photographie.&nbsp;</span></p>
<p><span style="font-weight: 400;">En ce qui me concerne, c&rsquo;est la photographie Macro qui m&rsquo;attire plus que tout.&nbsp;</span></p>

<p><span style="font-weight: 400;">Vous pourrez donc croiser au mois de Mars, des bourgeons, des petites pommes de pains, des fleurs.. Voici quelques aper&ccedil;us:</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Bourgeons_Ponsonnas_5200.jpg"        
                alt="Bourgeons Ponsonnas"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Bourgeons_Ponsonnas_5214.jpg"        
                alt="Bourgeons Ponsonnas"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Fleur_Ponsonnas_5297.jpg"        
                alt="Fleur Ponsonnas"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Pomme_Pain_5175.jpg"       
                alt="Pomme de Pain Ponsonnas"></a>
</div>

<h2>Les montagnes</h2>

<p><span style="font-weight: 400;">Il y a tant &agrave; dire sur les montagnes et pourtant si peu de mots me viennent &agrave; l&rsquo;esprit. Les montagnes Alpines sont magnifiques et c&rsquo;est la premi&egrave;re fois que je les vois entre neige et terre. Je n&rsquo;ai donc pas pu m&rsquo;emp&ecirc;cher d&rsquo;immortaliser certaines d&rsquo;entre elles.</span></p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Panneau_Montagne_5321.jpg"        
                alt="Panneau Montagne Ponsonnas"></a>
</div>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_ponsonnas/Obiou_Ponsonnas_5323.jpg"        
                alt="Obiou Montagne Ponsonnas"></a>
</div>

<br>
<br>
<p><span style="font-weight: 400;">Appareil photo utilis&eacute; : Canon EOS 250D
<br>
Objectif(s) utilis&eacute;(s) : 18-135mm de chez Canon, le macro 90mm de chez Tameron.
<br>
Logiciel de retouche utilisé quand nécessaire : darktable. Software free.</span></p>

<!--end_content-->            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
