<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue_kuretake_gansai_tambi"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue_kuretake_gansai_tambi","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="Dans cet article, je vous propose de faire un point sur l'aquarelle Gansai Tambi Kuretake">    
<title>Revue : Gansai Tambi Watercolor</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
<!--start_head-->
<meta name="description" content="Dans cet article, je vous propose de faire un point sur l'aquarelle Gansai Tambi Kuretake">    
<title>Revue : Gansai Tambi Watercolor</title>  
<!--end_head-->

                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Revue de la peinture aquarelle Gansai Tambi Kuretake</h1>
                                <p class="post-meta">
                                Date : 14/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <h2>L'aquarelle qui vaut le coût ?</h2>
                                
                                <p>   
                                L'aquarelle Gansai Tambi, fabriquée par l'entreprise japonaise Kuretake, est maintenant disponible dans les magasins de materiels d'art. Dans cet article,
                                je vous propose de regarder de plus près si les kilomètres parcourus par cette peinture sont justifiés.       
                                </p>
                                
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi1.jpg" alt="Palettes de peinture Gansai Kuretake" style="width:100%;height:100%;"></p>
                                </div>
                                <!-- end_header -->
                                <h2>Premières impressions</h2>                                
                               <p> La palette de 12 godets Gansai Tambi a été ma toute première palette d'aquarelle. Lors de l'achat, je n'avais absolument aucune connaissance ni expérience
                               dans la peinture aquarelle. A l'époque, je ne pense pas que se soit le prix qui m'ait convaincu (plutôt elevé dans les magasins parisiens) mais plutôt le packaging de la boite...
                               Il semblerait que l'expérience ne fût pas mauvaise car j'ai usé la boite jusqu'à apercevoir le fond des godets (sur la photo les godets ne sont pas vides car j'ai essayé 
                               de re-frabriquer les couleurs épuisées). Une fois ma palette bien usée, j'ai investi dans la palette de 36 godets (acheté moins chère que la palette de 8 sur les sites chinois...).</p>

                                <p>Lorsqu'on découvre une nouvelle palette d'aquarelle, la première chose a faire est un nuancier des différentes couleurs. Une petite astuce consiste a en faire 2, dont l'un sera percé pour
                                comparer les juxtapositions de couleurs.</p>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi2.jpg" alt="Nuancier du fabricant Gansai Tambi " style="width:100%;height:100%;"></p>
                                </div>
                                    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi3.jpg" alt="Mon propre nuancier de l'aquarelle Gansai Tambi" style="width:100%;height:100%;"></p>
                                </div>
                                <p>Avec un peu de recul et plus d'expérience, on constate rapidement que le comportement de cette aquarelle est très different des aquarelles européennes.
                                Premierement, elle s'active bien avec très peu d'eau, de plus, les grands godets sont pratiques pour l'utilisation de grands pinceaux. Le comportement de cette aquarelle est due 
                                a son liant ; traditionnellement, le liant utilisé est la gomme arabique associée à d'autres constituants comme le miel (pour Sennelier), mais pour l'aquarelle Gansai Tambi, une colle
                                propriétaire est utilisée. Après quelques recherches, il semble que cette colle soit fabriquée a partir d'os et peau d'animaux.</p>
                                <h2>Mes premières observations</h2>
                                <ul style="list-style-type: circle;">
                                <li>S'active et se réactive plutôt bien avec peu d'eau</li>
                                <li>Il me semble que la qualité des couleurs est assez hétérogène : les rouge et vert me semblent très intenses alors que les couleurs suivantes semblent pâles : 61 (ultramarine pale) ,64 (ultramarine), 46 (burnt sienna) et 47(raw umber deep).</li>
                                <li>De manière générale, la peinture est plutôt opaque et possède un aspect brillant lorsqu'elle est sèche</li>
                                <li>Très peu de granulation</li>
                                <li>AP (approved product) Seal (peinture non toxique)</li>
                                </ul>
                                <p><br>Les premières observations sont plutôt positives, mais regardons maintenant le gros point noir de cette aquarelle : les pigments la constituant sont un mystère. Il n'y a aucune information 
                                sur le site officiel du fabricant. L'industriel assure que la peinture est fabriquée selon une recette artisanale japonaise. En faisant un effort, on peut essayer d'y croire.
                                Après quelques recherches approfondies sur internet, on remarque que bon nombre de personnes déconseillent de mélanger les différentes couleurs de cette palette ensemble ou avec les couleurs des autres fabricants.
                                C'est quand même dommage ! Petite remarque, les fabricants de peintures deconseillent toujours de mélanger leur peinture avec d'autres marques, c'est pour moi un argument purement commercial. 
                                <br>
                                Mais pour cette aquarelle en particulier, cet avertissement pourrait trouver son origine sur le mystère de la composition de l'aquarelle. En effet, une peinture aquarelle lorsqu'elle constituée de plusieurs pigments a tendance
                                à ne pas être propice aux mélanges qui résultent souvent en une couleur désaturée un peu boueuse. J'ai fait quelques mélanges et en effet, ils ne sont pas très convainquant.</p>
            
                                <p>Utiliser une peinture qu'on ne peut pas mélanger ? N'est-ce pas une hérésie pour un aquarelliste ? Pour tirer les choses au clair, j'ai fait quelques experiences.</p>
                                <h2>Chromatographie appliquée à l'aquarelle Gansai Tambi</h2> 
                                <p>La chromatographie est une méthode scientifique dont le but est de spérarer les différents constituants d'une solution. Pour notre expérience, nous allons essayer de séparer les pigments de la peinture.
                                En effet, les pigments possèdent des pouvoirs d'adhérence au papier différents selon leur constitution chimique et la chromatographie permet de les séparer. Pour l'expérience, le solvant séparateur sera constitué
                                d'eau de sel et de vinaigre blanc.</p>
                                    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi5.jpg" alt="Gansai Tabi Kuretake Chromatography preparation " style="width:100%;height:100%;"></p>
                                </div>
                                <p><span lang="en">Voici les resultats :</span></p>
                                    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../../static/img/review_kuretake_gansai_tambi/review_kuretake_gansai_tambi4.jpg" alt="Gansai Tabi Kuretake Chromatography preparation results" style="width:150%;height:150%;"></p>
                                </div>
                                <h2>Conclusion</h2> 
                                <p>
                                La chromatographie a donné des résultats rapides, et ils sont meilleurs que ceux attendus. La peinture s'est étendue homogenement sur la bande de papier. On ne voit pas de séparation évidente des couleurs ce qui est signe
                                d'une peinture composé d'un pigment unique. J'ai quand même un doute sur le rouge n°30, et je n'ai cependant pas testé toutes les couleurs de la palette.
                                </p>
                                <p>
                                Malgré ces bons résultats, je reste perplexe sur l'utilisation de cette aquarelle. Le fait que le fabricant ne communiquee rien sur les constituants de cette peinture est douteux et n'invite pas a prendre le risque de peindre
                                un chef d'oeuvre avec une peinture qui ne soit pas durable (certains pigments sont instables et leur couleur change selon l'exposition à la lumière, le temps ou encore l'humidité). Je déconseille donc l'utilisation de cette aquarelle 
                                pour tout travail sérieux, et recommande de l'utiliser pour des dessins ou des travaux préliminaires.
                                </p>
                            </div>
					</div>            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
