<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-fountain-pen-lamy2000"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-fountain-pen-lamy2000","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Le stylo est un outil de choix pour l'aquarelliste. Dans cet article, je vous propose une brève histoire du stylo plume dans le dessin ainsi qu'une revue du stylo lamy 2000.">
<title>Stylo plume, aquarelle et Lamy 2000</title>
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>


<!--start_head-->
<meta name="description" content="Le stylo est un outil de choix pour l'aquarelliste. Dans cet article, je vous propose une brève histoire du stylo plume dans le dessin ainsi qu'une revue du stylo lamy 2000.">
<title>Stylo plume, aquarelle et Lamy 2000</title>
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Stylo plume, aquarelle et Lamy 2000</h1>
                                <p class="post-meta">
                                Date : 24/02/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                            <h2>Brève histoire du stylo plume et pourquoi l'utiliser en aquarelle</h2>
                                <p>
                                Rechargeable avec un grand choix d'encre, les lignes tracées au stylo plume apportent du contrast et de la personnalité à un dessin. Facilement transportable, il est
                                 un outil de choix pour l'aquarelliste. Dans cette article, je vais présenter brievement l'histoire du stylo plume, pourquoi l'utiliser pour dessiner,
                                et je finirai par une petite presentation du Lamy 2000.
                                </p>
								<br>
							    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_1.jpg"
                                             alt="Dessin a l'aquarelle sur l'anatomie d'un stylo plume"></a>
                                </div>
                                <!-- end_header -->


                                <p>Le stylo plume, n'est pas une invention moderne. Le mot <strong><em>pen</em></strong> provient du mot Latin <strong><em>penna</em></strong>, qui signifie
                                plume or plumage et designe en particulier une plume taillée. Ces plumes taillées ont été utilisées jusqu'au milieu du 19ème siecle pour laisser place progressivement
                                au stylo metallique. Les premières plumes métalliques montées sur des portes plumes apparaissent aux 18ème siecle en Angleterre. Aujourd'hui elles sont encore
                                marginalement utilisées par les dessinateurs mais tendent à disparaitre au profit des stylos plumes et des stylos billes. Le stylo plume, créé en 1827 à Paris
                                par un inventeur roumain du nom de Petrache Poenaru, offre de nombreux avantages,
                                que se soit par leur grande capacité d'encre, le choix important d'encre ou la grande diversité de plumes existantes.</p>
                                <p> Pour utiliser efficacement un stylo plume pour la peinture aquarelle, il faut choisir une encre adapatée. Cette dernière doit être compatible des stylos plumes et
                                resistante à l'eau. De manière générale, ces encres sont très spécifiques. J'utilise personnellement l'encre Carbon Ink de Platinum. L'utilisation d'une encre inadaptée
                                (comme l'encre de chine) peut boucher de manière irreversible le stylo.</p>
                                <p>
                                A ma connaissance, il n'existe pas de cartouche avec une telle encre, il est donc nécessaire d'utiliser soit un stylo plume à piston ou une pompe à encre (qui peut être trouvée
                                dans toute papeterie digne de ce nom).
                                <h2>Plume en Or ou plume en acier ?</h2>
                                <p> Les plumes sont fabriquées en plusieurs matériaux dont principalement l'or ou l'acier. Les stylos plume haut de gamme sont généralement en or, et on entend parfois
                                que les plumes en or offrent une meilleure flexibilité et plus de "rebonds" que les plumes en acier. Je n'ai pas de preuve mais ayant utilisé de nombreux stylos plumes, je
                                pense que c'est un argument purement commercial. A mon sens, la flexibilité d'une plume est la conséquence directe de sa forme et de sa construction. La seule différence notable est
                                que l'or est un métal inerte et est donc moins sensible à la corrosion que l'acier. Les alliages utilisés actuellement pour les plumes sont beaucoup plus résistants et il n'y a desormais plus d'inquietude
                                particulière à avoir.</p>
                                <h2>Taille de la plume</h2>
                                <p> Il existe de nombreuses tailles de plumes. Pour le dessin, il est recommandé de prendre une plume de taille fine (voir extra fine). Les plumes japonaises taillent généralement plus petit
                                que les plumes occidentales. Une taille medium japonaise correspond à une taille fine. </p>
                                <h2>Plume flexible ?</h2>
                                <p> Plutôt rare, certains stylos plume sont montés avec des plumes flexibles, permettant de produire des effets intéressants grâce à une plus grande variation de largeur de ligne. Surtout utilisés
                                pour la calligraphie, ils sont également adaptés pour le dessin. </p>
                                <h2>Présentation et analyse du Lamy 2000</h2>
                                <p>Le stylo plyme que j'utilise actuellement est le Lamy 2000 avec une plume fine. </p>

                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_2.jpg"
                                             alt="Picture of the lamy 2000"></a>
                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_3.jpg"
                                             alt="Picture of nib of the lamy 2000"></a>
                                <img width=60% height=60%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_5.jpg"
                                             alt="Close up picture of the nib of the lamy 2000"></a>

                                <ul>
                                <li>Plume en or</li>
                                <li>Grande capacité, chargement a piston</li>
                                <li>Pas specialement flexible</li>
                                <li>Environ 200&euro;</li>
                                <li>Poids ~25g</li>
                                </ul>

                                <p> J'ai acheté le Lamy 2000 après avoir lu de nombreux avis positifs sur internet. En effet, il est jugé par les forums de specialistes comme un pilier central du monde des stylos plumes.
                                Il est de construction très solide et semble avoir la faculté de traverser les âges (pour rappel, il a été conçu il y a plus de 50 ans). </p>
                                <p> Mais soyons honnètes, au niveau de l'écriture, je le trouve un peu surcoté. En effet, avec de l'encre Lamy 2000, je trouve qu'il gratte un peu. De plus, la forme en carré de la pointe de plume
                                provoque une irrégularité dans l'écriture qui oscille entre écriture douce et grattement. Ne pas sortir de la zone douce de pointe de la plume demande un peu de patience et d'habitude. Heureusement
                                pour notre application à la peinture aquarelle, l'utilisation de l'encre Platinum Cabon Ink fluidifie grandement l'écriture avec le stylo, en faisant disparaitre les grattements. Une chose que j'apprécie particulierement avec le
                                Lamy 2000 est que tenu à l'envers, il trace des lignes très fines que je trouves particulierement intéressantes pour dessiner les détails.</p>

                                <h2>Conclusion</h2>
                                <img width=100% height=100%
                                             src="../../static/img/review_fountain_pen_lamy2000/review_fountain_pen_lamy2000_4.jpg"
                                             alt="Dessin a l'aquarelle du stylo Lamy 2000with Platinum black ink and schemincke watercolor"></a>

                                <p> Selon moi, le Lamy 2000 est un bon stylo, toutefois peut être légèrement sur-évalué (en comparaison d'un Montblanc 146). Ce qui me plait, c'est le sentiment de robustesse qu'il dégage, ce qui en fait un outil durable
                                pour le peintre, même en extérieur. Il fait bien son travail, mais je songe à migrer vers un stylo plume Japonais plus flexible comme le Pilot Falcon. </p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


                            </div>
                        </section>
<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
