<!doctype html>
<html lang="fr">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162186318-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-162186318-1');
        </script>
    
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="/static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="fr" href="www.pause-nature.fr/revue/revue-rando-Pellafol"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "revue-rando-Pellafol","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"><!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade autour des ruines géologique de Pellafol dans le Triève.">    
<title>Promenade Pellafol</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                    </center></p>

                    <h2 class="brand-title">Pause nature</h2>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="/static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="/static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4"><div>
                       

<!--start_head-->
<meta name="description" content="Cet article fait une revue de la promenade autour des ruines géologique de Pellafol dans le Triève.">    
<title>Promenade Pellafol</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h1 class="post-title">Les ruines géologique de Pellafol dans le Triève</h1>
                                <p class="post-meta">
                                Date : 28/02/2021 by <class="post-author">Amandine Poterala</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p                              

<p>Au coeur des montagnes du Triève se trouve une petite perle de promenade qui plaira aux grands comme aux petits ; le sentier géologique de Pellafol.
Cette promenade propose un parcours ponctué d'explications sur la vie géologique de la zone, autour du lac du Sautet (qui a une couleur magnifique).</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4200-Points-1-2.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<h3>Informations sur la randonnée:</h3>
<li>Durée: Entre 1h30 et 2h. Une descente d'une 1h depuis Pollafol en passant par Pollafol le vieux, puis une montée de 30minutes et du plat.</li>
<li>Départ: <a href="https://goo.gl/maps/EiS5CZXKB335Dkny8" target=\"_blank\"><span style="font-weight: 400;">Village de Pellafol</span></a></li>
<li>Difficulté : Facile. Chemin caillouteux mais très praticable ! Chemin partagé entre ombre et soleil, idéal en été pour sa fraicheur.</li>

<!-- end_header -->

<h2>Le départ</h2> 

<p>Au point de départ où vous pouvez garer la voiture se trouve un poteau sur lequel est indiqué, en vert, le sentier des ruines de Pellafol. Suivez ce chemin, il va vous mener au vieux Pellafol par le dessous du village. Avancez jusqu'à la fontaine où vous verrez un panneau. Ce panneau n'indique pas directement le sentier des ruines mais le chemin "rtm" de Pellafol. Le sentier des ruines suit le cerle en noir, fait sur la photo ci-dessous:</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4207-Plan-Chemin.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<p> Dont voici la trace réelle (les points 1 et 2 se situaient au niveau de la voiture):</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4262-Trace.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<p>Face à la fontaine, vous commencez donc la promenade en allant sur votre gauche. Le mur derrière vous indique le sentier (en vert) à suivre.</p>

<h2>La descente ; le lac </h2>

<p>Les deux premiers tiers du chemin se contentent de descendre (oui, il faudra remonter sur le dernier tier mais c'est évidemment faisable !). En empruntant le sentier, vous allez descendre progressivement vers le lac du Sautet et en faire le tour. Au long du chemin, vous verrez de nombreuses "traces géologique" et de nombreux panneaux vous expliquant ce qui a été mis en place pour supprimer ou du moins, réduire l'érosion afin de protéger la zone et les habitations.</p>

<p>Durant la descente, vous rencontrerez un panneau "Attention abeilles" sur lequel est placée une croix jaune. Elle est très peu visible et indique, même pour le sentier vert, qu'il faut continuer sur le chemin principal vers la gauche.</p>

<p>En ce qui me concerne, j'ai fait cette randonnée le dernier jour du mois de février 2021, et il faisait un temps superbe. Le mariage des couleurs entre l'eau turquoise et les sapins vert m'a vraiment marqué, le mélange du marron et du vert des arbres sur les flancs de montagnes, le blanc de la neige sur leur sommet, toutes ces teintes étaient splendides ensembles.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4213-Reflets.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4223-couleurs.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>


<p>Attention, certains morceaux du chemin sont encadrés par des panneaux "Chutes de pierres. Arrêt interdit". Je vous conseille de suivre l'indication et d'avancer. Je ne me suis jamais prise un caillou ou une pierre sur le crâne, et n'ai pas envie d'en faire l'expérience, j'imagine que vous non plus. C'est pourquoi, comme il vaut mieux prévenir que guérrir et comme il n'y a pas de vue particulière dont profiter à ces endroits, je vous encourage à marcher sans vous arrêter. Attention à vos pieds, toutefois, les passages peuvent être étroits sur ces tronçons.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4228-Chutes-Pierres.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<h2> Les demoiselles coiffées </h2>

<p>La particularité des ruines géologiques, c'est d'apercevoir des demoiselles coiffées. Il s'agit là de roches qui, au fil du temps, s'éffondrent et dont seule la partie la plus solide perdure. Au sommet de ces colonnes majestueuses, vous apercevrez de la végétation, comme un chapeau, d'où leur nom. Ces colonnes restent toutefois éphémères car elles finissent par s'éffondrer totalement, et ne ressembler qu'à un pic rocheux.</p>

<p>La première apparait juste après le panneau de chute de pierres, en vous retournant, au point 4. En voici un aperçu mais je vous encourage à aller la voir, c'est déjà impressionant d'être aussi proche:</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4231-Première-Demoiselle-Coiffée.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<p>Au même point, vous pourrez contempler un ensemble vue lac et montagne au creux du bois.</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4235-Vue-Lac-Montagnes.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4250-Vue-Lac-Montagnes.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<p>Du point 6 au point 7, vous allez faire votre première remontée. Si vous regardez en hauteur, vous verrez de nouvelles demoiselles coiffées plus impressionantes que la première. Plus vous montez, plus elles seront visibles et enfin, au sommet de la montée, vous aurez une vue splendide. Je n'ai pas mis cette vue en photo sur le site, cela vous laisse la surprise de le découvrir par vous même. Voici toutefois un aperçu de certaines demoiselles et des montagnes, au point 7:</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4289-Demoiselles-Coiffées-Après-Point-6.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4300-Montagnes-Point-7.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<h2>La muraille de Pellafol </h2>

<p>Après le point 7, la remontée continue jusqu'au point 8. Il vous faudra vous accrocher un peu car la montée semble longue et zigzag en forêt, mais c'est tout à fait faisable. Un petit morceau de montée sur quelques dizaines de mètre se fera sur la route jusqu'au point 8, où se trouve la muraille de Pellafol donc voici un aperçu:</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4307-Muraille-Pellafol.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>
<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4309-Muraille-Pellafol.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<h2> Dernière ligne droite</h2>

<p>Après la muraille, vous prenez le chemin de terre sur la gauche qui monte par la forêt et atterissez dans les champs. Vous allez devoir longer ces champs un moment, avec le vide à votre droite et la vue sur la muraille qui vous accompagne presque tout le long. <br> <br>
Du point 10 à 11, vous allez voir une cloture qu'il faut longer, une barre verte l'indiquant. Après la cloture, ne descendez pas sur le chemin de droite, il y a une croix jaune presque effacée sur un caillou, mais continuez bien de longer le champ par le haut. <br> <br>
Un peu plus loin, un sentier descends sur la droite pour rejoindre un chemin plus important, vous devez le prendre, et ensuite remonter de l'autre côté. A quelques mètres, vous verrez le panneau 11. La suite du chemin est, comme le reste, très facile à retrouver.</p>

<p>Pour terminer, je vous laisse sur cette dernière vue sur les montagnes:</p>

<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
<img width=100% height=100%
                src="../../static/img/review_pellafol/IMG_4351-Montagne.jpg"        
                alt="Pellafol Triève Alpes"></a>
</div>

<p> N'hésitez pas à aller marcher le long du sentier des ruines géologiques de Pellafol, car c'est une balade très agréable, avec une vue magnifique tout du long sur le lac du Sautet.</p>

<p>Appareil photos utilisé : Canon EOS 250D.
<br>Objectif utilisé : 18-135 mm de chez Canon, vendu avec le kit de départ.

<p><br /><br /><br /></p>

<!--end_content-->
            <!-- content_beginning -->
            
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
