<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Main page of the Pause Nature website.">    <title>Pause Nature home</title>    

        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../static/css/layouts/blog.css">
                <!--<![endif]-->

    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"
                                                      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dcjana2-4b1d6e6a-029c-4235-a7e5-1aff26bb8e82.jpg/v1/fill/w_800,h_1000,q_70,strp/sparrows_by_archiwyzard_dcjana2-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNqYW5hMi00YjFkNmU2YS0wMjljLTQyMzUtYTdlNS0xYWZmMjZiYjhlODIuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.d4x_zWIa-3kM6cD4TOcbJ3fmFDzByWbWI_KRPJrLHPU">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>


                </div>
            </div>

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <!-- A wrapper for all the blog posts -->
                    <div class="posts">
                        <h1 class="content-subhead">Pinned Post</h1>

                        <!-- A single blog post -->
                        <section class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_drawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">About</h2>
                                <p class="post-meta">
                                By <a href="#" class="post-author">Alexandre Proux</a>
                                </p>
                            </header>

                            <div class="post-description">
                            
                                <h2>Jamais sans mon appareil photo</h2>
                                
                                
                                <p> J'ai commencé la photographie en 2019 après avoir compris que j'aimais énormément prendre des photos, et qu'en prime, on me complimentait souvent sur mes cadrages, mes efforts pour faire des belles images. J'aime particulièrement la nature; l'air pur, les promenades, les animaux, la végétation, la beauté du sauvage.. C'est pourquoi je souhaitais me spécialiser dans la macro-photographie, au départ. Vous verrez donc de nombreuses photos prise à l'objectif macro. <br>
                                Cependant, au fur et à mesure de mes escapades et de mes découvertes, j'ai compris que ce n'était pas la macro-photographie en particulier qui m'intéressait, mais tous les animaux, du plus petit au plus grand. <br> <br>
                                
                                Mon interêt s'est confirmé lorsque j'ai découvert Vincent Munier et ses voyages, ses photos, ses livres.. Son periple au Tibet raconté par Sylvain Tesson. Je me suis demandé ce qu'il pouvait y avoir de plus beau que de contempler des loups, des panthères, des yacks, dans leur état sauvage.. Ma réponse, c'est "rien". Il n'y a rien de plus beau que de contempler un animal dans son milieu naturel, tout en respectant sa vie et son territoire. <br> <br>
                                
                                Bien sûr, vous ne verrez pas tout de suite des panthères, des yacks ou encore des lions sur le site, car je ne suis pas experte en planification de longs voyages et montage d'affuts, mais chaque chose en son temps.. Actuellement, j'applique plutôt l'adage "L'occasion fait le larron". Toutefois, nous n'avons qu'une vie, et je compte bien la vivre pleinement, et donc entamer mon apprentissage ! Après tout, il faut faire ce qui nous fait rêver. <br> <br> <br>
                                
                                Je me déplace beaucoup, car j'aime énormément visiter de nouveaux lieux lors de mes vacances. Ayant un pied à terre dans les Alpes et dans le sud-ouest de la France, je me plais à grimper les montagnes, sillonner le Tarn, en quète de nouveaux paysages et de beautés cachées. Vous verrez donc également de nombreux paysages car j'aime me dire que je rends un peu honneur à un lieu en l'immortalisant par mes photos. C'est vrai que le monde change, que la neige disparait, que certaines espèces meurent.. A mon échelle, je ne pourrais pas révolutionner tout un monde, mais j'essaie tout du moins de conserver sa majestée en image. C'est une de mes petites contributions. <br> <br>
                                
                                Enfin, je me fais bavarde.. Mais avec tout cela, vous me connaissez un peu mieux. J'espère que la visite sur le site; sur nos galeries, nos promenades, nos tutoriels, vous plairont et vous inspireront. N'hésitez pas à nous contacter pour partager vos idée pour améliorer le site, ou pour nous faire partager vos expériences, vos passions.. Nous sommes tout ouïe ! 
                                
                                <br>
                                <br>
                                Vous pouvez nous contacter par email à archiwyzard@gmail.com.
                                <br>
                                Vous pouvez nous suivre sur deviantart et instagram, ou sur pixabay :
                                <br>
                                    <p>Dessins d'Alexandre : <br>
                                    <li><a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a></li>
                                    <li><a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px"/></a></li></p>
                                    
                                    <p>Photos d'Amandine : <br>
                                    <li><a href="https://www.instagram.com/all_living_beings/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px"/></a></li>
                                    <li><a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a></li></p>
                                </p>              
                                
                                <br>
                                <br>
                                
                                <h2>Never without my camera</h2>
                                
                                <p>I started photography in 2019 after having understand that I really like taking pictures, and moreover, people often complimented me about my ability to take pictures and doing nice shoots. I love very much the nature; pur air, hikes, walks, animals, vegetation, wild beauty.. This is why I wanted to specialize in macro-photography at the beginning. Thus, you will se many pictures taken with the macro objective. <br>
                                However, progressively during my walks, I understood that it was not only macro-photography which interests me, but also all animals from the smallest one to the biggest one. <br> <br>
                                
                                My interest has been confirmed when I discovered Vincent Munier and its travels, pictures, books.. His tip to Tibet related by Sylvain Tesson. I wondered what can be more beautiful than contemplated wolves, panthers, yacks, in their natural form.. My answer is "nothing". Nothing can be more beautiful than contemplate a animal in its natural living place, while respecting its life and its territory. <br> <br> 
                                
                                Of course, you will not see panthers or lions, or yacks on the website because I am not expert in travel scheduling and blind set-up but everything in each own time.. Currently, I apply the adage "Opportunity makes thieves". However, we all have only one life, and I plan to live it fully, and so starting to learn photography technics to create opportunities ! After all, we have to do what make us dream. <br> <br> <br>
                                
                                I am often moving and traveling because I really like to visit new places during my holidays. I have got places in Alpes and south-west of France, so I like to climb a bit the mountains, walk accross the Tarn, searching new landscapes, and hidden beauties. Thus, you will also see numerous landscapes as I like thinking that I can honour the place by immortalizing it thanks to my pictures. It is true, the world is evolving, the snow disapears, some species die.. At my level, I cannot revolutionize the whole world, but I try, at least, to conserve its majestic in pictures It is one of my little contributions to preserve the nature. <br> <br>
                                
                                Well, I have written a lot.. But with all this, you know me a bit better than before. I hope the website visit; on our hikes reviews, our galleries, our tutorials, will please you and inspire you. Do not hesitate to contact us to share your ideas in order to improve the website, or to share with us you experiences, your passions... We want to give you our attention !
                                
                                <br>
                                <br>
                                You can contact us on archiwyzard@gmail.com.
                                <br>
                                You can follow us of deviantart and instagram, or on pixabay:
                                <br>
                                    <p>Alexandre's drawings : <br>
                                    <li><a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a></li>
                                    <li><a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px"/></a></li></p>
                                    
                                    <p>Amandine's pictures : <br>
                                    <li><a href="https://www.instagram.com/all_living_beings/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px"/></a></li>
                                    <li><a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a></li></p>
                                </p>     
                                </p>   
                            </div>
                        </section>
                    </div>


                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                    </div>
                </div>
            </div>


    </body>
</html>
