<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .button16{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">

    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Les photos sont faites pour être partagées.</h2>
                    Toutes les photos sont téléchargeables gratuitement en allant directement sur ma page
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> où vous pouvez sélectionner la taille de la photo que vous souhaitez télécharger.<br>
                    Les photos de ma page PIXABAY ne sont pas toutes présentes sur le site.
                </div>
            </div>
    </header>
    
    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Pictures are made to be shared.</h2>
                    All pictures are downloadable for free by going to my
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> profile where you can select the size of the picture you want to download.<br>
                    Some of my pictures present on PIXABAY are not on the website. 
                </div>
            </div>
    </header>
    
    <br>
    <br>
    
<!--     <button>Default Button</button> -->
    
    <center>
    <a href="/galerie_pictures" class="button button10">All</a>
    <a href="/galerie_pictures-insects" class="button button10">Insects</a>
    <a href="/galerie_pictures-living" class="button button10">Living</a>
    <a href="/galerie_pictures-giverny" class="button button10">Giverny</a>
    <a href="/galerie_pictures-mountain" class="button button10">Moutains</a>
    <a href="/galerie_pictures-flower" class="button button10">Flowers</a>
    </center>
  
    <br>
    <br>
   
    <!-- start autogenerated by autogenerated.pl -->
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="26"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="27"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="42"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="54"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="58"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="59"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="60"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="61"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="62"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="66"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="67"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="69"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="73"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="74"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="75"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="85"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="86"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="91"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="92"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="93"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="95"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="117"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="118"/>


    <div class="gallery">
         <label class="gallery__item" for="21">
             <a href="/sheet-giverny-5391675" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/29/giverny-5391675_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-giverny-5391671" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/28/giverny-5391671_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-giverny-5391672" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/28/giverny-5391672_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="26">
             <a href="/sheet-giverny-5391558" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/17/57/giverny-5391558_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="27">
             <a href="/sheet-lily-5391505" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/17/42/lily-5391505_960_720.jpg" alt="lily, flower, orange"></a>
         </label>
         <label class="gallery__item" for="42">
             <a href="/sheet-columbine-5202235" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/21/19/17/columbine-5202235_960_720.jpg" alt="columbine, pink, flower"></a>
         </label>
         <label class="gallery__item" for="54">
             <a href="/sheet-chives-5117751" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/41/chives-5117751_960_720.jpg" alt="chives, flower, purple"></a>
         </label>
         <label class="gallery__item" for="58">
             <a href="/sheet-iris-5095802" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/26/15/29/iris-5095802_960_720.jpg" alt="iris, purple, flower"></a>
         </label>
         <label class="gallery__item" for="59">
             <a href="/sheet-oxalis-5095757" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/26/15/25/oxalis-5095757_960_720.jpg" alt="oxalis, pink-sorrel, flowers"></a>
         </label>
         <label class="gallery__item" for="60">
             <a href="/sheet-thyme-5055025" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/33/thyme-5055025_960_720.jpg" alt="thyme, nature, close-up"></a>
         </label>
         <label class="gallery__item" for="61">
             <a href="/sheet-nasturtium-5055015" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/30/nasturtium-5055015_960_720.jpg" alt="nasturtium, flower, spring"></a>
         </label>
         <label class="gallery__item" for="62">
             <a href="/sheet-nasturtium-5055013" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/29/nasturtium-5055013_960_720.jpg" alt="nasturtium, flower, spring"></a>
         </label>
         <label class="gallery__item" for="66">
             <a href="/sheet-flowers-4978735" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/28/21/56/flowers-4978735_960_720.jpg" alt="flowers, petals, nature"></a>
         </label>
         <label class="gallery__item" for="67">
             <a href="/sheet-flowers-4951332" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/20/flowers-4951332_960_720.jpg" alt="flowers, purple, garden"></a>
         </label>
         <label class="gallery__item" for="69">
             <a href="/sheet-flowers-4951325" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/16/flowers-4951325_960_720.jpg" alt="flowers, purple, bloom"></a>
         </label>
         <label class="gallery__item" for="73">
             <a href="/sheet-flowers-4951286" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/04/flowers-4951286_960_720.jpg" alt="flowers, red, spring"></a>
         </label>
         <label class="gallery__item" for="74">
             <a href="/sheet-flower-4944492" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944492_960_720.jpg" alt="flower, spring, purple"></a>
         </label>
         <label class="gallery__item" for="75">
             <a href="/sheet-flower-4944491" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944491_960_720.jpg" alt="flower, spring, purple"></a>
         </label>
         <label class="gallery__item" for="85">
             <a href="/sheet-tulip-4879970" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879970_960_720.jpg" alt="tulip, flower, orange"></a>
         </label>
         <label class="gallery__item" for="86">
             <a href="/sheet-tulip-4879969" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879969_960_720.jpg" alt="tulip, flower, orange"></a>
         </label>
         <label class="gallery__item" for="91">
             <a href="/sheet-flowers-4873131" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/47/flowers-4873131_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="92">
             <a href="/sheet-flowers-4873128" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/46/flowers-4873128_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="93">
             <a href="/sheet-flowers-4873127" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/45/flowers-4873127_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="95">
             <a href="/sheet-passionflower-4774160" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/01/17/22/34/passionflower-4774160_960_720.jpg" alt="passionflower, nature, geometric"></a>
         </label>
         <label class="gallery__item" for="117">
             <a href="/sheet-marigolds-4655449" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/33/marigolds-4655449_960_720.jpg" alt="marigolds, flower, marigold"></a>
         </label>
         <label class="gallery__item" for="118">
             <a href="/sheet-marigold-4655440" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/27/marigold-4655440_960_720.jpg" alt="marigold, nature, flower"></a>
         </label>
    </div> <!-- End div classe gallery -->
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- div footer -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
