<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Galerie de dessins et peintures d'Alexandre Proux.">    <title>Galerie d'art &ndash; Pure</title>    
    <link rel="stylesheet" href="../static/css/layouts/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/galery-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../static/css/layouts/galery.css">
        <!--<![endif]-->
</head>
<body>

<div>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">Painting gallery</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="home" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="home" class="pure-menu-link">Reviews</a></li>
                <li class="pure-menu-item"><a href="galerie_peinture" class="pure-menu-link">Paintings</a></li>
                <li class="pure-menu-item"><a href="home" class="pure-menu-link">Picture</a></li>
                <li class="pure-menu-item"><a href="home" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

    <div class="text-box pure-u-1 pure-u-md-1 pure-u-lg-1-3">
        <div class="l-box">
            <h1 class="text-box-head">Painting gallery</h1>
            <p class="text-box-subhead">2019-2020</p>
            <p class="text-box-subhead">Painting and drawing by Alexandre Proux.</p>
        </div>
    </div>

    <div class="pure-g">
        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <a href="https://www.instagram.com/p/B6dAUugns-C/?utm_source=ig_web_copy_link">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddmwogp-601e1d28-4f24-4eec-9bc1-96620c6dfa82.jpg/v1/fill/w_1156,h_691,q_70,strp/cherry_blossom_study_by_archiwyzard_ddmwogp-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc0NiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRtd29ncC02MDFlMWQyOC00ZjI0LTRlZWMtOWJjMS05NjYyMGM2ZGZhODIuanBnIiwid2lkdGgiOiI8PTI5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.K5pgK-wnGNDLO7k_PM6HQZihbM-WcMv9SIhkmOIFgc4"
                     alt="Cherry Blossom"></a>
            <aside class="photo-box-caption">
                <span>
                    by Alexandre Proux
                </span>
            </aside>
        </div>


        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <a href="https://www.instagram.com/p/B6a79iOn5QP/?utm_source=ig_web_copy_link">
                <img
               src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddmulwa-2e8e3a0b-6495-4413-b1e4-54f87436b8ac.jpg/v1/fill/w_983,h_813,q_70,strp/art_of_the_day_by_archiwyzard_ddmulwa-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc1OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRtdWx3YS0yZThlM2EwYi02NDk1LTQ0MTMtYjFlNC01NGY4NzQzNmI4YWMuanBnIiwid2lkdGgiOiI8PTIxMjUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.MEEb6y4clYc8xFRCPtKlU9VqF4sHum2P_OzgVATRKHg"
                     alt="King Fisher"></a>
            <aside class="photo-box-caption">
                <span>
                    by Alexandre Proux
                </span>
            </aside>
        </div>

        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <a href="https://www.instagram.com/p/B5fYD40HqDC/?utm_source=ig_web_copy_link">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddlczc0-c2123f8f-b5c9-4b9e-96fe-58e10dd193a0.jpg/v1/fill/w_928,h_861,q_70,strp/daily_drawing_30_11_2019_by_archiwyzard_ddlczc0-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQzOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRsY3pjMC1jMjEyM2Y4Zi1iNWM5LTRiOWUtOTZmZS01OGUxMGRkMTkzYTAuanBnIiwid2lkdGgiOiI8PTE1NTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gHtyA6t4XItA4la56Y35LEp2_LUzzr-4cgBUiv__rrU"
                     alt="Proud little tits"></a>
            <aside class="photo-box-caption">
                <span>
                    by Alexandre Proux
                </span>
            </aside>
        </div>

        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <a href="https://www.instagram.com/p/B5TRFMDHTGD/?utm_source=ig_web_copy_link">
                <img
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddl2faw-01f85de4-b23b-40ad-867e-8e48d991cf6e.jpg/v1/fill/w_1095,h_730,q_70,strp/magpie_sumi_e_by_archiwyzard_ddl2faw-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRsMmZhdy0wMWY4NWRlNC1iMjNiLTQwYWQtODY3ZS04ZTQ4ZDk5MWNmNmUuanBnIiwid2lkdGgiOiI8PTI0MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.74F64E3SorHnLmBjgEX6iCMMPMRYj9rbbAk8NMe1jPQ"
                     alt="Proud little tits"></a>
            <aside class="photo-box-caption">
                <span>
                    by Alexandre Proux
                </span>
            </aside>
        </div>

<!-- TEMPLATE
        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <a href="">
                <img src=""
                     alt="Cherry Blossom"></a>
            <aside class="photo-box-caption">
                <span>
                    by Alexandre Proux
                </span>
            </aside>
        </div>
        -->

        <!--
            <aside class="photo-box-caption">
                <span>
                    by <a href="http://www.goodfreephotos.com/">Yinan Chen</a>
                </span>
            </aside>
        -->
        </div>


        <!--
        <div class="pure-u-1 form-box">
            <div class="l-box">
                <h2>Submit a Photo</h2>

                <form class="pure-form">
                    <input type="text" placeholder="Photo URL" required>
                    <input type="text" placeholder="Email">
                    <button type="submit" class="pure-button">Submit</button>
                </form>
            </div>
        </div>
        -->
    <div class="footer">
        All pictures and images are the propriety of Alexandre Proux.
    </div>
</div>


</body>
</html>
