<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_paintings1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-Inktober-27-In-vino-veritas-859413553" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7o7qp-f68c7080-0377-4585-a10a-aec3bb92c04d.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_27__in_vino_veritas_by_archiwyzard_de7o7qp-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMTE0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdvN3FwLWY2OGM3MDgwLTAzNzctNDU4NS1hMTBhLWFlYzNiYjkyYzA0ZC5qcGciLCJ3aWR0aCI6Ijw9MjU2OSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-lU5BmuWeQhPtQfLX2v7EhismIDGV7zoozBZdmiYu2A" alt="Inktober 27, In vino veritas drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-Inktober-26-Surprised-eagle-859293132" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7lmto-11d30735-2a9c-439c-ae4b-ee0e1019ca13.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_26__surprised_eagle_by_archiwyzard_de7lmto-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNDcwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdsbXRvLTExZDMwNzM1LTJhOWMtNDM5Yy1hZTRiLWVlMGUxMDE5Y2ExMy5qcGciLCJ3aWR0aCI6Ijw9MjEwMyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EJoeNDflkxb7M3_ALhOQsgUDUxx1zYSY684_PGhsrkY" alt="Inktober 26, Surprised eagle drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-Inktober-25-why-are-they-looking-for-you-859204792" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7jqns-2f003695-dd22-4db5-86e2-5cea3245bc7b.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_25__why_are_they_looking_for_you___by_archiwyzard_de7jqns-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMTg4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdqcW5zLTJmMDAzNjk1LWRkMjItNGRiNS04NmUyLTVjZWEzMjQ1YmM3Yi5qcGciLCJ3aWR0aCI6Ijw9MjQ4NSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.z0ldvfv-7RLggg7YQgG0NXEIl3I0et38c74ONvceRXY" alt="Inktober 25, why are they looking for you ? drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-Inktober-24-Scribe-Owl-859100705" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7hich-af836340-8210-4569-aeed-4e090b2210f9.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_24__scribe_owl_by_archiwyzard_de7hich-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zNTg5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdoaWNoLWFmODM2MzQwLTgyMTAtNDU2OS1hZWVkLTRlMDkwYjIyMTBmOS5qcGciLCJ3aWR0aCI6Ijw9MjUyNyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.227D1CdIworQOnTj2gHATtTTZgRsdeFzLrrr4lhnsGc" alt="Inktober 24, Scribe Owl drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-Inktober-23-Mushroom-Season-859003631" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7fffz-9cb2366f-0785-4ec7-a4d8-51a5516f1c00.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_23__mushroom_season_by_archiwyzard_de7fffz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMDA1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdmZmZ6LTljYjIzNjZmLTA3ODUtNGVjNy1hNGQ4LTUxYTU1MTZmMWMwMC5qcGciLCJ3aWR0aCI6Ijw9MjYxMSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.omtUsBsysOv1xwFSVCHySwMAqx5v41TBuEnk-VFbEkI" alt="Inktober 23, Mushroom Season drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-Inktober-22-Black-and-brown-ink-wash-858901246" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7d8fy-5a18de2e-055d-4c13-9597-591e754e9b56.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_22__black_and_brown_ink_wash_by_archiwyzard_de7d8fy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTM3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdkOGZ5LTVhMThkZTJlLTA1NWQtNGMxMy05NTk3LTU5MWU3NTRlOWI1Ni5qcGciLCJ3aWR0aCI6Ijw9MjM1MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zEu8lDCjotbnXoB7Wt1oeQEBbHIiCNrvG4pl1cNE1Y8" alt="Inktober 22, Black and brown ink wash drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-inktober-21-an-important-lion-858805531" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7b6l7-6804909b-7d57-465e-8802-ff43065260b1.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_21___an_important_lion__by_archiwyzard_de7b6l7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTAzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdiNmw3LTY4MDQ5MDliLTdkNTctNDY1ZS04ODAyLWZmNDMwNjUyNjBiMS5qcGciLCJ3aWR0aCI6Ijw9MTk3OCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8Lky2wcxxg2AhFAOje9xS0Yv7KE230qVbRF5kekb1Rs" alt="inktober 21,  an important lion  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-inktober-20-a-proud-pig-858700797" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de78xrx-b8f3c582-a652-47c1-b04a-0ece641d3019.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_20__a_proud_pig_by_archiwyzard_de78xrx-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNTQ5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTc4eHJ4LWI4ZjNjNTgyLWE2NTItNDdjMS1iMDRhLTBlY2U2NDFkMzAxOS5qcGciLCJ3aWR0aCI6Ijw9MzUyMSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rBRCwkWdaMQikHFXHsOQEJ_a2WwVNdg65WM5vtuG1d4" alt="inktober 20, a proud pig drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-Inktober-19-Line-and-wash-858601633" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de76t9d-260e39d2-9025-4453-8e3b-d9689b1caa91.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_19__line_and_wash_by_archiwyzard_de76t9d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMDkwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTc2dDlkLTI2MGUzOWQyLTkwMjUtNDQ1My04ZTNiLWQ5Njg5YjFjYWE5MS5qcGciLCJ3aWR0aCI6Ijw9MjcyMSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JVNvC3JK-idc8byUv9KmBiJy0kGnZmHznhEaHlmsvZg" alt="Inktober 19, Line and wash drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-Inktober-18-Nest-brothers-858489950" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de74f32-6e10f85e-1537-46d4-84e1-a8218e3f1465.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_18__nest_brothers_by_archiwyzard_de74f32-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNjUwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTc0ZjMyLTZlMTBmODVlLTE1MzctNDZkNC04NGUxLWE4MjE4ZTNmMTQ2NS5qcGciLCJ3aWR0aCI6Ijw9MjU3MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.tFVRBSQ5BNrWrjLEpcFfbYCR9dBnuHQzP5fNgnaVUio" alt="Inktober 18, Nest brothers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-Inktober-17-Owl-lady-858396678" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de72f46-5a381cb2-e790-44ce-a3f9-37a36a4e13fc.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_17__owl_lady_by_archiwyzard_de72f46-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNzA0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTcyZjQ2LTVhMzgxY2IyLWU3OTAtNDRjZS1hM2Y5LTM3YTM2YTRlMTNmYy5qcGciLCJ3aWR0aCI6Ijw9MjMzMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.t6K5oCRkfRdZHlwU9n-roD-WweGCxAMoNhdRAKNfCzM" alt="Inktober 17, Owl lady drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-Inktober-16-traveling-singer-858303835" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de70fh7-be036d9d-3046-439e-8a0f-f177c77e829d.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_16__traveling_singer_by_archiwyzard_de70fh7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDM3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTcwZmg3LWJlMDM2ZDlkLTMwNDYtNDM5ZS04YTBmLWYxNzdjNzdlODI5ZC5qcGciLCJ3aWR0aCI6Ijw9MjQzMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JvV0289-LkVzXShk6wgDjdjMl8vHNShbhGKSIW5J5LY" alt="Inktober 16, traveling singer drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-Inktober-15-Bring-them-to-me-858202272" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6y940-6bba97b0-5b05-4a4b-9454-7af87eaa06d8.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_15__bring_them_to_me_by_archiwyzard_de6y940-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDc5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZ5OTQwLTZiYmE5N2IwLTViMDUtNGE0Yi05NDU0LTdhZjg3ZWFhMDZkOC5qcGciLCJ3aWR0aCI6Ijw9MjQ5NSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jveX1gdAXaNWTeBHw7q6HZB84xznKTbcjZz7nOchnVk" alt="Inktober 15, Bring them to me drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-Inktober-14-Mr-long-eared-owl-858104828" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6w5x8-24e540f8-067a-462d-87c8-b56ba2daf0c2.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_14__mr_long_eared_owl_by_archiwyzard_de6w5x8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMjgwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZ3NXg4LTI0ZTU0MGY4LTA2N2EtNDYyZC04N2M4LWI1NmJhMmRhZjBjMi5qcGciLCJ3aWR0aCI6Ijw9ODg4In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.LmnAphHeLCcIqZGG95wEbvosKaoZkueawly7K6-82mk" alt="Inktober 14, Mr long-eared owl drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-Inktober-13-Japanese-village-858003186" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6tzhu-940c2c5c-dcd9-41e8-927a-d59ead0b3631.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_13__japanese_village_by_archiwyzard_de6tzhu-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMjY1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZ0emh1LTk0MGMyYzVjLWRjZDktNDFlOC05MjdhLWQ1OWVhZDBiMzYzMS5qcGciLCJ3aWR0aCI6Ijw9MzE4NSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.XspVlKXwPe1Z6t0_XvC8mnLxAt-kZEspheYO63n-pxA" alt="Inktober 13, Japanese village drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-Inktober-12-brush-painting-857898373" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6rqmd-e26d4285-4716-4074-a417-91bc70b02f3c.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_12__brush_painting_by_archiwyzard_de6rqmd-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDA3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZycW1kLWUyNmQ0Mjg1LTQ3MTYtNDA3NC1hNDE3LTkxYmM3MGIwMmYzYy5qcGciLCJ3aWR0aCI6Ijw9MjYxMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.b-RB-VBpcJhgMPDezAUeJA6FcaXo-kidzAtc-LIJKtg" alt="Inktober 12, brush painting drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-Inktober-11-Heron-looking-for-a-fight-857796481" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6pk01-8e9c0ea9-bf5a-4f34-beda-1a8429af457e.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_11__heron_looking_for_a_fight_by_archiwyzard_de6pk01-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMjYyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZwazAxLThlOWMwZWE5LWJmNWEtNGYzNC1iZWRhLTFhODQyOWFmNDU3ZS5qcGciLCJ3aWR0aCI6Ijw9MjYxMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.X5ONzZ49pOKQiIwXAo-DEDkYrkrtTqabeLnxeo7IhUk" alt="Inktober 11, Heron looking for a fight drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-Inktober-10-Looking-for-a-sparing-partner-857690287" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6na27-4b54c08e-eda9-4d28-a545-e6365208db71.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_10__looking_for_a_sparing_partner_by_archiwyzard_de6na27-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMjYyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZuYTI3LTRiNTRjMDhlLWVkYTktNGQyOC1hNTQ1LWU2MzY1MjA4ZGI3MS5qcGciLCJ3aWR0aCI6Ijw9MjYxMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.47hy-ce-5dPz3RNQ1vaz5jV_2ZT6cWNpIJzKN7yPZsE" alt="Inktober 10, Looking for a sparing partner drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-Inktober-9-Looking-for-an-adventure-857602653" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6lefx-0a12866b-fcfb-454e-a992-54341159d561.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_9__looking_for_an_adventure_by_archiwyzard_de6lefx-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDYwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZsZWZ4LTBhMTI4NjZiLWZjZmItNDU0ZS1hOTkyLTU0MzQxMTU5ZDU2MS5qcGciLCJ3aWR0aCI6Ijw9MjQ3NSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.hYOfnMLFpNfjbGimkuCrA81faEWHDWy_L1H6W7rMPhw" alt="Inktober 9, Looking for an adventure drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-Inktober-8-King-Fisher-samurai-857507004" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6jcn0-1e6c62cd-6acc-45e6-8239-7aa9e4b2dab8.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_8__king_fisher_samurai_by_archiwyzard_de6jcn0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDkxIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZqY24wLTFlNmM2MmNkLTZhY2MtNDVlNi04MjM5LTdhYTllNGIyZGFiOC5qcGciLCJ3aWR0aCI6Ijw9MjQ3MyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6-K7Nv54l9bPBoh8-PNUR3Q3wba3FpXQkQL25_HPLlE" alt="Inktober 8, King Fisher samurai drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-Inktober-7-Toad-success-857405734" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6h6hy-5d2fddab-f473-4ff0-8f58-abe022475125.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_7__toad_success_by_archiwyzard_de6h6hy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNjEwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZoNmh5LTVkMmZkZGFiLWY0NzMtNGZmMC04ZjU4LWFiZTAyMjQ3NTEyNS5qcGciLCJ3aWR0aCI6Ijw9MjYxMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.N2Z1bNMww07mvzn5RkbCsTuHEE6-cX-gVaOEq7pXw88" alt="Inktober 7, Toad success drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-inktober-5-mister-vulture-857202717" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6ctul-647bd7f5-6ff1-4563-9054-6d2a60158b3c.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_5__mister_vulture_by_archiwyzard_de6ctul-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDU1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZjdHVsLTY0N2JkN2Y1LTZmZjEtNDU2My05MDU0LTZkMmE2MDE1OGIzYy5qcGciLCJ3aWR0aCI6Ijw9MjQ3MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1bXUh7d99pHM4nKfhjFmW5MzD-JYft3PCrW272HJIKA" alt="inktober 5, mister vulture drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-Inktober-4-Thrill-of-the-hunt-857089331" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6aecz-993a8d5e-fdd2-460c-8e3e-57e973d61a81.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_4__thrill_of_the_hunt_by_archiwyzard_de6aecz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNTA5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTZhZWN6LTk5M2E4ZDVlLWZkZDItNDYwYy04ZTNlLTU3ZTk3M2Q2MWE4MS5qcGciLCJ3aWR0aCI6Ijw9MzM2MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZRwHgJ-T72X0rBO8VD9eFa8odaI2JqHha23AvYM8a6U" alt="Inktober 4, Thrill of the hunt drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-In-France-slime-hunt-is-only-suspended-for-1-year-856987907" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de6883n-df42e51f-f2a1-43dc-a8f8-2d847e937795.jpg/v1/fit/w_300,h_900,q_70,strp/in_france__slime_hunt_is_only_suspended_for_1_year_by_archiwyzard_de6883n-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMzE4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTY4ODNuLWRmNDJlNTFmLWYyYTEtNDNkYy1hOGY4LTJkODQ3ZTkzNzc5NS5qcGciLCJ3aWR0aCI6Ijw9MjMxOCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JF9Px_gYrrOzCKN76gxHC36KvsBBcJMufolwkmDVIc4" alt="In France, slime hunt is only suspended for 1 year drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
