<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_paintings1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-Lilac-711502179" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbrlylf-37ce0742-b215-4b34-b9d9-60f576ba7385.jpg/v1/fit/w_300,h_852,q_70,strp/lilac_by_archiwyzard_dbrlylf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NTIiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2Ricmx5bGYtMzdjZTA3NDItYjIxNS00YjM0LWI5ZDktNjBmNTc2YmE3Mzg1LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.x1khsq0UGOdqZyDCkp99avW2zQjCzcbxvJsh2Z9vkp0" alt="Lilac drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-Cherry-blossom-711326671" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbri767-6d757192-985e-4c74-a8c3-1b2ec25c2a6e.jpg/v1/fit/w_300,h_473,q_70,strp/cherry_blossom_by_archiwyzard_dbri767-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00NzMiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2Ricmk3NjctNmQ3NTcxOTItOTg1ZS00Yzc0LWE4YzMtMWIyZWMyNWMyYTZlLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.UkTrnv5YbNo1dhSHbM2IYe67MFxQ02ww_22bsSSSil8" alt="Cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-Orchid-711322581" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbri40l-ed3f0f1b-a077-40b4-a76f-596105248ecc.jpg/v1/fit/w_300,h_692,q_70,strp/orchid_by_archiwyzard_dbri40l-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02OTIiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2Ricmk0MGwtZWQzZjBmMWItYTA3Ny00MGI0LWE3NmYtNTk2MTA1MjQ4ZWNjLmpwZyIsIndpZHRoIjoiPD0xMDIzIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Ij3zoeFkQJNaKqhKq3dZptZHDoWcTipghnONtrlxRgI" alt="Orchid drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-Raspberries-710924318" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbr9kpq-a397cf58-b064-4b93-9938-3e5da438e1d4.jpg/v1/fit/w_300,h_690,q_70,strp/raspberries_by_archiwyzard_dbr9kpq-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02OTAiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicjlrcHEtYTM5N2NmNTgtYjA2NC00YjkzLTk5MzgtM2U1ZGE0MzhlMWQ0LmpwZyIsIndpZHRoIjoiPD0xMDIzIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.dizDotfLBWXdlAQMIxTHzGohUri00j8gD2Nlt9FyoZQ" alt="Raspberries drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-Blueberries-710881833" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbr8nxl-f3581fde-3e89-4643-915f-ff386c30fb77.jpg/v1/fit/w_300,h_710,q_70,strp/blueberries_by_archiwyzard_dbr8nxl-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MTAiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicjhueGwtZjM1ODFmZGUtM2U4OS00NjQzLTkxNWYtZmYzODZjMzBmYjc3LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.lsrdHcxdp5onESSebsijlBc-BdUsCUKnFW3Xmjm_I_Q" alt="Blueberries drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-Olive-tree-710298495" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqw5tr-19b81017-8e05-4a5a-b89d-3fc1e9f7268b.jpg/v1/fit/w_300,h_576,q_70,strp/olive_tree_by_archiwyzard_dbqw5tr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzYiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicXc1dHItMTliODEwMTctOGUwNS00YTVhLWI4OWQtM2ZjMWU5ZjcyNjhiLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.9wPdlOWAoN18-hyfDS3cBvGlDa2oxb3WpijsGNrHhEc" alt="Olive tree drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-Edelweiss-709951875" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqoqdf-7e1dc4fc-8d02-4826-826d-f75f8a349bcc.jpg/v1/fit/w_300,h_900,q_70,strp/edelweiss_by_archiwyzard_dbqoqdf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDI2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnFvcWRmLTdlMWRjNGZjLThkMDItNDgyNi04MjZkLWY3NWY4YTM0OWJjYy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.f8BtCnrUxLN9ZD8KthfhcbK48zCpRCfDKCcejKHvG8U" alt="Edelweiss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-viola-709951519" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqoq3j-a844db18-32e1-4929-82d0-ab06833322ce.jpg/v1/fit/w_300,h_900,q_70,strp/viola_by_archiwyzard_dbqoq3j-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDM0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnFvcTNqLWE4NDRkYjE4LTMyZTEtNDkyOS04MmQwLWFiMDY4MzMzMjJjZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.22pMj3ITuv0YfZMOM8-WVqs7jZ-gdqCSQF82lI5r4Go" alt="viola drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-butternut-709886980" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqncas-6a34ffb8-9ce2-4f1e-993d-2ec1580db85d.jpg/v1/fit/w_300,h_847,q_70,strp/butternut_by_archiwyzard_dbqncas-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NDciLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicW5jYXMtNmEzNGZmYjgtOWNlMi00ZjFlLTk5M2QtMmVjMTU4MGRiODVkLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.iiXGdbRHJz_UVKOSA0qzwHJ6qn3SuKckKAW6VEdmBgM" alt="butternut drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-Cherry-Blossom-709711188" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqjkno-ce6e3365-1d00-49ef-9a98-dd5c7eb45e1a.jpg/v1/fit/w_300,h_900,q_70,strp/cherry_blossom_by_archiwyzard_dbqjkno-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMzAwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnFqa25vLWNlNmUzMzY1LTFkMDAtNDllZi05YTk4LWRkNWM3ZWI0NWUxYS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Qe6vei4ujjz3W_cjOoYj1ykdXNvU6J0Ej2F3VTsEriA" alt="Cherry Blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-Chestnut-709701628" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbqjda4-ae8aaef8-0fc1-43ac-883b-738b2591d240.jpg/v1/fit/w_300,h_900,q_70,strp/chestnut_by_archiwyzard_dbqjda4-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicWpkYTQtYWU4YWFlZjgtMGZjMS00M2FjLTg4M2ItNzM4YjI1OTFkMjQwLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.CZ0tJWBmOiS-hBbZqzr5z8RF-tWfwPHZkCK0EziY5NI" alt="Chestnut drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-Rose-709061178" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbq5n3u-f5a0cb26-e21a-42e3-a9c5-fed0eb25716d.jpg/v1/fit/w_300,h_900,q_70,strp/rose_by_archiwyzard_dbq5n3u-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMTkyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnE1bjN1LWY1YTBjYjI2LWUyMWEtNDJlMy1hOWM1LWZlZDBlYjI1NzE2ZC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.hlMTDARgQxvcV6uTc_4MivYE5eN4U7sJjqAyRlCwk2Y" alt="Rose drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-Edelweiss-708896062" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbq23pa-ad207080-f65e-4312-bcd1-1e759121a1f4.jpg/v1/fit/w_300,h_866,q_70,strp/edelweiss_by_archiwyzard_dbq23pa-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NjYiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicTIzcGEtYWQyMDcwODAtZjY1ZS00MzEyLWJjZDEtMWU3NTkxMjFhMWY0LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.5uvXkgWDDTphRBiUNgqCyMai4P5UYv0uvjoALP5R75c" alt="Edelweiss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-Cherry-blossom-708647146" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbpwrmy-4dec0b2c-d689-425a-be24-11fce89bc21a.jpg/v1/fit/w_300,h_726,q_70,strp/cherry_blossom_by_archiwyzard_dbpwrmy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MjYiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicHdybXktNGRlYzBiMmMtZDY4OS00MjVhLWJlMjQtMTFmY2U4OWJjMjFhLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.VcNG5XAOUZsF2lp5hYIHIcSzUdQ0dtfgIXFL2f20guA" alt="Cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-Cherry-blossom-708637716" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbpwkd0-b6e9412c-176c-43ff-b721-870d2435fd06.jpg/v1/fit/w_300,h_741,q_70,strp/cherry_blossom_by_archiwyzard_dbpwkd0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NDEiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicHdrZDAtYjZlOTQxMmMtMTc2Yy00M2ZmLWI3MjEtODcwZDI0MzVmZDA2LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.pZBBhnhEAqkD_IaE8rV2azRHXsdX_d1HALVssmJExP4" alt="Cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-Gainsbourg-708135581" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbplswt-fdbfc65d-4020-4463-b3ac-64596e413b3e.jpg/v1/fit/w_300,h_706,q_70,strp/gainsbourg_by_archiwyzard_dbplswt-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MDYiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicGxzd3QtZmRiZmM2NWQtNDAyMC00NDYzLWIzYWMtNjQ1OTZlNDEzYjNlLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Kuq94zzJ4ZOJ_qKTT9gdprTQabck1gc4b_QUj4tJ0Lc" alt="Gainsbourg drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-Mushroom-708132850" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbplqsy-0244de96-84e4-447e-978b-ced76b5417a2.jpg/v1/fit/w_300,h_900,q_70,strp/mushroom_by_archiwyzard_dbplqsy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MjQiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicGxxc3ktMDI0NGRlOTYtODRlNC00NDdlLTk3OGItY2VkNzZiNTQxN2EyLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Jx3GiRAPCope04ZoLlnbtAdufopsnigCEy7to7DF1LQ" alt="Mushroom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-Japanese-Maple-707603937" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbpaeox-d53e9026-7328-413c-8c5f-3bcb32c943a6.jpg/v1/fit/w_300,h_900,q_70,strp/japanese_maple_by_archiwyzard_dbpaeox-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMzM0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnBhZW94LWQ1M2U5MDI2LTczMjgtNDEzYy04YzVmLTNiY2IzMmM5NDNhNi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Jc15pMzEf22dPoaSEksKli2U8W1x20o18m5ciQrpGos" alt="Japanese Maple drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-Lily-pad-707344633" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbp4um1-820ffffc-e6bf-459d-9ea0-b688e2c83d5e.jpg/v1/fit/w_300,h_658,q_70,strp/lily_pad_by_archiwyzard_dbp4um1-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02NTgiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicDR1bTEtODIwZmZmZmMtZTZiZi00NTlkLTllYTAtYjY4OGUyYzgzZDVlLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.64ecUWEkpjRlYpDAzmZHFk6ZSJKIyiqUo8engBylYoQ" alt="Lily pad drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-Cherry-blossom-707206219" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbp1vt7-511181e6-e782-490a-bd55-b34d2345f916.jpg/v1/fit/w_300,h_772,q_70,strp/cherry_blossom_by_archiwyzard_dbp1vt7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NzIiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RicDF2dDctNTExMTgxZTYtZTc4Mi00OTBhLWJkNTUtYjM0ZDIzNDVmOTE2LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.crH_BU41LkHYXdXj0sdLguaQm1J3hAJwshIivCCU47Q" alt="Cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-cherry-blossom-706689192" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dboqsvc-9525d6f5-534e-4c51-9712-c717e90a6002.jpg/v1/fit/w_300,h_900,q_70,strp/cherry_blossom_by_archiwyzard_dboqsvc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xODIxIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYm9xc3ZjLTk1MjVkNmY1LTUzNGUtNGM1MS05NzEyLWM3MTdlOTBhNjAwMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jVrM46048zJy11lIiAlxavSL2bD6Gw6cSLW2fMDOytA" alt="cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-Rose-705996271" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dboby7j-a8c0dd7c-3d81-4ab0-b534-4f407073838e.jpg/v1/fit/w_300,h_900,q_70,strp/rose_by_archiwyzard_dboby7j-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNDIzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYm9ieTdqLWE4YzBkZDdjLTNkODEtNGFiMC1iNTM0LTRmNDA3MDczODM4ZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.cDxeCYe_O37kU1PNfEIyDxJEWr1VTTWLYKmjOdmm5Ek" alt="Rose drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-Pear-tree-flowers-705958461" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbob519-ff19ee14-305b-4158-908e-60c336bda597.jpg/v1/fit/w_300,h_783,q_70,strp/pear_tree_flowers_by_archiwyzard_dbob519-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03ODMiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2Rib2I1MTktZmYxOWVlMTQtMzA1Yi00MTU4LTkwOGUtNjBjMzM2YmRhNTk3LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.iTg-yeW3lmhJNvuZ8W9aq4JaMqztPgdZQFtjAji3uoA" alt="Pear tree flowers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-sushis-705946517" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dboavth-5108696c-57c0-4aa4-b9b6-f31a0d909663.jpg/v1/fit/w_300,h_576,q_70,strp/sushis_by_archiwyzard_dboavth-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzYiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2Rib2F2dGgtNTEwODY5NmMtNTdjMC00YWE0LWI5YjYtZjMxYTBkOTA5NjYzLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.L6OctYgk0mU_lGaGh0MX6gdGMcDYezVnWvYcy0mqLa4" alt="sushis drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
