<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-pictures-Black-bee-on-an-Iris-890696095" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqapi7-02f73054-7cdc-4e54-9f5e-85d1274ea34a.jpg/v1/fit/w_300,h_854,q_70,strp/black_bee_on_an_iris_by_sinason_deqapi7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhcGk3LTAyZjczMDU0LTdjZGMtNGU1NC05ZjVlLTg1ZDEyNzRlYTM0YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.YRjgThgkx1uAbI4StHvHahz7l8LQiYA30dXKPnhpRE0" alt="Black bee on an Iris drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-pictures-Beautiful-daisy-890695923" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqapdf-407a34c5-7f55-47fd-b335-19024608367a.jpg/v1/fit/w_300,h_854,q_70,strp/beautiful_daisy_by_sinason_deqapdf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhcGRmLTQwN2EzNGM1LTdmNTUtNDdmZC1iMzM1LTE5MDI0NjA4MzY3YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1ozO_PqeuegrRgUui_zck0Qd1RHlAZukkRDwOAuiu28" alt="Beautiful daisy drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-pictures-Purple-iris-flower-890695834" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqapay-26be9466-4ddf-4de6-88be-efd15cf01ae4.jpg/v1/fit/w_300,h_900,q_70,strp/purple_iris__flower__by_sinason_deqapay-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYXBheS0yNmJlOTQ2Ni00ZGRmLTRkZTYtODhiZS1lZmQxNWNmMDFhZTQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.enAc7tVEpkIRLqaYF1_aOlQMK8e_jtH-8hCScD-hcDA" alt="Purple iris (flower) drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-pictures-Mountains-in-Alps-hike-to-La-Salette-890695699" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqap77-7fedf2c3-4999-477e-9394-33cd24e7cf3f.jpg/v1/fit/w_300,h_854,q_70,strp/mountains_in_alps__hike_to_la_salette_by_sinason_deqap77-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhcDc3LTdmZWRmMmMzLTQ5OTktNDc3ZS05Mzk0LTMzY2QyNGU3Y2YzZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Iwrm8CnZuATxFucg8ZOSodLxtTM5acWAPcyzFL8zy-Q" alt="Mountains in Alps, hike to La Salette drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-pictures-Mountains-in-Alps-hike-to-La-Salette-890695527" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqap2f-48ec54db-795e-4376-9fda-12d1a5b8a39d.jpg/v1/fit/w_300,h_854,q_70,strp/mountains_in_alps__hike_to_la_salette_by_sinason_deqap2f-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhcDJmLTQ4ZWM1NGRiLTc5NWUtNDM3Ni05ZmRhLTEyZDFhNWI4YTM5ZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EqL0EBpgkEmz0oQpNK7zzlN8gUlS7ldAhSy0ocwEv58" alt="Mountains in Alps, hike to La Salette drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-pictures-Butterfly-in-a-field-of-wheat-890695396" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaoys-a7eb02e0-5b30-4b21-a77b-e87d713c0185.jpg/v1/fit/w_300,h_854,q_70,strp/butterfly_in_a_field_of_wheat_by_sinason_deqaoys-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb3lzLWE3ZWIwMmUwLTViMzAtNGIyMS1hNzdiLWU4N2Q3MTNjMDE4NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8_E6e5zvWahXahOU4lICCu42_AExU-tEHbx7-ovCe94" alt="Butterfly in a field of wheat drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-pictures-Ascalaphe-890695179" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaosr-8377f93a-3866-4e55-a008-407151bc5b6a.jpg/v1/fit/w_300,h_854,q_70,strp/ascalaphe_by_sinason_deqaosr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb3NyLTgzNzdmOTNhLTM4NjYtNGU1NS1hMDA4LTQwNzE1MWJjNWI2YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Q0r4CYFZFDfMCN1VUZKVlIArNPwg3IQ0uzuUOZuBrKQ" alt="Ascalaphe drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-pictures-Purple-flowers-890694996" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaono-4240f7d4-158d-4b35-8574-6dca22bb5d16.jpg/v1/fit/w_300,h_854,q_70,strp/purple_flowers_by_sinason_deqaono-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb25vLTQyNDBmN2Q0LTE1OGQtNGIzNS04NTc0LTZkY2EyMmJiNWQxNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.G4kto0U8VS48dwxhfzVlOZelc_uIZzEwG-NrhRDV1tM" alt="Purple flowers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-pictures-Rush-I-think-890694907" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaol7-5e754c14-5ef0-417f-9418-5a9b39a0c94a.jpg/v1/fit/w_300,h_854,q_70,strp/rush__i_think__by_sinason_deqaol7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb2w3LTVlNzU0YzE0LTVlZjAtNDE3Zi05NDE4LTVhOWIzOWEwYzk0YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HCBYWh82frNUET8UOykWyoSsTsGUscP1b77p4s4CVDk" alt="Rush (I think) drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-pictures-Yellow-butterflow-on-daffodil-890694738" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaogi-ac143c6b-60eb-46d3-a2f0-3b5fbaadd5b6.jpg/v1/fit/w_300,h_854,q_70,strp/yellow_butterflow_on_daffodil_by_sinason_deqaogi-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb2dpLWFjMTQzYzZiLTYwZWItNDZkMy1hMmYwLTNiNWZiYWFkZDViNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.PHdD9ACTlu4bPekO6LoxZd5LQ31qa4F4T5suKFW-tiU" alt="Yellow butterflow on daffodil drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-pictures-Butterfly-on-daffodil-890694620" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaod8-3a713c46-8f08-4537-b7f1-7ae437088a4c.jpg/v1/fit/w_300,h_854,q_70,strp/butterfly_on_daffodil_by_sinason_deqaod8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhb2Q4LTNhNzEzYzQ2LThmMDgtNDUzNy1iN2YxLTdhZTQzNzA4OGE0Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.cVo24viPzPc-RS5rZ3sJa9_knDo9WisKpR2c2lhDj6s" alt="Butterfly on daffodil drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-pictures-Gentiane-in-tube-of-the-Alps-890694474" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqao96-40a91dea-ab76-4777-8542-010d2e7dd549.jpg/v1/fit/w_300,h_854,q_70,strp/gentiane__in_tube__of_the_alps_by_sinason_deqao96-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbzk2LTQwYTkxZGVhLWFiNzYtNDc3Ny04NTQyLTAxMGQyZTdkZDU0OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-KY0W6BWTy16P_A2VA93etQq2eWhb-g-Gdg347nkAYg" alt="Gentiane (in tube) of the Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-pictures-mushrooms-in-forest-on-moss-with-ivy-890694303" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqao4f-3fb87b00-bb87-4829-a556-ea8fda5a474c.jpg/v1/fit/w_300,h_854,q_70,strp/mushrooms_in_forest_on_moss_with_ivy_by_sinason_deqao4f-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbzRmLTNmYjg3YjAwLWJiODctNDgyOS1hNTU2LWVhOGZkYTVhNDc0Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.n4sfO-zL0pUqqfiwVlucbrIwItDCyAl7QKjqpW834Js" alt="mushrooms in forest on moss with ivy drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-pictures-Group-of-mushrooms-on-moss-890694083" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqanyb-4c38ed34-e1cc-4177-9a6a-139991c0368f.jpg/v1/fit/w_300,h_852,q_70,strp/group_of_mushrooms_on_moss_by_sinason_deqanyb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODUyIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbnliLTRjMzhlZDM0LWUxY2MtNDE3Ny05YTZhLTEzOTk5MWMwMzY4Zi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.plPgV7tThVDlkVw7uPXxxhoQQsjDdul1gCUrTy4GtbM" alt="Group of mushrooms on moss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-pictures-Bee-wings-890693903" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqantb-5e3c0e4b-ac02-4bc0-8a32-191825982f92.jpg/v1/fit/w_300,h_854,q_70,strp/bee_wings_by_sinason_deqantb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbnRiLTVlM2MwZTRiLWFjMDItNGJjMC04YTMyLTE5MTgyNTk4MmY5Mi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.teyc-fH1-WnObJ8G-OmWdwG9BX6J_4-JZ585UEKDWAc" alt="Bee wings drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-pictures-Purpule-little-flower-890693757" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqanp9-8ea838ac-f571-4def-9aed-43252bb3d2ef.jpg/v1/fit/w_300,h_854,q_70,strp/purpule_little_flower_by_sinason_deqanp9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbnA5LThlYTgzOGFjLWY1NzEtNGRlZi05YWVkLTQzMjUyYmIzZDJlZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.c0THfL4KVFFnZr_bB_9X0GR0RYVUuMc0etSziX4aBaE" alt="Purpule little flower drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-pictures-Black-caterpillar-890693640" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqanm0-20234dfa-4d97-4037-9d8d-d522340b8477.jpg/v1/fit/w_300,h_854,q_70,strp/black_caterpillar_by_sinason_deqanm0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbm0wLTIwMjM0ZGZhLTRkOTctNDAzNy05ZDhkLWQ1MjIzNDBiODQ3Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ARGHsQZDO-5hgtiTRzNcsRTbLZvIeqBgaiVnZOw0RU8" alt="Black caterpillar drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-pictures-Lizard-on-a-rock-890693530" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaniy-e6ca80db-2509-4dcf-b63d-0fc5d49f50d2.jpg/v1/fit/w_300,h_854,q_70,strp/lizard_on_a_rock_by_sinason_deqaniy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbml5LWU2Y2E4MGRiLTI1MDktNGRjZi1iNjNkLTBmYzVkNDlmNTBkMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lNd6BPRBDMxQ0mFe1qb30yRHJSBa-c5TZeBGGWu5P08" alt="Lizard on a rock drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-pictures-Lizard-taking-a-sunbath-890693225" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqanah-dbf80979-fca3-4e05-bdfa-440076064373.jpg/v1/fit/w_300,h_758,q_70,strp/lizard_taking_a_sunbath_by_sinason_deqanah-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzU4IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbmFoLWRiZjgwOTc5LWZjYTMtNGUwNS1iZGZhLTQ0MDA3NjA2NDM3My5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7imUjyMLrT4Ik6NCKSS2mjn00xKYijWIg5Luf_Kr2os" alt="Lizard taking a sunbath drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-pictures-Little-morel-on-moss-890693069" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqan65-7d209fac-a215-4b47-9856-65a4b4b79299.jpg/v1/fit/w_300,h_854,q_70,strp/little_morel_on_moss_by_sinason_deqan65-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbjY1LTdkMjA5ZmFjLWEyMTUtNGI0Ny05ODU2LTY1YTRiNGI3OTI5OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zwRxd0pgUd524tN5KlD8nnZc9MTcmbXHdROz5GL7B2Y" alt="Little morel on moss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-pictures-Wilverstone-horse-portrait-890692897" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqan1d-567cd5b8-68f3-42d7-8849-51795bc6a781.jpg/v1/fit/w_300,h_854,q_70,strp/wilverstone__horse__portrait_by_sinason_deqan1d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbjFkLTU2N2NkNWI4LTY4ZjMtNDJkNy04ODQ5LTUxNzk1YmM2YTc4MS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rbIvUakzgzoboqvKsp3g0DnJ8MSedfQNBis3Xn-wlyc" alt="Wilverstone (horse) portrait drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-pictures-First-tulip-after-winter-890692727" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqamwn-a33856f0-7580-48e5-9bcf-8e26c9d736cf.jpg/v1/fit/w_300,h_900,q_70,strp/first_tulip_after_winter_by_sinason_deqamwn-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYW13bi1hMzM4NTZmMC03NTgwLTQ4ZTUtOWJjZi04ZTI2YzlkNzM2Y2YuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.EubFXkRjaAgoEmqxAn0uLGGGePGeJz9VqEHxLa1Vo3Q" alt="First tulip after winter drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-pictures-First-tulip-after-winter-890692587" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqamsr-bbd3b8d5-ff0b-4e67-9ec3-59aec24a1b8a.jpg/v1/fit/w_300,h_854,q_70,strp/first_tulip_after_winter_by_sinason_deqamsr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbXNyLWJiZDNiOGQ1LWZmMGItNGU2Ny05ZWMzLTU5YWVjMjRhMWI4YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ueHumMmNmiL2RcwHNlgiZr8JZCZJglpq4-cYnDi9edY" alt="First tulip after winter drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-pictures-Wilverstone-my-neighbour-the-horse-890692490" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqamq2-a1cb6c18-810a-4c70-a937-22e364a4f7d9.jpg/v1/fit/w_300,h_854,q_70,strp/wilverstone__my_neighbour_the_horse_by_sinason_deqamq2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhbXEyLWExY2I2YzE4LTgxMGEtNGM3MC1hOTM3LTIyZTM2NGE0ZjdkOS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.g7weOk0jBgaCAG4msUzXOt0g25qymLoqNxfLBe7lfwQ" alt="Wilverstone, my neighbour the horse drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
    </body>
</html>
