<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_paintings1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-Horses-fighting-875293039" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deh4kfj-ee74dddd-34dd-4d6f-9b4c-fa57eda944c6.jpg/v1/fit/w_300,h_900,q_70,strp/horses_fighting_by_archiwyzard_deh4kfj-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zOTMwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWg0a2ZqLWVlNzRkZGRkLTM0ZGQtNGQ2Zi05YjRjLWZhNTdlZGE5NDRjNi5qcGciLCJ3aWR0aCI6Ijw9Mjc0MyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.TAljzsWloPVhDVOs6SIv2w3VIila2Py4BFicqvyPBao" alt="Horses fighting drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-La-blanchisseuse-873889250" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/degah9e-6d167fe1-5898-45a8-b0dd-8d768713cfe2.jpg/v1/fit/w_300,h_900,q_70,strp/la_blanchisseuse_by_archiwyzard_degah9e-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zNjE1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWdhaDllLTZkMTY3ZmUxLTU4OTgtNDVhOC1iMGRkLThkNzY4NzEzY2ZlMi5qcGciLCJ3aWR0aCI6Ijw9MjI0NiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HT9mam9e7zZU1eDtfJgfZ-trCo6TouD6vvRKQGU8OeQ" alt="La blanchisseuse drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-Two-riders-by-a-lake-873816870" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deg8xeu-850c1a5f-0b40-41a2-81c5-6af9db95de19.jpg/v1/fit/w_300,h_900,q_70,strp/two_riders_by_a_lake__by_archiwyzard_deg8xeu-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNzMxIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWc4eGV1LTg1MGMxYTVmLTBiNDAtNDFhMi04MWM1LTZhZjlkYjk1ZGUxOS5qcGciLCJ3aWR0aCI6Ijw9MjA5MyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.GBSx7xbmuxSnHgfu3sM-YVW-FOx5B8_zm4ngnqtNuHA" alt="Two riders by a lake  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-My-new-neighbour-873112653" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deftu19-686d491c-ac1b-41d1-95b5-3114ef953bb5.jpg/v1/fit/w_300,h_900,q_70,strp/my_new_neighbour_by_archiwyzard_deftu19-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNDc4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWZ0dTE5LTY4NmQ0OTFjLWFjMWItNDFkMS05NWI1LTMxMTRlZjk1M2JiNS5qcGciLCJ3aWR0aCI6Ijw9MjE5NiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.yGSCuscO_ZAi4imxQPbCjC-imSAR9kfyvA2icV7WKBs" alt="My new neighbour drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-Hokusai-exercices-872938057" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/defq3bd-38a8f887-2c45-4e42-8ebb-9d09c8ed2eb1.jpg/v1/fit/w_300,h_900,q_70,strp/hokusai_exercices_by_archiwyzard_defq3bd-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTM1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWZxM2JkLTM4YThmODg3LTJjNDUtNGU0Mi04ZWJiLTlkMDljOGVkMmViMS5qcGciLCJ3aWR0aCI6Ijw9MjIwNyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jwXK04cMn_2N6iBQVotqemw-HkDs87E6nOapii8jZU4" alt="Hokusai exercices drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-watercolor-tit-872520329" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/defh4zt-501cda90-b2c5-4fe8-8781-2906f0a9fb09.jpg/v1/fit/w_300,h_900,q_70,strp/watercolor_tit_by_archiwyzard_defh4zt-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDkyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWZoNHp0LTUwMWNkYTkwLWIyYzUtNGZlOC04NzgxLTI5MDZmMGE5ZmIwOS5qcGciLCJ3aWR0aCI6Ijw9MTM5OCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1Ty0hg_Bzw4wk581luUQuJOpdLjLOQ5FgbqNlBGqebo" alt="watercolor tit drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-black-ink-heron-872414789" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/defevk5-bcaf4d9d-7103-4799-927f-5e2fb5b748aa.jpg/v1/fit/w_300,h_787,q_70,strp/black_ink_heron_by_archiwyzard_defevk5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03ODciLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RlZmV2azUtYmNhZjRkOWQtNzEwMy00Nzk5LTkyN2YtNWUyZmI1Yjc0OGFhLmpwZyIsIndpZHRoIjoiPD0xMDc1In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.g5-GbNbXF4t1GMpaMpBoLRRLYa9zgkagn_g80IJ6luA" alt="black ink heron drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-Troglodyte-mignon-871973196" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/def5eto-eef28c08-ac64-4a2b-a9c2-067cb0c1eb41.jpg/v1/fit/w_300,h_900,q_70,strp/troglodyte_mignon_by_archiwyzard_def5eto-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMjc5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZWY1ZXRvLWVlZjI4YzA4LWFjNjQtNGEyYi1hOWMyLTA2N2NiMGMxZWI0MS5qcGciLCJ3aWR0aCI6Ijw9MzAzMiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mSVu7MsAfcrMCZTD9pbdvLei-YAGkbR7Q4K2ovTxsBs" alt="Troglodyte mignon drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-Ducks-871815131" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/def20uz-38293fff-8664-458d-b2a8-8bf654f4ef0e.jpg/v1/fit/w_300,h_881,q_70,strp/ducks_by_archiwyzard_def20uz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04ODEiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RlZjIwdXotMzgyOTNmZmYtODY2NC00NThkLWIyYTgtOGJmNjU0ZjRlZjBlLmpwZyIsIndpZHRoIjoiPD0xMzE5In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.78FPQnj0_mkdb38ZcnCNuFJwpOyEV2GGS618-ScI2z0" alt="Ducks drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-Sunday-morning-ukiyo-e-861258939" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de8rrnf-19351e7c-cf88-4786-8953-6b959c6d0f3d.jpg/v1/fit/w_300,h_900,q_70,strp/sunday_morning_ukiyo_e_by_archiwyzard_de8rrnf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDM1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZThycm5mLTE5MzUxZTdjLWNmODgtNDc4Ni04OTUzLTZiOTU5YzZkMGYzZC5qcGciLCJ3aWR0aCI6Ijw9MjEzMiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.26zAbbPLNFxcTmuzvmn7P_uTDazMjscS3AwUmjDr2xI" alt="Sunday morning ukiyo-e drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-Ukiyo-e-inspired-drawing-861195503" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de8qepb-932d1b6d-86db-4bec-9e5a-a6abc1eed497.jpg/v1/fit/w_300,h_900,q_70,strp/ukiyo_e_inspired_drawing__by_archiwyzard_de8qepb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xOTkzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZThxZXBiLTkzMmQxYjZkLTg2ZGItNGJlYy05ZTVhLWE2YWJjMWVlZDQ5Ny5qcGciLCJ3aWR0aCI6Ijw9Mjg5MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6gOdLbr8SDnMIOhohjhtK-lMCiDRebBXUqsyzJ093kU" alt="Ukiyo-e inspired drawing  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-Education-860597797" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de8dlid-9104ec0f-a1fc-4393-a534-969c5dc4fb88.jpg/v1/fit/w_300,h_900,q_70,strp/education_by_archiwyzard_de8dlid-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMjIzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZThkbGlkLTkxMDRlYzBmLWExZmMtNDM5My1hNTM0LTk2OWM1ZGM0ZmI4OC5qcGciLCJ3aWR0aCI6Ijw9MzI2MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._aaoooIbU274WlW-PKjyFqhJBPoDHpo3bzvJu5_AJlc" alt="Education drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-Color-out-of-space-860525102" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de8c1f2-0ae9d374-cad4-44d3-a9f6-14e023ff90e1.jpg/v1/fit/w_300,h_900,q_70,strp/color_out_of_space_by_archiwyzard_de8c1f2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTc1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZThjMWYyLTBhZTlkMzc0LWNhZDQtNDRkMy1hOWY2LTE0ZTAyM2ZmOTBlMS5qcGciLCJ3aWR0aCI6Ijw9MjM4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.gpItaiqos_Nym8sel9SqthdxSx9xFh9dAARcZZG0Kl8" alt="Color out of space drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-Black-cat-859930852" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7zaw4-9cec1733-6762-4304-8239-05b2b65cb221.jpg/v1/fit/w_300,h_900,q_70,strp/black_cat_by_archiwyzard_de7zaw4-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMjg0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTd6YXc0LTljZWMxNzMzLTY3NjItNDMwNC04MjM5LTA1YjJiNjVjYjIyMS5qcGciLCJ3aWR0aCI6Ijw9MzI1NiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Vpvv7hWn89jjPYM8XDGaK4v8qAMcsWpDSTF80Folrag" alt="Black cat drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-Inktober-31-crawl-859812955" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7wrx7-0d282d39-a55f-47e3-9c49-a3fd177dfd1c.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_31__crawl__by_archiwyzard_de7wrx7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xOTMzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTd3cng3LTBkMjgyZDM5LWE1NWYtNDdlMy05YzQ5LWEzZmQxNzdkZmQxYy5qcGciLCJ3aWR0aCI6Ijw9MzI1OSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.r93rr4aeTe9oUxftAvcLXdDt8wSFF2Tx_gXJaPnoASE" alt="Inktober 31, crawl  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-Inktober-30-Ominous-859721196" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7ut4c-6d8f9b3b-0040-4065-8bb4-291f66639cec.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_30__ominous_by_archiwyzard_de7ut4c-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNDU1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTd1dDRjLTZkOGY5YjNiLTAwNDAtNDA2NS04YmI0LTI5MWY2NjYzOWNlYy5qcGciLCJ3aWR0aCI6Ijw9MzIyMiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.V7123sYvTBN6-iGQ2q1PRdfQ89l_gcTseHEdO4Y5ADk" alt="Inktober 30, Ominous drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-Inktober-29-a-dandy-Ibis-859622258" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7sos2-1ac17e77-9384-4db1-9cc5-95cf024e411c.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_29__a_dandy_ibis_by_archiwyzard_de7sos2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMjQyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdzb3MyLTFhYzE3ZTc3LTkzODQtNGRiMS05Y2M1LTk1Y2YwMjRlNDExYy5qcGciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wgERBwNc-egVkUxN8xp4mMzKE5YlnI1VIyqrKwVXOo8" alt="Inktober 29, a dandy Ibis drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-Inktober-27-In-vino-veritas-859413553" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7o7qp-f68c7080-0377-4585-a10a-aec3bb92c04d.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_27__in_vino_veritas_by_archiwyzard_de7o7qp-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMTE0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdvN3FwLWY2OGM3MDgwLTAzNzctNDU4NS1hMTBhLWFlYzNiYjkyYzA0ZC5qcGciLCJ3aWR0aCI6Ijw9MjU2OSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-lU5BmuWeQhPtQfLX2v7EhismIDGV7zoozBZdmiYu2A" alt="Inktober 27, In vino veritas drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-Inktober-26-Surprised-eagle-859293132" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7lmto-11d30735-2a9c-439c-ae4b-ee0e1019ca13.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_26__surprised_eagle_by_archiwyzard_de7lmto-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNDcwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdsbXRvLTExZDMwNzM1LTJhOWMtNDM5Yy1hZTRiLWVlMGUxMDE5Y2ExMy5qcGciLCJ3aWR0aCI6Ijw9MjEwMyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EJoeNDflkxb7M3_ALhOQsgUDUxx1zYSY684_PGhsrkY" alt="Inktober 26, Surprised eagle drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-Inktober-25-why-are-they-looking-for-you-859204792" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7jqns-2f003695-dd22-4db5-86e2-5cea3245bc7b.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_25__why_are_they_looking_for_you___by_archiwyzard_de7jqns-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMTg4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdqcW5zLTJmMDAzNjk1LWRkMjItNGRiNS04NmUyLTVjZWEzMjQ1YmM3Yi5qcGciLCJ3aWR0aCI6Ijw9MjQ4NSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.z0ldvfv-7RLggg7YQgG0NXEIl3I0et38c74ONvceRXY" alt="Inktober 25, why are they looking for you ? drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-Inktober-24-Scribe-Owl-859100705" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7hich-af836340-8210-4569-aeed-4e090b2210f9.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_24__scribe_owl_by_archiwyzard_de7hich-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zNTg5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdoaWNoLWFmODM2MzQwLTgyMTAtNDU2OS1hZWVkLTRlMDkwYjIyMTBmOS5qcGciLCJ3aWR0aCI6Ijw9MjUyNyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.227D1CdIworQOnTj2gHATtTTZgRsdeFzLrrr4lhnsGc" alt="Inktober 24, Scribe Owl drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-Inktober-23-Mushroom-Season-859003631" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7fffz-9cb2366f-0785-4ec7-a4d8-51a5516f1c00.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_23__mushroom_season_by_archiwyzard_de7fffz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yMDA1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdmZmZ6LTljYjIzNjZmLTA3ODUtNGVjNy1hNGQ4LTUxYTU1MTZmMWMwMC5qcGciLCJ3aWR0aCI6Ijw9MjYxMSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.omtUsBsysOv1xwFSVCHySwMAqx5v41TBuEnk-VFbEkI" alt="Inktober 23, Mushroom Season drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-Inktober-22-Black-and-brown-ink-wash-858901246" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7d8fy-5a18de2e-055d-4c13-9597-591e754e9b56.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_22__black_and_brown_ink_wash_by_archiwyzard_de7d8fy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTM3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdkOGZ5LTVhMThkZTJlLTA1NWQtNGMxMy05NTk3LTU5MWU3NTRlOWI1Ni5qcGciLCJ3aWR0aCI6Ijw9MjM1MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zEu8lDCjotbnXoB7Wt1oeQEBbHIiCNrvG4pl1cNE1Y8" alt="Inktober 22, Black and brown ink wash drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-inktober-21-an-important-lion-858805531" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de7b6l7-6804909b-7d57-465e-8802-ff43065260b1.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_21___an_important_lion__by_archiwyzard_de7b6l7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yOTAzIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZTdiNmw3LTY4MDQ5MDliLTdkNTctNDY1ZS04ODAyLWZmNDMwNjUyNjBiMS5qcGciLCJ3aWR0aCI6Ijw9MTk3OCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8Lky2wcxxg2AhFAOje9xS0Yv7KE230qVbRF5kekb1Rs" alt="inktober 21,  an important lion  drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
