<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    <a href="/galerie_pictures-page7" class="buttonPage">8</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-pictures-Bridge-to-shepherds-huts-at-Prapic-925951337" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbacmh-fdeab8d4-5b8f-4120-b0fe-106ffd56ab49.jpg/v1/fit/w_300,h_854,q_70,strp/bridge_to_shepherds__huts_at_prapic_by_sinason_dfbacmh-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhY21oLWZkZWFiOGQ0LTViOGYtNDEyMC1iMGZlLTEwNmZmZDU2YWI0OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Msg6ddW3RqXI8vdaWPNQgWn5u_GTl8pvp9TplIeUlK4" alt="Bridge to shepherds' huts at Prapic drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-pictures-Kingfisher-925950649" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbac3d-1e3313bc-4836-444f-8112-770fafae140f.jpg/v1/fit/w_300,h_854,q_70,strp/kingfisher_by_sinason_dfbac3d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYzNkLTFlMzMxM2JjLTQ4MzYtNDQ0Zi04MTEyLTc3MGZhZmFlMTQwZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.hkEyDcpz8N0kObxbkQqTj3Yb4JJH25tQKy0DsGNFOz0" alt="Kingfisher drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-pictures-Curl-crested-Aracari-925950340" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbabus-12dd6d28-fc7c-4db2-8d21-0ecc2efc4ab5.jpg/v1/fit/w_300,h_854,q_70,strp/curl_crested_aracari_by_sinason_dfbabus-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYnVzLTEyZGQ2ZDI4LWZjN2MtNGRiMi04ZDIxLTBlY2MyZWZjNGFiNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.p6lyDiuNyiZWp37vZkb97bs4wdHKYQ1SjGqU2G41WqE" alt="Curl-crested Aracari drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-pictures-Pelican-925950031" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbabm7-f21ee5ea-b3cf-4dd5-81bc-c55f1706b7b8.jpg/v1/fit/w_300,h_854,q_70,strp/pelican_by_sinason_dfbabm7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYm03LWYyMWVlNWVhLWIzY2YtNGRkNS04MWJjLWM1NWYxNzA2YjdiOC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.414HmLHmSvVHjAAb8r1jzH4unGHz-W8ViZ5ViPYMlCM" alt="Pelican drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-pictures-Swann-s-face-Exotic-Shorthair-925949787" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbabff-383c1761-14c9-434b-901f-61ee49db839c.jpg/v1/fit/w_300,h_854,q_70,strp/swann_s_face__exotic_shorthair_by_sinason_dfbabff-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYmZmLTM4M2MxNzYxLTE0YzktNDM0Yi05MDFmLTYxZWU0OWRiODM5Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NuY_FLS9PPqe_fajUgcq6QRUtIHB1-lYGWU6ROgf1Z8" alt="Swann's face, Exotic Shorthair drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-pictures-Mr-Swann-Exotic-Shorthair-925949642" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbabbe-9d17efda-430f-425d-bf01-3b3836300c2c.jpg/v1/fit/w_300,h_854,q_70,strp/mr__swann__exotic_shorthair_by_sinason_dfbabbe-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYmJlLTlkMTdlZmRhLTQzMGYtNDI1ZC1iZjAxLTNiMzgzNjMwMGMyYy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LQU53G_2-bi87a974N_LOi2jmdPYLnpedTnzk9bCnLk" alt="Mr. Swann, Exotic Shorthair drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-pictures-Black-and-white-sunflowers-925949448" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbab60-4eba0bfa-58db-4541-99ab-f9dad84c7542.jpg/v1/fit/w_300,h_900,q_70,strp/black_and_white_sunflowers_by_sinason_dfbab60-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGZiYWI2MC00ZWJhMGJmYS01OGRiLTQ1NDEtOTlhYi1mOWRhZDg0Yzc1NDIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.OwSC7hV87ltJ-nMs7xA008wZ4tKkBMJKcuJqti3BgCc" alt="Black and white sunflowers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-pictures-Sunflowers-925949319" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbab2f-a950d58c-6ca9-4d62-8876-ea8caad66d64.jpg/v1/fit/w_300,h_524,q_70,strp/sunflowers_by_sinason_dfbab2f-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTI0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYjJmLWE5NTBkNThjLTZjYTktNGQ2Mi04ODc2LWVhOGNhYWQ2NmQ2NC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.KpDV60AUsGQJv7mLOUD-BuqGX9zEFqFH8Zb9NSEhHwo" alt="Sunflowers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-pictures-Sunflowers-field-with-village-and-mountain-925949151" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbaaxr-5ec74b5c-27f1-469d-ad7a-d8a77670d711.jpg/v1/fit/w_300,h_537,q_70,strp/sunflowers_field_with_village_and_mountain_by_sinason_dfbaaxr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTM3IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYXhyLTVlYzc0YjVjLTI3ZjEtNDY5ZC1hZDdhLWQ4YTc3NjcwZDcxMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.cTt9Mw617_OidnK1SFZurn4ivyrqWhwa_IPgPVAV4PI" alt="Sunflowers field with village and mountain drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-pictures-Close-up-on-Swann-Exotic-Shorthair-925948727" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dfbaalz-0ddf4f7c-eb44-4460-aaf6-98c728774ff5.jpg/v1/fit/w_300,h_854,q_70,strp/close_up_on_swann__exotic_shorthair_by_sinason_dfbaalz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZmJhYWx6LTBkZGY0ZjdjLWViNDQtNDQ2MC1hYWY2LTk4YzcyODc3NGZmNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4jI-Jof8MEp03ORCGSi7hInqa_ECHwtcwo8cuOr17h4" alt="Close up on Swann, Exotic Shorthair drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-pictures-Hokai-the-new-baby-cat-903038694" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dexn946-8f7288c9-745e-4875-9c45-21e42d7e37b1.jpg/v1/fit/w_300,h_854,q_70,strp/hokai__the_new_baby_cat_by_sinason_dexn946-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXhuOTQ2LThmNzI4OGM5LTc0NWUtNDg3NS05YzQ1LTIxZTQyZDdlMzdiMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vXqOrevd60nNMI5DgKiLDmDD51Bt3goMGHIy2ATRMV4" alt="Hokai, the new baby cat drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-pictures-Sunset-on-the-rock-903038472" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dexn8y0-9f840774-c5cd-4c0b-b5a4-1955f3351777.jpg/v1/fit/w_300,h_854,q_70,strp/sunset_on_the_rock_by_sinason_dexn8y0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXhuOHkwLTlmODQwNzc0LWM1Y2QtNGMwYi1iNWE0LTE5NTVmMzM1MTc3Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DJBOwWRLQQrYuCamKKPdqDrDw3gI9szqk5tTktKVB-M" alt="Sunset on the rock drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-pictures-Through-the-moutain-903038222" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dexn8r2-0181e3b5-0f59-45c5-8e86-f5dba7cf51f5.jpg/v1/fit/w_300,h_854,q_70,strp/through_the_moutain_by_sinason_dexn8r2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXhuOHIyLTAxODFlM2I1LTBmNTktNDVjNS04ZTg2LWY1ZGJhN2NmNTFmNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4aPkis1S0w_BOhmnk3KMHYwX1Y9vgWtcthAlY54TtdI" alt="Through the moutain drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-pictures-Moutain-in-the-rock-903037922" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dexn8iq-ecd28ad0-5846-4c77-a26f-93ac98f17545.jpg/v1/fit/w_300,h_854,q_70,strp/moutain_in_the_rock_by_sinason_dexn8iq-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXhuOGlxLWVjZDI4YWQwLTU4NDYtNGM3Ny1hMjZmLTkzYWM5OGYxNzU0NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.N6x87NFoOgXL3lDKzu7dL22HTlDLRpDUQuZqzGVGL7I" alt="Moutain in the rock drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-pictures-Charlet-lake-frozen-903037711" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/dexn8cv-eb2127b3-dffb-4c1b-9117-e994065acf27.jpg/v1/fit/w_300,h_854,q_70,strp/charlet_lake_frozen_by_sinason_dexn8cv-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXhuOGN2LWViMjEyN2IzLWRmZmItNGMxYi05MTE3LWU5OTQwNjVhY2YyNy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.9jfCNjq2KRy7W2vSq9RMJxB6m1_l-_wRSajU5uC_Oy4" alt="Charlet lake frozen drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-pictures-Bridge-to-the-mountains-Valgaudemar-Alps-France-891892809" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/der0cw9-39e1bffb-f91a-4020-aa1e-b8410c7c3969.jpg/v1/fit/w_300,h_854,q_70,strp/bridge_to_the_mountains__valgaudemar__alps__france_by_sinason_der0cw9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXIwY3c5LTM5ZTFiZmZiLWY5MWEtNDAyMC1hYTFlLWI4NDEwYzdjMzk2OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.e0Z3pezo19QJD_vqmTLSBbXQMmoX-RuD_VgAmCFEcZI" alt="Bridge to the mountains, Valgaudemar, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-pictures-Lake-Loizon-at-Valgaudemar-Alps-France-891892685" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/der0cst-25c7bfe9-12dd-4d58-b15b-55956df91b41.jpg/v1/fit/w_300,h_900,q_70,strp/lake_loizon_at_valgaudemar__alps__france_by_sinason_der0cst-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVyMGNzdC0yNWM3YmZlOS0xMmRkLTRkNTgtYjE1Yi01NTk1NmRmOTFiNDEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TNrRnbdeuwMlwtREWimWrtg2uiUpBMWrE1wlEzx2CE4" alt="Lake Loizon at Valgaudemar, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-pictures-Waterfall-at-Valgaudemar-Alps-France-891892457" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/der0cmh-74d9af9b-bdea-4f92-a70e-61165da72f2b.jpg/v1/fit/w_300,h_900,q_70,strp/waterfall_at_valgaudemar__alps__france_by_sinason_der0cmh-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVyMGNtaC03NGQ5YWY5Yi1iZGVhLTRmOTItYTcwZS02MTE2NWRhNzJmMmIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.XyWIo9Ek8bdVSCdRZkO0aSRxIaiWNglb9hqGrb7MNTM" alt="Waterfall at Valgaudemar, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-pictures-Balanced-Cairn-891491122" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqrqya-9b4cca42-644c-43ad-8db5-8893f03f799a.jpg/v1/fit/w_300,h_854,q_70,strp/balanced_cairn_by_sinason_deqrqya-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFycXlhLTliNGNjYTQyLTY0NGMtNDNhZC04ZGI1LTg4OTNmMDNmNzk5YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4qrfqJ6r9iyscFvweirrqjXMmubz6n8mI6lS8ZA5Qrw" alt="Balanced Cairn drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-pictures-View-one-the-lake-891490656" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqrqlc-87fb739c-a37e-4262-8a28-d92e8a4d027d.jpg/v1/fit/w_300,h_854,q_70,strp/view_one_the_lake_by_sinason_deqrqlc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFycWxjLTg3ZmI3MzljLWEzN2UtNDI2Mi04YTI4LWQ5MmU4YTRkMDI3ZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LvuYGpPWziJZiY0GTYvjpeSujTClzKvU7iABaDFdfG0" alt="View one the lake drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-pictures-Arriving-in-front-of-the-Lake-Fourchu-891490071" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqrq53-6fc48f3e-e440-4988-92ec-65d7cecb4287.jpg/v1/fit/w_300,h_854,q_70,strp/arriving_in_front_of_the_lake_fourchu_by_sinason_deqrq53-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFycTUzLTZmYzQ4ZjNlLWU0NDAtNDk4OC05MmVjLTY1ZDdjZWNiNDI4Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DC2_JTciJkUgIMMJnWhXbvgqQZgkGKqOYNVXrFrlml0" alt="Arriving in front of the Lake Fourchu drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-pictures-Reflections-in-the-Lac-de-l-Agneau-890987362" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqgy8y-cfe09a9b-7b7f-4f88-8972-3e67d76ee9f2.jpg/v1/fit/w_300,h_854,q_70,strp/reflections_in_the_lac_de_l_agneau_by_sinason_deqgy8y-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFneTh5LWNmZTA5YTliLTdiN2YtNGY4OC04OTcyLTNlNjdkNzZlZTlmMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.KkvuggFTLbu0nYeojdpr8DZMMutGqzFfyP-9nCVqNas" alt="Reflections in the Lac de l'Agneau drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-pictures-Turquoise-lake-near-to-Lake-Fourchu-Alps-France-890987295" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqgy73-e14a37e0-10c9-4469-ba61-89c9ab5656e5.jpg/v1/fit/w_300,h_854,q_70,strp/turquoise_lake_near_to_lake_fourchu__alps__france_by_sinason_deqgy73-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFneTczLWUxNGEzN2UwLTEwYzktNDQ2OS1iYTYxLTg5YzlhYjU2NTZlNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.F_VZx9xENKa3n4w-KEFqAN6Q41sELW08evWxh8Am48o" alt="Turquoise lake near to Lake Fourchu, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-pictures-Near-the-lake-Fourchu-Alps-France-890986865" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqgxv5-e252c03a-decb-43ba-b245-bf3edd8b8461.jpg/v1/fit/w_300,h_854,q_70,strp/near_the_lake_fourchu__alps___france_by_sinason_deqgxv5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFneHY1LWUyNTJjMDNhLWRlY2ItNDNiYS1iMjQ1LWJmM2VkZDhiODQ2MS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.E58OeHe8s0usv8oQGwFLXBb4SQlkCCfi-QfZq1TF37A" alt="Near the lake Fourchu, Alps,  France drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    <a href="/galerie_pictures-page7" class="buttonPage">8</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
    </body>
</html>
