<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../../static/css/layouts/blog.css">
        <link rel="stylesheet" href="../../static/css/layouts/gallery_picture1.css">

        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4">

    <header class="ScriptHeader">
        <div class="rt-contahttps://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944485_960_720.jpginer">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h1>Les photos sont faites pour être partagées.</h1>
                    Toutes les photos sont téléchargeables gratuitement en cliquant dessus, ou en allant directement sur ma page
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> où vous pouvez sélectionner la taille de la photo que vous souhaitez télécharger.
                </div>
            </div>
        </div>
    </header>
    
    <header class="ScriptHeader">
        <div class="rt-contahttps://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944485_960_720.jpginer">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h1>Pictures are made to be shared.</h1>
                    All pictures are downloadable for free by clicking on them or by going to my
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> profile where you can select the size of the picture you want to download.
                </div>
            </div>
        </div>
    </header>
    
    <br>
    <br>
    
    
   <!-- <p>J'aime énormément faire des photos. J'ai commencé comme beaucoup avec mon téléphone portable, en faisant de belles photos de paysages et d'animaux. M'en sortant étrangement bien, j'ai fini après plusieurs années par sauter le pas, et acheter un reflex chez Canon.
    <br>
    <br>
    Je me suis donc équipée d'un Canon EOS 250D, avec un objectif 18-135mm vendu avec le kit de départ. C'est un objectif qui fait à peu près tout mais de qualité moyenne : grand angle, du zoom, des photos proches... 
    <br>
    <br>
    Cependant, ce qui m'intéressait depuis le début et qui m'a donné envie d'acheter un appareil photo, c'est la macro. C'est pourquoi j'ai tout de suite investi dans un 90mm de chez Tameron. Tameron est une marque vendant des objectifs compatibles avec beaucoup de boitiers (à l'instar de Sigma). @todo explication de la macro. 
    <br>
    <br>
    Bien qu'aimant particulièrement la macro, je ne me prive pas de me lancer sur d'autres terrains. J'adore les oiseaux, et j'ai reçu à Noël un télé-objectif 70-300mm pour la photographie d'oiseaux. Je m'entraine encore dans le domaine, c'est pourquoi vous en verrez peu dans les photos ci-dessous. </p>-->
    
    <!-- start autogenerated by autogenerated.pl -->

     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="24"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="25"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="26"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="27"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="28"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="29"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="30"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="31"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="32"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="33"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="34"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="35"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="36"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="37"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="38"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="39"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="40"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="41"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="42"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="43"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="44"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="45"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="46"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="47"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="48"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="49"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="50"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="51"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="52"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="53"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="54"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="55"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="56"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="57"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="58"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="59"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="60"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="61"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="62"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="63"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet_bee-4944489_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944489_960_720.jpg" alt="Bee Abeille Prunus Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet_bee-4944485_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944485_960_720.jpg" alt="Bee Abeille Prunus Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet_bee-4944486_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944486_960_720.jpg" alt="Bee Abeille Prunus Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet_butterfly-4951289_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/07/butterfly-4951289_960_720.jpg" alt="Butterfly Papillon Joncquille Jaune Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet_bulrush-4951322_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/15/bulrush-4951322_960_720.jpg" alt="Jonc Nature Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet_butterfly-4951309_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951309_960_720.jpg" alt="Butterfly Papillon Joncquille Jaune Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet_butterfly-4951310_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951310_960_720.jpg" alt="Butterfly Papillon Joncquille Jaune Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet_flowers-4951325_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/16/flowers-4951325_960_720.jpg" alt="Fleurs Flowers Violette Purple Alps Alpes"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet_bee-4944487_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944487_960_720.jpg" alt="Bee Abeille Prunus Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet_flowers-4951286_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/04/flowers-4951286_960_720.jpg" alt="Fleurs Flowers Red Rouge Alps Alpes"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet_bee-4944487_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944487_960_720.jpg" alt="Bee Abeille Prunus Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet_flowers-4951332_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/20/17/20/flowers-4951332_960_720.jpg" alt="Fleurs Flowers Violette Purple Alps Alpes"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet_bird-4930603_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/14/13/10/bird-4930603_960_720.jpg" alt="Oiseau Rouge-Gorge Bird Robin Red"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet_duck-4926219_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/12/20/49/duck-4926219_960_720.jpg" alt="Canard Duck Mallard Col-Vert Bird Oiseau"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet_lizard-4941499_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/34/lizard-4941499_960_720.jpg" alt="Lézard Lizard Reptile Animal"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet_flower-4944491_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944491_960_720.jpg" alt="Fleur Violette Purple Flower Macro"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet_lizard-4941507_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/38/lizard-4941507_960_720.jpg" alt="Lézard Lizard Reptile Animal"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet_moutain-4941506_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/37/moutain-4941506_960_720.jpg" alt="Montagne Mountain Alps Alpes"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet_lizard-4941501_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/36/lizard-4941501_960_720.jpg" alt="Lézard Lizard Reptile Animal"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet_mushrooms-4873141_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/56/mushrooms-4873141_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet_leaves-4873125_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/44/leaves-4873125_960_720.jpg" alt="Feuille Automne Fall Rouge Vert Leaves"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet_moutain-4941509_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/38/moutain-4941509_960_720.jpg" alt="Montagne Mountain Alps Alpes"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet_duck-4873132_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/50/duck-4873132_960_720.jpg" alt="Canard Duck Mallard Col-Vert Bird Oiseau"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet_goose-4873142_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/56/goose-4873142_960_720.jpg" alt="Oie Goose Animal Bird Oiseau"></a>
         </label>
         <label class="gallery__item" for="24">
             <a href="/sheet_tulip-4879970_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879970_960_720.jpg" alt="Tulip Tulipe Fleur Flower Red Rouge Orange Nature"></a>
         </label>
         <label class="gallery__item" for="25">
             <a href="/sheet_flowers-4873131_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/47/flowers-4873131_960_720.jpg" alt="Fleurs Flowers Rose Nature Prunus"></a>
         </label>
         <label class="gallery__item" for="26">
             <a href="/sheet_cat-4774164_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/01/17/22/36/cat-4774164_960_720.jpg" alt="Cat Chat Face Noir Blan Roux Ginger Black White Félin Felin"></a>
         </label>
         <label class="gallery__item" for="27">
             <a href="/sheet_versailles-4873133_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/50/versailles-4873133_960_720.jpg" alt="Versailles Trianon Architecture Jardin"></a>
         </label>
         <label class="gallery__item" for="28">
             <a href="/sheet_tulip-4879969_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879969_960_720.jpg" alt="Tulip Tulipe Fleur Flower Red Rouge Orange Nature"></a>
         </label>
         <label class="gallery__item" for="29">
             <a href="/sheet_mushroom-4686877_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/10/20/47/mushroom-4686877_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="30">
             <a href="/sheet_mushroom-4693264_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/13/15/44/mushroom-4693264_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="31">
             <a href="/sheet_mushroom-4655464_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/38/mushroom-4655464_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="32">
             <a href="/sheet_flowers-4873127_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/45/flowers-4873127_960_720.jpg" alt="Fleurs Flowers Rose Nature Prunus"></a>
         </label>
         <label class="gallery__item" for="33">
             <a href="/sheet_mushrooms-4655480_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/42/mushrooms-4655480_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="34">
             <a href="/sheet_sun-4731859_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/31/12/51/sun-4731859_960_720.jpg" alt="Sunset Couché de Soleil"></a>
         </label>
         <label class="gallery__item" for="35">
             <a href="/sheet_mushroom-4655463_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/38/mushroom-4655463_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="36">
             <a href="/sheet_mushrooms-4693269_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/13/15/45/mushrooms-4693269_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="37">
             <a href="/sheet_mushroom-4655479_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/41/mushroom-4655479_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="38">
             <a href="/sheet_hephaistos-temple-4673515_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/38/hephaistos-temple-4673515_960_720.jpg" alt="hephaistos temple greek grèce athène athens"></a>
         </label>
         <label class="gallery__item" for="39">
             <a href="/sheet_mushroom-4655429_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/19/mushroom-4655429_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall Chanterelle Chanterelles"></a>
         </label>
         <label class="gallery__item" for="40">
             <a href="/sheet_marigold-4655440_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/27/marigold-4655440_960_720.jpg" alt="Fleur Flower Marigold Oeillet"></a>
         </label>
         <label class="gallery__item" for="41">
             <a href="/sheet_passionflower-4774160_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/01/17/22/34/passionflower-4774160_960_720.jpg" alt="PassionFlower Passiflore Vert Jardin Green Nature Geometric"></a>
         </label>
         <label class="gallery__item" for="42">
             <a href="/sheet_marigolds-4655449_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/33/marigolds-4655449_960_720.jpg" alt="Fleur Flower Marigold Oeillet"></a>
         </label>
         <label class="gallery__item" for="43">
             <a href="/sheet_mushrooms-4663017_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/54/mushrooms-4663017_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="44">
             <a href="/sheet_mushroom-4655423_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/11/mushroom-4655423_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="45">
             <a href="/sheet_moss-4693294_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/13/15/51/moss-4693294_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="46">
             <a href="/sheet_flowers-4873128_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/02/23/11/46/flowers-4873128_960_720.jpg" alt="Fleurs Flowers White Blanc"></a>
         </label>
         <label class="gallery__item" for="47">
             <a href="/sheet_sun-4673483_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/18/sun-4673483_960_720.jpg" alt="Bird Oiseau Perruche Parakeet"></a>
         </label>
         <label class="gallery__item" for="48">
             <a href="/sheet_cat-4662991_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/40/cat-4662991_960_720.jpg" alt="Cat Chat Félin Felin"></a>
         </label>
         <label class="gallery__item" for="49">
             <a href="/sheet_parakeet-4662983_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/38/parakeet-4662983_960_720.jpg" alt="Bird Oiseau Perruche Parakeet"></a>
         </label>
         <label class="gallery__item" for="50">
             <a href="/sheet_mushroom-4655468_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/40/mushroom-4655468_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="51">
             <a href="/sheet_mushroom-4655434_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/26/20/23/mushroom-4655434_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="52">
             <a href="/sheet_cat-4663020_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/55/cat-4663020_960_720.jpg" alt="Cat Chat Félin Felin"></a>
         </label>
         <label class="gallery__item" for="53">
             <a href="/sheet_bird-4731870_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/31/13/01/bird-4731870_960_720.jpg" alt="Bird Black White Monochrome"></a>
         </label>
         <label class="gallery__item" for="54">
             <a href="/sheet_art-4673516_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/39/art-4673516_960_720.jpg" alt="Pattern Greek Grèce Motif Ancien Antique"></a>
         </label>
         <label class="gallery__item" for="55">
             <a href="/sheet_nature-4673503_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/29/nature-4673503_960_720.jpg" alt="Tree Bois Branche Branch Nature"></a>
         </label>
         <label class="gallery__item" for="56">
             <a href="/sheet_mushroom-4673519_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/40/mushroom-4673519_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="57">
             <a href="/sheet_ancient-agora-4662993_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/41/ancient-agora-4662993_960_720.jpg" alt="Ancien Antique Greek Grèce Herulian Wall"></a>
         </label>
         <label class="gallery__item" for="58">
             <a href="/sheet_mushroom-4673410_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/18/55/mushroom-4673410_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="59">
             <a href="/sheet_nature-4673499_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/12/04/19/27/nature-4673499_960_720.jpg" alt="Ancien Antique Greek Grèce Athens Athène Stoa Of Atallos"></a>
         </label>
         <label class="gallery__item" for="60">
             <a href="/sheet_mushroom-4662970_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2019/11/30/10/33/mushroom-4662970_960_720.jpg" alt="Mushrooms Champignons Forêt Wood Automne Mousse Moss Fall"></a>
         </label>
         <label class="gallery__item" for="61">
             <a href="/sheet_mountains-4941503_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/37/mountains-4941503_960_720.jpg" alt="Mountain Montagne Chemin des Aronards Ponsonnas Alpes Alps"></a>
         </label>
         <label class="gallery__item" for="62">
             <a href="/sheet_caterpillar-4941500_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/18/35/caterpillar-4941500_960_720.jpg" alt="Chenille Caterpillar Animal"></a>
         </label>
         <label class="gallery__item" for="63">
             <a href="/sheet_flower-4944492_960_720" target="_blank">
             <img src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944492_960_720.jpg" alt="Fleur Violette Purple Flower Macro"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
