<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    <a href="/galerie_pictures-page7" class="buttonPage">8</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-pictures-Blue-dragonfly-890588553" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8eix-8f5c35b4-4ff7-4a84-8745-f2a8aa14d2f0.jpg/v1/fit/w_300,h_854,q_70,strp/blue_dragonfly_by_sinason_deq8eix-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZWl4LThmNWMzNWI0LTRmZjctNGE4NC04NzQ1LWYyYThhYTE0ZDJmMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4EmzNoxPLSRgVAUqZKwg9StJk2fTElZZU8e5qt9Urr4" alt="Blue dragonfly drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-pictures-Baby-empusa-pennata-facing-us-890588487" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8eh3-e1df4ed8-a9f4-478b-9648-071d15cf9b48.jpg/v1/fit/w_300,h_854,q_70,strp/baby_empusa_pennata_facing_us_by_sinason_deq8eh3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZWgzLWUxZGY0ZWQ4LWE5ZjQtNDc4Yi05NjQ4LTA3MWQxNWNmOWI0OC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wRIkOlCoOt2JS-VEzbZJieeCHwz0jqClYIaOXKKCIio" alt="Baby empusa pennata facing us drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-pictures-Baby-empusa-pennata-890588349" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8ed9-be1751a4-9219-43cb-be10-789f479818de.jpg/v1/fit/w_300,h_854,q_70,strp/baby_empusa_pennata_by_sinason_deq8ed9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZWQ5LWJlMTc1MWE0LTkyMTktNDNjYi1iZTEwLTc4OWY0Nzk4MThkZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.SltY_ln9N0sQ_k7cxdqbh4IgLIkWqV2f11ABIp4zVsY" alt="Baby empusa pennata drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-pictures-Butterfly-Scarce-Swallowtail-890587938" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8e1u-41eff585-9cfa-457f-8235-f2aac97f1b16.jpg/v1/fit/w_300,h_854,q_70,strp/butterfly_scarce_swallowtail_by_sinason_deq8e1u-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZTF1LTQxZWZmNTg1LTljZmEtNDU3Zi04MjM1LWYyYWFjOTdmMWIxNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.y5WXtkxRDoSToM6vc1VaqCCCnPqdoqH2gYhncdJxlx0" alt="Butterfly Scarce Swallowtail drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-pictures-Dragonfly-on-a-plant-890587795" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8dxv-3482765e-a0ec-4603-af70-e20b49a2fe92.jpg/v1/fit/w_300,h_721,q_70,strp/dragonfly_on_a_plant_by_sinason_deq8dxv-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIxIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZHh2LTM0ODI3NjVlLWEwZWMtNDYwMy1hZjcwLWUyMGI0OWEyZmU5Mi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.unR2kOiX3SOfP3OZgjHmOtrrKDUZx2zE21Dmxu6T7bA" alt="Dragonfly on a plant drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-pictures-Dragonfly-on-a-rusty-metal-890587622" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8dt2-a296e799-fed3-4e55-941e-28bee63b0404.jpg/v1/fit/w_300,h_720,q_70,strp/dragonfly_on_a_rusty_metal_by_sinason_deq8dt2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZHQyLWEyOTZlNzk5LWZlZDMtNGU1NS05NDFlLTI4YmVlNjNiMDQwNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4GbHHI-9tE3DgA84xg1swg4PMf2g_CME8b_lzHpc33k" alt="Dragonfly on a rusty metal drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-pictures-Monet-s-house-at-Giverny-890587469" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8dot-b6706bce-f680-45aa-b4d3-468f94fc8b51.jpg/v1/fit/w_300,h_854,q_70,strp/monet_s_house_at_giverny_by_sinason_deq8dot-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZG90LWI2NzA2YmNlLWY2ODAtNDVhYS1iNGQzLTQ2OGY5NGZjOGI1MS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.dVr-Bpus_3-NmehDR5FaI0SmdUyA2-cSap5Ppz7m3IA" alt="Monet's house at Giverny drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-pictures-Weeping-willow-tree-in-Giverny-Monet-s-house-890587155" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8dg3-b6a96445-d663-4cd0-aef2-1ffc9c84bbc8.jpg/v1/fit/w_300,h_900,q_70,strp/weeping_willow_tree_in_giverny__monet_s_house__by_sinason_deq8dg3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGRnMy1iNmE5NjQ0NS1kNjYzLTRjZDAtYWVmMi0xZmZjOWM4NGJiYzguanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.I_8_zEFdBjGSrEEeLON3nY9c-dZe7RMbean81nfJNnU" alt="Weeping willow tree in Giverny (Monet's house) drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-pictures-Japanese-tree-in-Giverny-France-Monet-s-House-890586896" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8d8w-3194fd05-60d5-4531-9bca-c185973ff2b1.jpg/v1/fit/w_300,h_854,q_70,strp/japanese_tree_in_giverny__france__monet_s_house__by_sinason_deq8d8w-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZDh3LTMxOTRmZDA1LTYwZDUtNDUzMS05YmNhLWMxODU5NzNmZjJiMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4D71yHzPKYmXGAdFHaZh0NmoJDrk53JXLdGi6iwb0Ug" alt="Japanese tree in Giverny, France (Monet's House) drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-pictures-Jewels-in-a-museum-in-Athens-890586769" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8d5d-40bf23ca-22bb-4eb5-90f2-3f633fef0ea7.jpg/v1/fit/w_300,h_854,q_70,strp/jewels_in_a_museum_in_athens_by_sinason_deq8d5d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZDVkLTQwYmYyM2NhLTIyYmItNGViNS05MGYyLTNmNjMzZmVmMGVhNy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ht_e5_8452iyVKDLCGE1VFu8CbZKcHjR7REupZjQsvA" alt="Jewels in a museum in Athens drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-pictures-Grey-goose-890586645" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8d1x-ee465820-0dd1-4520-b2b6-2b9c5f2808e3.jpg/v1/fit/w_300,h_854,q_70,strp/grey_goose_by_sinason_deq8d1x-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZDF4LWVlNDY1ODIwLTBkZDEtNDUyMC1iMmI2LTJiOWM1ZjI4MDhlMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.PeUG0-gGGnnYjnTi7sRPzdoLuqujK219p0I2dgKzoCg" alt="Grey goose drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-pictures-Parakeet-in-Athens-turned-toward-us-890586512" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8cy8-bc271bf4-c59f-4c49-bc33-893c23ba201e.jpg/v1/fit/w_300,h_854,q_70,strp/parakeet_in_athens__turned_toward_us_by_sinason_deq8cy8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Y3k4LWJjMjcxYmY0LWM1OWYtNGM0OS1iYzMzLTg5M2MyM2JhMjAxZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.xyZatLhu0Y26uKUxSBRGv-9ofy_zZO8XyJJVdTUBlhE" alt="Parakeet in Athens, turned toward us drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-pictures-Parakeet-in-Athens-890586428" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8cvw-1b9c1f38-9b64-4c2e-bb01-3055972755be.jpg/v1/fit/w_300,h_854,q_70,strp/parakeet_in_athens_by_sinason_deq8cvw-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Y3Z3LTFiOWMxZjM4LTliNjQtNGMyZS1iYjAxLTMwNTU5NzI3NTViZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rR4sSIp-sRzzzYZ4cT4mGOhp9XqHH01wqYJrDZJq4Pc" alt="Parakeet in Athens drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-pictures-Mushroom-on-the-ground-with-moss-890586319" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8csv-f209832d-ce6c-4bfb-a303-d28f197ff552.jpg/v1/fit/w_300,h_900,q_70,strp/mushroom_on_the_ground__with_moss_by_sinason_deq8csv-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGNzdi1mMjA5ODMyZC1jZTZjLTRiZmItYTMwMy1kMjhmMTk3ZmY1NTIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.DqSmQTUsoRKQ7yB5c7RvpxzLpbzjwQ17mpv53H6Q8N0" alt="Mushroom on the ground, with moss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-pictures-Mushroom-on-bark-890586180" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8cp0-ff463e37-7720-4b96-9192-de3b039e84ed.jpg/v1/fit/w_300,h_900,q_70,strp/mushroom_on_bark_by_sinason_deq8cp0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGNwMC1mZjQ2M2UzNy03NzIwLTRiOTYtOTE5Mi1kZTNiMDM5ZTg0ZWQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.CUo8148YvyNHpztL0IKxZ4Au-Tc3U2U-t4XQsxnhXvo" alt="Mushroom on bark drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-pictures-Chanterelles-Mushrooms-890584872" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8boo-46c972ee-2701-4b0d-a817-fc78ff76829a.jpg/v1/fit/w_300,h_854,q_70,strp/chanterelles__mushrooms_by_sinason_deq8boo-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ym9vLTQ2Yzk3MmVlLTI3MDEtNGIwZC1hODE3LWZjNzhmZjc2ODI5YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.SjDzZrEpRPcfN6qA4KZiqleQNKSp2E-WxcSfiNpWfxU" alt="Chanterelles, Mushrooms drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-pictures-Sleeping-cat-in-Athens-890584805" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bmt-b44a6699-33d3-4b63-914d-b72157ddbe80.jpg/v1/fit/w_300,h_854,q_70,strp/sleeping_cat_in_athens_by_sinason_deq8bmt-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ym10LWI0NGE2Njk5LTMzZDMtNGI2My05MTRkLWI3MjE1N2RkYmU4MC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.bSuJQvwJT3EmvkMbAjIiLbojPYITJ5Rdl6w9ezAdpXw" alt="Sleeping cat in Athens drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-pictures-Another-sleeping-cat-in-Athens-890584703" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bjz-b58d439a-a734-44d7-b326-198e40c8311e.jpg/v1/fit/w_300,h_854,q_70,strp/another_sleeping_cat_in_athens_by_sinason_deq8bjz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ymp6LWI1OGQ0MzlhLWE3MzQtNDRkNy1iMzI2LTE5OGU0MGM4MzExZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WRBLEX-seQLZ0vbTDzzRWbOleVtdj4yWY-D8KQwnFdQ" alt="Another sleeping cat in Athens drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-pictures-Marigolds-890584520" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bew-23efc3be-08f3-469f-b07d-eab95e887787.jpg/v1/fit/w_300,h_854,q_70,strp/marigolds_by_sinason_deq8bew-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YmV3LTIzZWZjM2JlLTA4ZjMtNDY5Zi1iMDdkLWVhYjk1ZTg4Nzc4Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6fk3U0rfE_JbsIxdyV_a4v0dvzLqXWbIzMem634NYxI" alt="Marigolds drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-pictures-Mushroom-in-autumn-890584445" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bct-c4ee8018-e2d8-4897-91e9-5121ae7f84aa.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_in_autumn_by_sinason_deq8bct-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YmN0LWM0ZWU4MDE4LWUyZDgtNDg5Ny05MWU5LTUxMjFhZTdmODRhYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.fc6OqYtY5KVWyUdDeFwSzchnyPRwGSDVIkfGgVf15iw" alt="Mushroom in autumn drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-pictures-Mushroom-on-a-tree-890584316" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b98-b8eed044-6e60-40d9-9189-2d750d4cb4f4.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_on_a_tree_by_sinason_deq8b98-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Yjk4LWI4ZWVkMDQ0LTZlNjAtNDBkOS05MTg5LTJkNzUwZDRjYjRmNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lJTooX_KgygtlYWSgteoucHV7av6brlckLV7I8iTpUs" alt="Mushroom on a tree drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-pictures-Family-of-mushrooms-890584213" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b6d-f5a3e89d-b01e-47a1-8e34-6937ffcd417c.jpg/v1/fit/w_300,h_900,q_70,strp/family_of_mushrooms_by_sinason_deq8b6d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGI2ZC1mNWEzZTg5ZC1iMDFlLTQ3YTEtOGUzNC02OTM3ZmZjZDQxN2MuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QcRQEZ5YuuxVug-XmS57JuZyXkzYPJAubMSWd8w4gZc" alt="Family of mushrooms drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-pictures-Mushroom-on-moss-890584128" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b40-b21bc9b8-cb4f-4408-a2a6-23d7c347adb0.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_on_moss_by_sinason_deq8b40-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YjQwLWIyMWJjOWI4LWNiNGYtNDQwOC1hMmE2LTIzZDdjMzQ3YWRiMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2GTfjYy9nFfa5TCu7Bfnw2352yahvg7xWu2rR57oSt8" alt="Mushroom on moss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-pictures-Mushrooms-on-a-fallen-trunk-890584010" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b0q-308eed4b-50ba-4cd4-8301-049223b9b14b.jpg/v1/fit/w_300,h_854,q_70,strp/mushrooms_on_a_fallen_trunk_by_sinason_deq8b0q-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YjBxLTMwOGVlZDRiLTUwYmEtNGNkNC04MzAxLTA0OTIyM2I5YjE0Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.UXfFqonKkpNvJyqIOXuHpYNdii3xF8ryExuExpJmwm4" alt="Mushrooms on a fallen trunk drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    <a href="/galerie_pictures-page7" class="buttonPage">8</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
    </body>
</html>
