<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-pictures-Sparrow-with-nasturtium-leaves-890593293" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8i6l-b6b45992-b9c8-4660-b645-27b81329b1c7.jpg/v1/fit/w_300,h_853,q_70,strp/sparrow_with_nasturtium_leaves_by_sinason_deq8i6l-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODUzIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aTZsLWI2YjQ1OTkyLWI5YzgtNDY2MC1iNjQ1LTI3YjgxMzI5YjFjNy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Wjlnn3NBzWo3rEyuO5mdYWXk8ZhhwBaYeCek9r_t6Fk" alt="Sparrow with nasturtium leaves drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-pictures-Seagull-a-the-Mont-Saint-MIchel-890593229" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8i4t-694ccb6b-e225-43eb-8be0-9acb60932b83.jpg/v1/fit/w_300,h_854,q_70,strp/seagull_a_the_mont_saint_michel_by_sinason_deq8i4t-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aTR0LTY5NGNjYjZiLWUyMjUtNDNlYi04YmUwLTlhY2I2MDkzMmI4My5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.XlwL_rdi5UmDBPEjDFlrpCfcg1yZLaE-sV6evyMnDas" alt="Seagull a the Mont-Saint-MIchel drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-pictures-Seagull-a-the-Mont-Saint-MIchel-890593102" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8i1a-aa74878f-27e7-41ee-b6c8-e0bb68cad5cc.jpg/v1/fit/w_300,h_854,q_70,strp/seagull_a_the_mont_saint_michel_by_sinason_deq8i1a-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aTFhLWFhNzQ4NzhmLTI3ZTctNDFlZS1iNmM4LWUwYmI2OGNhZDVjYy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.uvpv9NN5zlvala3wYbzcGky9e5TLVC8Q_q-PdHDrFTI" alt="Seagull a the Mont-Saint-MIchel drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-pictures-Sparrow-on-a-wall-890593039" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hzj-90a9b484-c0e0-445b-a303-db735ee7d1a1.jpg/v1/fit/w_300,h_900,q_70,strp/sparrow_on_a_wall_by_sinason_deq8hzj-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI3OSIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGh6ai05MGE5YjQ4NC1jMGUwLTQ0NWItYTMwMy1kYjczNWVlN2QxYTEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.3qnlls1_ZYdKcNEnbwRQMflewN934UiNNj5mWa0voGI" alt="Sparrow on a wall drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-pictures-Mushroom-in-the-moss-890592928" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hwg-4c202782-1ef8-4a36-b75d-3afff2a3bbbd.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_in_the_moss_by_sinason_deq8hwg-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aHdnLTRjMjAyNzgyLTFlZjgtNGEzNi1iNzVkLTNhZmZmMmEzYmJiZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wf_4V78HvLLUqHkam4-uKd-VsQxYacIXeqxDBPU42fw" alt="Mushroom in the moss drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-pictures-La-Meije-Emparis-Alps-France-890592842" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hu2-f817865c-6b93-4fca-b780-430eaf938f8e.jpg/v1/fit/w_300,h_854,q_70,strp/la_meije__emparis__alps__france_by_sinason_deq8hu2-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aHUyLWY4MTc4NjVjLTZiOTMtNGZjYS1iNzgwLTQzMGVhZjkzOGY4ZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rD29-11aXhGX1GoOYF5Sej5s-jn2HC1lTP475xSb7mE" alt="La Meije, Emparis, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-pictures-La-Meije-Emparis-Alps-France-890592615" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hnr-c82e1d8c-277c-46eb-a5f0-527890f16e24.jpg/v1/fit/w_300,h_854,q_70,strp/la_meije__emparis__alps__france_by_sinason_deq8hnr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aG5yLWM4MmUxZDhjLTI3N2MtNDZlYi1hNWYwLTUyNzg5MGYxNmUyNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NLnelW8PnN_45uf5ol6HDLj97c-VuxD7XOeYhLKyvNo" alt="La Meije, Emparis, Alps, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-pictures-Bird-at-Emparis-890592521" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hl5-15df9f9d-264e-46c4-9fff-05c5782a5ce5.jpg/v1/fit/w_300,h_854,q_70,strp/bird_at_emparis_by_sinason_deq8hl5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aGw1LTE1ZGY5ZjlkLTI2NGUtNDZjNC05ZmZmLTA1YzU3ODJhNWNlNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.te-rgdtB55D6DY3J-d8kFGLvqsA6Skv_CjrYzXycn8k" alt="Bird at Emparis drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-pictures-Emparis-edelweiss-Alpes-890592420" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hic-fb317f56-58c4-4034-9ef6-6c33ec6e102e.jpg/v1/fit/w_300,h_854,q_70,strp/emparis_edelweiss_alpes_by_sinason_deq8hic-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aGljLWZiMzE3ZjU2LTU4YzQtNDAzNC05ZWY2LTZjMzNlYzZlMTAyZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.qsO-CLv1_Yd6ecU-tjtAH88DlDUvCIkiPzf0atI4lHk" alt="Emparis edelweiss Alpes drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-pictures-Path-to-the-lake-Emparis-France-890592215" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8hcn-b7811691-4d64-41c0-90ed-48cc158b5acc.jpg/v1/fit/w_300,h_854,q_70,strp/path_to_the_lake__emparis__france_by_sinason_deq8hcn-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aGNuLWI3ODExNjkxLTRkNjQtNDFjMC05MGVkLTQ4Y2MxNThiNWFjYy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.pZtBfCM17n2Es4Ax-FJkFFRzu31xAQH8eXcI68qcEJU" alt="Path to the lake, Emparis, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-pictures-Cows-on-the-mountain-Emparis-Alps-890591997" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8h6l-41abf986-f9b8-4cb0-b569-0fa5883361e8.jpg/v1/fit/w_300,h_855,q_70,strp/cows_on_the_mountain__emparis__alps_by_sinason_deq8h6l-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU1IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aDZsLTQxYWJmOTg2LWY5YjgtNGNiMC1iNTY5LTBmYTU4ODMzNjFlOC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.xeBRyj6vOx9iekGT3oBB0--MldLkl6IPAnzBHLmf0Cw" alt="Cows on the mountain, Emparis, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-pictures-Landscape-Emparis-Alps-890591899" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8h3v-415eec6d-9375-441d-a4b5-1ab84fc3245f.jpg/v1/fit/w_300,h_854,q_70,strp/landscape__emparis__alps_by_sinason_deq8h3v-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4aDN2LTQxNWVlYzZkLTkzNzUtNDQxZC1hNGI1LTFhYjg0ZmMzMjQ1Zi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.aVIfjmQ1fXrCBTQ0ofIEqr2JdZ4n3tgPpwYoLJf4qdg" alt="Landscape, Emparis, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-pictures-Waterfall-in-Prapic-Alps-890591788" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8h0s-936fd6ce-dfdd-455e-b489-0042a3941b19.jpg/v1/fit/w_300,h_900,q_70,strp/waterfall_in_prapic__alps_by_sinason_deq8h0s-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGgwcy05MzZmZDZjZS1kZmRkLTQ1NWUtYjQ4OS0wMDQyYTM5NDFiMTkuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.wQID7ItgkLZEmI7-zAKrH0u8eieZptOB_1TFgnr6FTQ" alt="Waterfall in Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-pictures-Shepherd-house-with-bridge-Prapic-Alps-890591665" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8gxd-11e5fa5a-24a3-4384-8cf1-0039f6413d98.jpg/v1/fit/w_300,h_900,q_70,strp/shepherd_house_with_bridge__prapic__alps_by_sinason_deq8gxd-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGd4ZC0xMWU1ZmE1YS0yNGEzLTQzODQtOGNmMS0wMDM5ZjY0MTNkOTguanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Hpc8foRGfG0LP2pXvXuM3LFFzp6Dq7rpvY6htCyreIQ" alt="Shepherd house with bridge, Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-pictures-Another-shepherd-house-in-Prapic-Alps-890591493" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8gsl-cd7512bd-c220-4e12-b1fc-8f1bff6920a5.jpg/v1/fit/w_300,h_854,q_70,strp/another_shepherd_house_in_prapic__alps_by_sinason_deq8gsl-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Z3NsLWNkNzUxMmJkLWMyMjAtNGUxMi1iMWZjLThmMWJmZjY5MjBhNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Yc6iyqQCYu6G8-rD-4VHIvrmN5mXHAESLuVU7RTo-GA" alt="Another shepherd house in Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-pictures-Hike-way-in-Prapic-Alps-890591308" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8gng-0e97e380-05f1-4f83-a530-f5a17702731e.jpg/v1/fit/w_300,h_854,q_70,strp/hike_way_in_prapic__alps_by_sinason_deq8gng-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Z25nLTBlOTdlMzgwLTA1ZjEtNGY4My1hNTMwLWY1YTE3NzAyNzMxZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.L3Z_OyoUXP-eaNW2rVhjIrgCKkJ4rayqoVK-TMuij1E" alt="Hike way in Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-pictures-Shepherd-house-in-Prapic-Alps-890591135" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8gin-3205a630-a0bd-4cba-a3d7-70a5a6903c8c.jpg/v1/fit/w_300,h_854,q_70,strp/shepherd_house_in_prapic__alps_by_sinason_deq8gin-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Z2luLTMyMDVhNjMwLWEwYmQtNGNiYS1hM2Q3LTcwYTVhNjkwM2M4Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.oy3eUyMO9RxhBvL0e55aoidAP09l7OZTd44TYVYmqxE" alt="Shepherd house in Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-pictures-Shepherd-house-in-Prapic-Alps-890590950" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8gdi-4dbbe22b-9208-4a0a-975c-094910575566.jpg/v1/fit/w_300,h_854,q_70,strp/shepherd_house_in_prapic__alps_by_sinason_deq8gdi-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Z2RpLTRkYmJlMjJiLTkyMDgtNGEwYS05NzVjLTA5NDkxMDU3NTU2Ni5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.gqe0H2dsfw6RoM7Ei1PztPlQwGtHZ54yFJezheZGJOY" alt="Shepherd house in Prapic, Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-pictures-Lake-Fourchu-Alps-with-reflection-890590820" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8g9w-16ba0f08-b59f-4933-84d8-84ee0e401ebb.jpg/v1/fit/w_300,h_900,q_70,strp/lake_fourchu_alps_with_reflection_by_sinason_deq8g9w-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGc5dy0xNmJhMGYwOC1iNTlmLTQ5MzMtODRkOC04NGVlMGU0MDFlYmIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.RZ8N0mVrKM8hHBIoRRyV4K8Q1f88lI5cVorV4yK9ffw" alt="Lake Fourchu Alps with reflection drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-pictures-Lake-Fourchu-in-Alps-890590741" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8g7p-2d899330-44be-4f1d-a3ed-0cda943a45f0.jpg/v1/fit/w_300,h_854,q_70,strp/lake_fourchu_in_alps_by_sinason_deq8g7p-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZzdwLTJkODk5MzMwLTQ0YmUtNGYxZC1hM2VkLTBjZGE5NDNhNDVmMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Enq2bmHqaKXg3HYUeHo5-VGBhG9N5jNJCmCDhKlv344" alt="Lake Fourchu in Alps drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-pictures-Himalayan-bridge-over-the-Drac-river-890590550" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8g2e-e706d6fb-8e15-499f-9486-27c7a4a14085.jpg/v1/fit/w_300,h_854,q_70,strp/himalayan_bridge_over_the_drac_river_by_sinason_deq8g2e-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZzJlLWU3MDZkNmZiLThlMTUtNDk5Zi05NDg2LTI3YzdhNGExNDA4NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7JX8ooVCG7R3_uiW6Z3p9gdFiBxttbGKS9FBggA_kN0" alt="Himalayan bridge over the Drac river drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-pictures-Drac-river-from-the-himalayan-bridge-890590414" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8fym-b893e1a9-83c3-494c-8592-3eab5e64d6f9.jpg/v1/fit/w_300,h_854,q_70,strp/drac_river_from_the_himalayan_bridge_by_sinason_deq8fym-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZnltLWI4OTNlMWE5LTgzYzMtNDk0Yy04NTkyLTNlYWI1ZTY0ZDZmOS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._Uv87ZhegLM8NLhGgAUyGn3T3Y3rrWdGatWXQ1RUiRI" alt="Drac river from the himalayan bridge drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-pictures-Flying-dragonfly-on-shadow-890590295" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8fvb-8bcc83dc-d854-4dad-b32a-587781155333.jpg/v1/fit/w_300,h_854,q_70,strp/flying_dragonfly_on_shadow_by_sinason_deq8fvb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZnZiLThiY2M4M2RjLWQ4NTQtNGRhZC1iMzJhLTU4Nzc4MTE1NTMzMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.CUJXlWfRQgg5F7c1royhe6ZlWYw6dq7MkEEkD-3TM-w" alt="Flying dragonfly on shadow drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-pictures-Flying-dragonfly-over-water-890590145" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8fr5-fb5518a1-80ed-46b1-b3ef-db84d8b0a25d.jpg/v1/fit/w_300,h_854,q_70,strp/flying_dragonfly_over_water_by_sinason_deq8fr5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4ZnI1LWZiNTUxOGExLTgwZWQtNDZiMS1iM2VmLWRiODRkOGIwYTI1ZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.MDNSTQ5mSI5R0gYNqZioGhN8ppPg3t5Dzf3QVaMMXwg" alt="Flying dragonfly over water drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_pictures" class="buttonPage">1</a>
    <a href="/galerie_pictures-page1" class="buttonPage">2</a>
    <a href="/galerie_pictures-page2" class="buttonPage">3</a>
    <a href="/galerie_pictures-page3" class="buttonPage">4</a>
    <a href="/galerie_pictures-page4" class="buttonPage">5</a>
    <a href="/galerie_pictures-page5" class="buttonPage">6</a>
    <a href="/galerie_pictures-page6" class="buttonPage">7</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
    </body>
</html>
