<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    </p>


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <div class="gallery">
		<div class="gallery__column">
			<a href="/sheet-paintings-Head-study-899906662" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/devs4fa-6aad3d7b-0f2c-46f3-93be-5c7b729f8f8d.jpg/v1/fit/w_300,h_900,q_70,strp/head_study_by_archiwyzard_devs4fa-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV2czRmYS02YWFkM2Q3Yi0wZjJjLTQ2ZjMtOTNiZS01YzdiNzI5ZjhmOGQuanBnIiwid2lkdGgiOiI8PTE1NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.UbN1tdc5_JwBsnSPNbeAHu3nNPMXVQIr3avq_2OUrtU" alt="Head study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Head study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Horses-study-round-2-899712795" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/devnyu3-7b2ddd12-9673-44ee-bec7-a3dd36ca67a9.jpg/v1/fit/w_300,h_900,q_70,strp/horses_study_round_2_by_archiwyzard_devnyu3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjMyNCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV2bnl1My03YjJkZGQxMi05NjczLTQ0ZWUtYmVjNy1hM2RkMzZjYTY3YTkuanBnIiwid2lkdGgiOiI8PTI4NTIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.6Uzz2vEJK7oV9MyCv_yUz6USOsw2hQSMadWtcbk2XQE" alt="Horses study round 2 drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Horses study round 2 drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Horses-study-899217408" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/devdclc-759cd8ed-380a-4e4b-b9ad-31496bbb57b2.jpg/v1/fit/w_300,h_900,q_70,strp/horses_study_by_archiwyzard_devdclc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYyNSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV2ZGNsYy03NTljZDhlZC0zODBhLTRlNGItYjlhZC0zMTQ5NmJiYjU3YjIuanBnIiwid2lkdGgiOiI8PTIwODcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.yLlY7ROLPb9HjDXSVLYToud3_0_5EQc7UPafoX636WA" alt="Horses study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Horses study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Horse-back-kicking-899135557" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/devblfp-549a34da-22a3-439b-bfa9-a2a794664082.jpg/v1/fit/w_300,h_900,q_70,strp/horse_back_kicking_by_archiwyzard_devblfp-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTcxIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZXZibGZwLTU0OWEzNGRhLTIyYTMtNDM5Yi1iZmE5LWEyYTc5NDY2NDA4Mi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zGAMNHU5QEb7JhNJUgoxxxzr42izOFfBcWdz2-9ULmU" alt="Horse back kicking drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Horse back kicking drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Roman-statue-898667139" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dev1k03-01d8762d-6555-4f37-92a5-4b2e6980679b.jpg/v1/fit/w_300,h_900,q_70,strp/roman_statue_by_archiwyzard_dev1k03-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjkxMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV2MWswMy0wMWQ4NzYyZC02NTU1LTRmMzctOTJhNS00YjJlNjk4MDY3OWIuanBnIiwid2lkdGgiOiI8PTIwNDYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.IRQt5s2tXHSJv_5t6ENyGmlNR6qW38DB1WNEbR35iLU" alt="Roman statue drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Roman statue drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Charcoal-drawing-897702660" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deugvt0-2c8ed6ad-8a2c-4273-9696-5146c1d59836.jpg/v1/fit/w_300,h_900,q_70,strp/charcoal_drawing_by_archiwyzard_deugvt0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc3OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV1Z3Z0MC0yYzhlZDZhZC04YTJjLTQyNzMtOTY5Ni01MTQ2YzFkNTk4MzYuanBnIiwid2lkdGgiOiI8PTIyNDUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.YsSjLIMg_LLZr7rTA89ajFTz3hNHlLK7IJzRlSzBTb4" alt="Charcoal drawing drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Charcoal drawing drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-Equestrian-lesson-897270108" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deu7m1o-add6033a-5f75-4882-a7dc-1afcad7ad450.jpg/v1/fit/w_300,h_900,q_70,strp/equestrian_lesson_by_archiwyzard_deu7m1o-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg0MSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV1N20xby1hZGQ2MDMzYS01Zjc1LTQ4ODItYTdkYy0xYWZjYWQ3YWQ0NTAuanBnIiwid2lkdGgiOiI8PTIxNjEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._ElbafDmrwIUKDaJ9j1mSwKdQ40TzLNiUqYX0kDbmLY" alt="Equestrian lesson drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Equestrian lesson drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-self-portrait-in-the-bathroom-mirror-897121751" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/deu4fkn-6e3e69dd-8d88-4969-9bfe-8e880c0043c0.jpg/v1/fit/w_300,h_900,q_70,strp/self_portrait_in_the_bathroom_mirror_by_archiwyzard_deu4fkn-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjM5NCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV1NGZrbi02ZTNlNjlkZC04ZDg4LTQ5NjktOWJmZS04ZTg4MGMwMDQzYzAuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.00aNVYB1bmcpjjolReOnMeFlnBuk5mnOmts3At1Cwqo" alt="self portrait in the bathroom mirror drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">self portrait in the bathroom mirror drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-head-study-896667477" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/detup1x-547cac6a-7985-4cfe-b533-21e30721e912.jpg/v1/fit/w_300,h_900,q_70,strp/head_study_by_archiwyzard_detup1x-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjEzMyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0dXAxeC01NDdjYWM2YS03OTg1LTRjZmUtYjUzMy0yMWUzMDcyMWU5MTIuanBnIiwid2lkdGgiOiI8PTE3NDkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-TGm1sMcy0RQl8-EEvupNCaS3NT_i3PSHQdkDfAI5CM" alt="head study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">head study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-The-dying-horse-896441328" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/detpuk0-16d8dcb6-29da-47fb-8687-88c239d105af.jpg/v1/fit/w_300,h_900,q_70,strp/the_dying_horse_by_archiwyzard_detpuk0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjM3MSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0cHVrMC0xNmQ4ZGNiNi0yOWRhLTQ3ZmItODY4Ny04OGMyMzlkMTA1YWYuanBnIiwid2lkdGgiOiI8PTMxMTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._rMXF9fpUAyz3Ids1YDs_3b0c1IXNSCMJ_mAWiERdyk" alt="The dying horse drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">The dying horse drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Head-study-896230031" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/detlbin-61fc124a-1bff-4f73-a0aa-c94ec46e1de2.jpg/v1/fit/w_300,h_900,q_70,strp/head_study_by_archiwyzard_detlbin-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY3NyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0bGJpbi02MWZjMTI0YS0xYmZmLTRmNzMtYTBhYS1jOTRlYzQ2ZTFkZTIuanBnIiwid2lkdGgiOiI8PTI0NzMifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TbiX-6RNN0GG8-gCOWbbehhnDmIMbGgWe763txBf2nE" alt="Head study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Head study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Submission-to-fall-horror-challenge-895967480" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/detfoxk-c8fabe2e-e13a-4abc-8bcb-3fad3a3a4043.jpg/v1/fit/w_300,h_900,q_70,strp/submission_to_fall_horror_challenge_by_archiwyzard_detfoxk-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0Zm94ay1jOGZhYmUyZS1lMTNhLTRhYmMtOGJjYi0zZmFkM2EzYTQwNDMuanBnIiwiaGVpZ2h0IjoiPD0yNDA2Iiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9hcmNoaXd5emFyZC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.oBb3bsBVcoqR31t-KNJ2r6KPY-Db5QOBQd5s5_xj5pg" alt="Submission to fall horror challenge drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Submission to fall horror challenge drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-Saturday-morning-drawing-exercice-895729926" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/detalmu-080f9420-e8e6-4e0f-8e7d-23be289c3883.jpg/v1/fit/w_300,h_900,q_70,strp/saturday_morning_drawing_exercice_by_archiwyzard_detalmu-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUyMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0YWxtdS0wODBmOTQyMC1lOGU2LTRlMGYtOGU3ZC0yM2JlMjg5YzM4ODMuanBnIiwid2lkdGgiOiI8PTIyODkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.n8H60kIYGslPYOFiNILC6kvVdWpGD3PQw4DfighMlYM" alt="Saturday morning drawing exercice drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Saturday morning drawing exercice drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Trying-new-drawing-style-895371940" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/det2xes-7f78e21c-1624-4c9e-a619-c71bee7e15ef.jpg/v1/fit/w_300,h_900,q_70,strp/trying_new_drawing_style_by_archiwyzard_det2xes-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTk5NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGV0Mnhlcy03Zjc4ZTIxYy0xNjI0LTRjOWUtYTYxOS1jNzFiZWU3ZTE1ZWYuanBnIiwid2lkdGgiOiI8PTI0MDIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Q6foddjGQmM_t88_VUedpgaGbv0-q9jYKzrY8dVRZMM" alt="Trying new drawing style drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Trying new drawing style drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-17-collide-895144730" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desy23e-eddd6708-6b6b-4d32-98cc-fffad9ca4fdc.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_17___collide_by_archiwyzard_desy23e-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjMyMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzeTIzZS1lZGRkNjcwOC02YjZiLTRkMzItOThjYy1mZmZhZDljYTRmZGMuanBnIiwid2lkdGgiOiI8PTMzMjcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.1S1Aqk6nXqAum6HeYIt7ANbTvFME6PzdD6ReCV655gQ" alt="Inktober 17 - collide drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 17 - collide drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-15-Helmet-895041127" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desvu5j-c10a73a7-a3cb-4588-8d5d-b085a5de1dda.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_15___helmet_by_archiwyzard_desvu5j-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjgxMiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzdnU1ai1jMTBhNzNhNy1hM2NiLTQ1ODgtOGQ1ZC1iMDg1YTVkZTFkZGEuanBnIiwid2lkdGgiOiI8PTIwNTcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-z7gudBL8-s69haNlQtKpj3v2wvaph0pVUcfaPmYweM" alt="Inktober 15 - Helmet drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 15 - Helmet drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-12-Stuck-894740626" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/despeaa-cc550d4b-5c30-4568-8d5b-1d52721dc07f.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_12__stuck_by_archiwyzard_despeaa-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU4NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzcGVhYS1jYzU1MGQ0Yi01YzMwLTQ1NjgtOGQ1Yi0xZDUyNzIxZGMwN2YuanBnIiwid2lkdGgiOiI8PTIzNzcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ASrJ_MBgimkpKs_ZnbfUMI71-LXNZpKOfaODX-hv7VQ" alt="Inktober 12, Stuck drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 12, Stuck drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-10-pick-894464204" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desjgzw-00559c50-8ba8-48a7-b24d-be4b7b5c9deb.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_10___pick_by_archiwyzard_desjgzw-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzEwOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzamd6dy0wMDU1OWM1MC04YmE4LTQ4YTctYjI0ZC1iZTRiN2I1YzlkZWIuanBnIiwid2lkdGgiOiI8PTQ2OTMifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.AXPxx5e4gwJNq0gKX0rSnPk3GJXysIthgUhx9iIsa7A" alt="Inktober 10 - pick drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 10 - pick drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-Inktober-9-pressure-894427161" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desioex-cb4381a5-e25d-4218-a841-7400fb92eb9c.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_9___pressure_by_archiwyzard_desioex-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjYxMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzaW9leC1jYjQzODFhNS1lMjVkLTQyMTgtYTg0MS03NDAwZmI5MmViOWMuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.rSmF7YEk5L1HZQBohBh8S3kF1b3AtDe721lUJnGwA_A" alt="Inktober 9 - pressure drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 9 - pressure drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-8-Watch-894276484" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desfg5g-a675f09c-a956-446e-819c-f927640dae1d.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_8___watch_by_archiwyzard_desfg5g-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg1MyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzZmc1Zy1hNjc1ZjA5Yy1hOTU2LTQ0NmUtODE5Yy1mOTI3NjQwZGFlMWQuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QcR3QnH2fqTw7oMJNWR0b-fduyJ9CYGG3kHIHQGQKbU" alt="Inktober 8 - Watch drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 8 - Watch drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-7-fan-894173187" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desd8g3-3ea7c0c4-5daa-473c-b2f2-9ec2876eb109.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_7___fan_by_archiwyzard_desd8g3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzZDhnMy0zZWE3YzBjNC01ZGFhLTQ3M2MtYjJmMi05ZWMyODc2ZWIxMDkuanBnIiwiaGVpZ2h0IjoiPD0zMTkyIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9hcmNoaXd5emFyZC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.i2D2nJnZn4zhK6NmL8p0o05iZ_5Vce1UESoieO9Ga1A" alt="Inktober 7 - fan drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 7 - fan drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-6-spirit-894078515" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/desb7eb-5fc8db51-5d14-40b1-9b8e-b3f47beb05b1.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_6__spirit_by_archiwyzard_desb7eb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzYjdlYi01ZmM4ZGI1MS01ZDE0LTQwYjEtOWI4ZS1iM2Y0N2JlYjA1YjEuanBnIiwiaGVpZ2h0IjoiPD0yMjIyIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9hcmNoaXd5emFyZC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.gXa_XTM65sLjLdghMBDjElZDEpq41_cZrxEGEuTColg" alt="Inktober 6, spirit drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 6, spirit drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-5-raven-893973100" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/des8y24-ed82906c-8865-4048-9350-527274e6c823.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_5__raven_by_archiwyzard_des8y24-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA5NiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzOHkyNC1lZDgyOTA2Yy04ODY1LTQwNDgtOTM1MC01MjcyNzRlNmM4MjMuanBnIiwid2lkdGgiOiI8PTExNTQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.HYWqRTXhrZo03WpB0WQrh_3vZD5jcm7sLE7dNaXb5tI" alt="Inktober 5, raven drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 5, raven drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Inktober-4-Knot-893827371" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/des5tm3-3aa97c00-7950-42c5-8965-3763cbf7d7cf.jpg/v1/fit/w_300,h_900,q_70,strp/inktober_4__knot_by_archiwyzard_des5tm3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjU2MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGVzNXRtMy0zYWE5N2MwMC03OTUwLTQyYzUtODk2NS0zNzYzY2JmN2Q3Y2YuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Os4grzhjbegGlPp6hMraid8NRD5WYrDewQdLIYyRkBA" alt="Inktober 4, Knot drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Inktober 4, Knot drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
