<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">

    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Les photos sont faites pour être partagées.</h2>
                    Toutes les photos sont téléchargeables gratuitement en allant directement sur ma page
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> où vous pouvez sélectionner la taille de la photo que vous souhaitez télécharger.
                </div>
            </div>
    </header>
    
    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Pictures are made to be shared.</h2>
                    All pictures are downloadable for free by going to my
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> profile where you can select the size of the picture you want to download.
                </div>
            </div>
    </header>
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="24"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="25"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="26"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="27"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="28"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="29"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="30"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="31"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="32"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="33"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="34"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="35"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="36"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="37"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="38"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="39"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="40"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="41"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="42"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="43"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="44"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="45"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="46"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="47"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="48"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="49"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="50"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="51"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="52"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="53"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="54"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="55"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="56"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="57"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="58"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="59"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="60"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="61"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="62"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="63"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="64"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="65"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="66"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="67"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="68"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="69"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="70"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="71"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="72"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="73"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="74"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="75"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="76"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="77"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="78"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="79"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="80"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="81"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="82"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="83"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="84"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="85"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="86"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="87"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="88"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="89"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="90"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="91"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="92"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="93"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="94"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="95"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="96"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="97"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="98"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="99"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="100"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="101"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="102"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="103"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="104"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="105"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="106"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="107"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="108"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="109"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="110"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="111"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-bird-5443150" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/27/18/37/bird-5443150_960_720.jpg" alt="bird, sparrow, plumage"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-duck-5443142" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/27/18/34/duck-5443142_960_720.jpg" alt="duck, bird, mallard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-dragonfly-5417259" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/18/13/52/dragonfly-5417259_960_720.jpg" alt="dragonfly, wings, insect"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-lizard-5417249" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/18/13/49/lizard-5417249_960_720.jpg" alt="lizard, reptile, wall"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-dragonfly-5417246" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/18/13/46/dragonfly-5417246_960_720.jpg" alt="dragonfly, bamboo, wings"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-bird-5411597" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/16/17/10/bird-5411597_960_720.jpg" alt="bird, nature, backlight"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-bird-5411613" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/16/17/11/bird-5411613_960_720.jpg" alt="bird, nature, eating"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-swallow-5411575" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/16/17/05/swallow-5411575_960_720.jpg" alt="swallow, bird, animal"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-dragonfly-5405023" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/14/17/25/dragonfly-5405023_960_720.jpg" alt="dragonfly, insect, nature"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-dragonfly-5405011" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/14/17/23/dragonfly-5405011_960_720.jpg" alt="dragonfly, insect, blue"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-nympheas-5391544" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/17/55/nympheas-5391544_960_720.jpg" alt="nympheas, giverny, monet"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-giverny-5391675" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/29/giverny-5391675_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-giverny-5391671" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/28/giverny-5391671_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-giverny-5391672" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/28/giverny-5391672_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-giverny-5391658" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/25/giverny-5391658_960_720.jpg" alt="giverny, monet, lavender"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-nympheas-5391568" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/18/00/nympheas-5391568_960_720.jpg" alt="nympheas, giverny, monet"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-giverny-5391558" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/17/57/giverny-5391558_960_720.jpg" alt="giverny, monet, nature"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-lily-5391505" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/10/17/42/lily-5391505_960_720.jpg" alt="lily, flower, orange"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-swan-5322378" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/22/swan-5322378_960_720.jpg" alt="swan, animal, bird"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-swan-5322376" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/19/swan-5322376_960_720.jpg" alt="swan, animal, bird"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-snail-5322361" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/15/snail-5322361_960_720.jpg" alt="snail, leaf, spiral"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-dragonflies-5322357" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/15/dragonflies-5322357_960_720.jpg" alt="dragonflies, couple, insect"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-butterfly-5322362" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/16/butterfly-5322362_960_720.jpg" alt="butterfly, nature, zoom"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-butterfly-5322360" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/15/butterfly-5322360_960_720.jpg" alt="butterfly, nature, zoom"></a>
         </label>
         <label class="gallery__item" for="24">
             <a href="/sheet-spider-5322353" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/14/spider-5322353_960_720.jpg" alt="spider, arachnid, brown"></a>
         </label>
         <label class="gallery__item" for="25">
             <a href="/sheet-snail-5322333" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/10/snail-5322333_960_720.jpg" alt="snail, animal, gastropod"></a>
         </label>
         <label class="gallery__item" for="26">
             <a href="/sheet-frog-5294934" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/13/16/55/frog-5294934_960_720.jpg" alt="frog, baby, amphibian"></a>
         </label>
         <label class="gallery__item" for="27">
             <a href="/sheet-frog-5294937" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/13/16/56/frog-5294937_960_720.jpg" alt="frog, baby, amphibian"></a>
         </label>
         <label class="gallery__item" for="28">
             <a href="/sheet-ladybug-5271700" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/07/ladybug-5271700_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="29">
             <a href="/sheet-ladybug-5271680" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/02/ladybug-5271680_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="30">
             <a href="/sheet-ladybug-5271677" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/01/ladybug-5271677_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="31">
             <a href="/sheet-bee-5202249" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/21/19/22/bee-5202249_960_720.jpg" alt="bee, flower, insect"></a>
         </label>
         <label class="gallery__item" for="32">
             <a href="/sheet-columbine-5202235" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/21/19/17/columbine-5202235_960_720.jpg" alt="columbine, pink, flower"></a>
         </label>
         <label class="gallery__item" for="33">
             <a href="/sheet-dragonfly-5178614" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/16/18/24/dragonfly-5178614_960_720.jpg" alt="dragonfly, red, insect"></a>
         </label>
         <label class="gallery__item" for="34">
             <a href="/sheet-dragonfly-5178588" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/16/18/17/dragonfly-5178588_960_720.jpg" alt="dragonfly, red, insect"></a>
         </label>
         <label class="gallery__item" for="35">
             <a href="/sheet-spider-5153369" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/10/10/29/spider-5153369_960_720.jpg" alt="spider, cucumber spider, green"></a>
         </label>
         <label class="gallery__item" for="36">
             <a href="/sheet-beetle-5146668" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/33/beetle-5146668_960_720.jpg" alt="beetle, rose chafer, cetonia aurata"></a>
         </label>
         <label class="gallery__item" for="37">
             <a href="/sheet-beetle-5146607" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/20/beetle-5146607_960_720.jpg" alt="beetle, nature, black"></a>
         </label>
         <label class="gallery__item" for="38">
             <a href="/sheet-beetle-5146626" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/22/beetle-5146626_960_720.jpg" alt="beetle, rose chafer, cetonia aurata"></a>
         </label>
         <label class="gallery__item" for="39">
             <a href="/sheet-nasturtium-5146408" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/16/21/nasturtium-5146408_960_720.jpg" alt="nasturtium, leaf, nature"></a>
         </label>
         <label class="gallery__item" for="40">
             <a href="/sheet-viper-5125784" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/03/16/49/viper-5125784_960_720.jpg" alt="viper, snake, reptile"></a>
         </label>
         <label class="gallery__item" for="41">
             <a href="/sheet-viper-5125782" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/03/16/48/viper-5125782_960_720.jpg" alt="viper, snake, reptile"></a>
         </label>
         <label class="gallery__item" for="42">
             <a href="/sheet-grasshopper-5117767" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/43/grasshopper-5117767_960_720.jpg" alt="grasshopper, insect, flower"></a>
         </label>
         <label class="gallery__item" for="43">
             <a href="/sheet-ladybug-5117757" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/41/ladybug-5117757_960_720.jpg" alt="ladybug, nature, insect"></a>
         </label>
         <label class="gallery__item" for="44">
             <a href="/sheet-chives-5117751" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/41/chives-5117751_960_720.jpg" alt="chives, flower, purple"></a>
         </label>
         <label class="gallery__item" for="45">
             <a href="/sheet-sparrow-5117732" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/39/sparrow-5117732_960_720.jpg" alt="sparrow, wall, bird"></a>
         </label>
         <label class="gallery__item" for="46">
             <a href="/sheet-robin-5117727" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/39/robin-5117727_960_720.jpg" alt="robin, bird, nature"></a>
         </label>
         <label class="gallery__item" for="47">
             <a href="/sheet-sparrow-5117704" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/36/sparrow-5117704_960_720.jpg" alt="sparrow, wall, bird"></a>
         </label>
         <label class="gallery__item" for="48">
             <a href="/sheet-iris-5095802" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/26/15/29/iris-5095802_960_720.jpg" alt="iris, purple, flower"></a>
         </label>
         <label class="gallery__item" for="49">
             <a href="/sheet-oxalis-5095757" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/26/15/25/oxalis-5095757_960_720.jpg" alt="oxalis, pink-sorrel, flowers"></a>
         </label>
         <label class="gallery__item" for="50">
             <a href="/sheet-thyme-5055025" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/33/thyme-5055025_960_720.jpg" alt="thyme, nature, close-up"></a>
         </label>
         <label class="gallery__item" for="51">
             <a href="/sheet-nasturtium-5055015" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/30/nasturtium-5055015_960_720.jpg" alt="nasturtium, flower, spring"></a>
         </label>
         <label class="gallery__item" for="52">
             <a href="/sheet-nasturtium-5055013" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/17/12/29/nasturtium-5055013_960_720.jpg" alt="nasturtium, flower, spring"></a>
         </label>
         <label class="gallery__item" for="53">
             <a href="/sheet-burgeon-5003204" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/04/17/35/burgeon-5003204_960_720.jpg" alt="burgeon, nature, wood"></a>
         </label>
         <label class="gallery__item" for="54">
             <a href="/sheet-squirrel-5002455" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/04/14/16/squirrel-5002455_960_720.jpg" alt="squirrel, tree, spring"></a>
         </label>
         <label class="gallery__item" for="55">
             <a href="/sheet-squirrel-5002453" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/04/04/14/16/squirrel-5002453_960_720.jpg" alt="squirrel, tree, spring"></a>
         </label>
         <label class="gallery__item" for="56">
             <a href="/sheet-flowers-4978735" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/28/21/56/flowers-4978735_960_720.jpg" alt="flowers, petals, nature"></a>
         </label>
         <label class="gallery__item" for="57">
             <a href="/sheet-flowers-4951332" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/20/flowers-4951332_960_720.jpg" alt="flowers, purple, garden"></a>
         </label>
         <label class="gallery__item" for="58">
             <a href="/sheet-bulrush-4951322" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/15/bulrush-4951322_960_720.jpg" alt="bulrush, nature, spring"></a>
         </label>
         <label class="gallery__item" for="59">
             <a href="/sheet-flowers-4951325" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/16/flowers-4951325_960_720.jpg" alt="flowers, purple, bloom"></a>
         </label>
         <label class="gallery__item" for="60">
             <a href="/sheet-butterfly-4951310" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951310_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="61">
             <a href="/sheet-butterfly-4951309" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951309_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="62">
             <a href="/sheet-butterfly-4951289" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/07/butterfly-4951289_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="63">
             <a href="/sheet-flowers-4951286" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/04/flowers-4951286_960_720.jpg" alt="flowers, red, spring"></a>
         </label>
         <label class="gallery__item" for="64">
             <a href="/sheet-flower-4944492" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944492_960_720.jpg" alt="flower, spring, purple"></a>
         </label>
         <label class="gallery__item" for="65">
             <a href="/sheet-flower-4944491" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/flower-4944491_960_720.jpg" alt="flower, spring, purple"></a>
         </label>
         <label class="gallery__item" for="66">
             <a href="/sheet-bee-4944489" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944489_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="67">
             <a href="/sheet-bee-4944487" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944487_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="68">
             <a href="/sheet-bee-4944486" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944486_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="69">
             <a href="/sheet-bee-4944485" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944485_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="70">
             <a href="/sheet-lizard-4941507" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/17/18/38/lizard-4941507_960_720.jpg" alt="lizard, nature, reptile"></a>
         </label>
         <label class="gallery__item" for="71">
             <a href="/sheet-moutain-4941509" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/17/18/38/moutain-4941509_960_720.jpg" alt="moutain, snow, alps"></a>
         </label>
         <label class="gallery__item" for="72">
             <a href="/sheet-moutain-4941506" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/17/18/37/moutain-4941506_960_720.jpg" alt="moutain, snow, alps"></a>
         </label>
         <label class="gallery__item" for="73">
             <a href="/sheet-lizard-4941501" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/17/18/36/lizard-4941501_960_720.jpg" alt="lizard, animal, nature"></a>
         </label>
         <label class="gallery__item" for="74">
             <a href="/sheet-bird-4930603" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/14/13/10/bird-4930603_960_720.jpg" alt="bird, robin, red"></a>
         </label>
         <label class="gallery__item" for="75">
             <a href="/sheet-tulip-4879970" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879970_960_720.jpg" alt="tulip, flower, orange"></a>
         </label>
         <label class="gallery__item" for="76">
             <a href="/sheet-tulip-4879969" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/25/20/14/tulip-4879969_960_720.jpg" alt="tulip, flower, orange"></a>
         </label>
         <label class="gallery__item" for="77">
             <a href="/sheet-goose-4873142" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/56/goose-4873142_960_720.jpg" alt="goose, nature, animal"></a>
         </label>
         <label class="gallery__item" for="78">
             <a href="/sheet-mushrooms-4873141" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/56/mushrooms-4873141_960_720.jpg" alt="mushrooms, wood, autumn"></a>
         </label>
         <label class="gallery__item" for="79">
             <a href="/sheet-versailles-4873133" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/50/versailles-4873133_960_720.jpg" alt="versailles, france, trianon"></a>
         </label>
         <label class="gallery__item" for="80">
             <a href="/sheet-duck-4873132" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/50/duck-4873132_960_720.jpg" alt="duck, animal, nature"></a>
         </label>
         <label class="gallery__item" for="81">
             <a href="/sheet-flowers-4873131" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/47/flowers-4873131_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="82">
             <a href="/sheet-flowers-4873128" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/46/flowers-4873128_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="83">
             <a href="/sheet-flowers-4873127" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/02/23/11/45/flowers-4873127_960_720.jpg" alt="flowers, blossom, cherry blossom"></a>
         </label>
         <label class="gallery__item" for="84">
             <a href="/sheet-cat-4774164" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/01/17/22/36/cat-4774164_960_720.jpg" alt="cat, face, ginger"></a>
         </label>
         <label class="gallery__item" for="85">
             <a href="/sheet-passionflower-4774160" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/01/17/22/34/passionflower-4774160_960_720.jpg" alt="passionflower, nature, geometric"></a>
         </label>
         <label class="gallery__item" for="86">
             <a href="/sheet-bird-4731870" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/31/13/01/bird-4731870_960_720.jpg" alt="bird, black, white"></a>
         </label>
         <label class="gallery__item" for="87">
             <a href="/sheet-sun-4731859" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/31/12/51/sun-4731859_960_720.jpg" alt="sun, sunset, nature"></a>
         </label>
         <label class="gallery__item" for="88">
             <a href="/sheet-moss-4693294" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/13/15/51/moss-4693294_960_720.jpg" alt="moss, mushroom, square picture"></a>
         </label>
         <label class="gallery__item" for="89">
             <a href="/sheet-mushrooms-4693269" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/13/15/45/mushrooms-4693269_960_720.jpg" alt="mushrooms, sun, forest"></a>
         </label>
         <label class="gallery__item" for="90">
             <a href="/sheet-mushroom-4693264" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/13/15/44/mushroom-4693264_960_720.jpg" alt="mushroom, sun, forest"></a>
         </label>
         <label class="gallery__item" for="91">
             <a href="/sheet-mushroom-4686877" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/10/20/47/mushroom-4686877_960_720.jpg" alt="mushroom, nature, moss"></a>
         </label>
         <label class="gallery__item" for="92">
             <a href="/sheet-hephaistos-temple-4673515" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/04/19/38/hephaistos-temple-4673515_960_720.jpg" alt="hephaistos temple, greece, athens"></a>
         </label>
         <label class="gallery__item" for="93">
             <a href="/sheet-nature-4673503" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/04/19/29/nature-4673503_960_720.jpg" alt="nature, wood, tree"></a>
         </label>
         <label class="gallery__item" for="94">
             <a href="/sheet-nature-4673499" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/04/19/27/nature-4673499_960_720.jpg" alt="nature, stoa of atallos, greece"></a>
         </label>
         <label class="gallery__item" for="95">
             <a href="/sheet-sun-4673483" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/04/19/18/sun-4673483_960_720.jpg" alt="sun, parakeet, bird"></a>
         </label>
         <label class="gallery__item" for="96">
             <a href="/sheet-mushroom-4673410" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/12/04/18/55/mushroom-4673410_960_720.jpg" alt="mushroom, nature, autumn"></a>
         </label>
         <label class="gallery__item" for="97">
             <a href="/sheet-cat-4663020" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/30/10/55/cat-4663020_960_720.jpg" alt="cat, sun, tranquility"></a>
         </label>
         <label class="gallery__item" for="98">
             <a href="/sheet-mushrooms-4663017" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/30/10/54/mushrooms-4663017_960_720.jpg" alt="mushrooms, tree, wood"></a>
         </label>
         <label class="gallery__item" for="99">
             <a href="/sheet-cat-4662991" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/30/10/40/cat-4662991_960_720.jpg" alt="cat, sun, animal"></a>
         </label>
         <label class="gallery__item" for="100">
             <a href="/sheet-parakeet-4662983" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/30/10/38/parakeet-4662983_960_720.jpg" alt="parakeet, bird, animal"></a>
         </label>
         <label class="gallery__item" for="101">
             <a href="/sheet-mushroom-4662970" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/30/10/33/mushroom-4662970_960_720.jpg" alt="mushroom, nature, white"></a>
         </label>
         <label class="gallery__item" for="102">
             <a href="/sheet-mushrooms-4655480" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/42/mushrooms-4655480_960_720.jpg" alt="mushrooms, woods, wood"></a>
         </label>
         <label class="gallery__item" for="103">
             <a href="/sheet-mushroom-4655479" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/41/mushroom-4655479_960_720.jpg" alt="mushroom, nature, forest"></a>
         </label>
         <label class="gallery__item" for="104">
             <a href="/sheet-mushroom-4655468" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/40/mushroom-4655468_960_720.jpg" alt="mushroom, wood, nature"></a>
         </label>
         <label class="gallery__item" for="105">
             <a href="/sheet-mushroom-4655464" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/38/mushroom-4655464_960_720.jpg" alt="mushroom, nature, forest"></a>
         </label>
         <label class="gallery__item" for="106">
             <a href="/sheet-mushroom-4655463" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/38/mushroom-4655463_960_720.jpg" alt="mushroom, nature, forest"></a>
         </label>
         <label class="gallery__item" for="107">
             <a href="/sheet-marigolds-4655449" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/33/marigolds-4655449_960_720.jpg" alt="marigolds, flower, marigold"></a>
         </label>
         <label class="gallery__item" for="108">
             <a href="/sheet-marigold-4655440" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/27/marigold-4655440_960_720.jpg" alt="marigold, nature, flower"></a>
         </label>
         <label class="gallery__item" for="109">
             <a href="/sheet-mushroom-4655434" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/23/mushroom-4655434_960_720.jpg" alt="mushroom, forest, nature"></a>
         </label>
         <label class="gallery__item" for="110">
             <a href="/sheet-mushroom-4655429" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/19/mushroom-4655429_960_720.jpg" alt="mushroom, chanterelle, chanterelles"></a>
         </label>
         <label class="gallery__item" for="111">
             <a href="/sheet-mushroom-4655423" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2019/11/26/20/11/mushroom-4655423_960_720.jpg" alt="mushroom, forest, nature"></a>
         </label>
    </div> <!-- End div classe gallery -->
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
