<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_picture1.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">

    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Les photos sont faites pour être partagées.</h2>
                    Toutes les photos sont téléchargeables gratuitement en allant directement sur ma page
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> où vous pouvez sélectionner la taille de la photo que vous souhaitez télécharger.<br>
                    Les photos de ma page PIXABAY ne sont pas toutes présentes sur le site.
                </div>
            </div>
    </header>
    
    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h2>Pictures exist to be shared.</h2>
                    All pictures are downloadable for free by going to my
                    <a href="https://pixabay.com/users/sinason-14315822/">Pixabay</a> profile where you can select the size of the picture you want to download.<br>
                    Some of my pictures present on PIXABAY are not on the website. 
                </div>
            </div>
    </header>
    
    <br>
    <br>
    
<!--     <button>Default Button</button> -->
    
    <center>
    <a href="/galerie_pictures" class="button button10">All</a>
    <a href="/galerie_pictures-insects" class="button button10">Insects</a>
    <a href="/galerie_pictures-living" class="button button10">Living</a>
    <a href="/galerie_pictures-giverny" class="button button10">Giverny</a>
    <a href="/galerie_pictures-mountain" class="button button10">Moutains</a>
    <a href="/galerie_pictures-flower" class="button button10">Flowers</a>
    </center>
  
    <br>
    <br>
   
    <!-- start autogenerated by autogenerated.pl -->
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="24"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="25"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="26"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="27"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-dragonfly-5478163" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/08/10/15/35/dragonfly-5478163_960_720.jpg" alt="dragonfly, insect, bug"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-dragonfly-5478119" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/08/10/15/19/dragonfly-5478119_960_720.jpg" alt="dragonfly, insect, bug"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-butterfly-5478069" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/08/10/15/03/butterfly-5478069_960_720.jpg" alt="butterfly, animal, insect"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-dragonfly-5417259" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/18/13/52/dragonfly-5417259_960_720.jpg" alt="dragonfly, wings, insect"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-dragonfly-5417246" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/18/13/46/dragonfly-5417246_960_720.jpg" alt="dragonfly, bamboo, wings"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-dragonfly-5405023" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/14/17/25/dragonfly-5405023_960_720.jpg" alt="dragonfly, insect, nature"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-dragonfly-5405011" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/07/14/17/23/dragonfly-5405011_960_720.jpg" alt="dragonfly, insect, blue"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-dragonflies-5322357" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/15/dragonflies-5322357_960_720.jpg" alt="dragonflies, couple, insect"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-butterfly-5322362" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/16/butterfly-5322362_960_720.jpg" alt="butterfly, nature, zoom"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-butterfly-5322360" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/20/20/15/butterfly-5322360_960_720.jpg" alt="butterfly, nature, zoom"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-ladybug-5271680" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/02/ladybug-5271680_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-ladybug-5271700" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/07/ladybug-5271700_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-ladybug-5271677" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/06/07/19/01/ladybug-5271677_960_720.jpg" alt="ladybug, red, insect"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-bee-5202249" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/21/19/22/bee-5202249_960_720.jpg" alt="bee, flower, insect"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-dragonfly-5178614" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/16/18/24/dragonfly-5178614_960_720.jpg" alt="dragonfly, red, insect"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-dragonfly-5178588" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/16/18/17/dragonfly-5178588_960_720.jpg" alt="dragonfly, red, insect"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-beetle-5146668" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/33/beetle-5146668_960_720.jpg" alt="beetle, rose chafer, cetonia aurata"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-beetle-5146607" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/20/beetle-5146607_960_720.jpg" alt="beetle, nature, black"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-beetle-5146626" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/08/17/22/beetle-5146626_960_720.jpg" alt="beetle, rose chafer, cetonia aurata"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-grasshopper-5117767" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/43/grasshopper-5117767_960_720.jpg" alt="grasshopper, insect, flower"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-ladybug-5117757" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/05/01/15/41/ladybug-5117757_960_720.jpg" alt="ladybug, nature, insect"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-butterfly-4951310" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951310_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-butterfly-4951309" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/10/butterfly-4951309_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-butterfly-4951289" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/20/17/07/butterfly-4951289_960_720.jpg" alt="butterfly, animal, wings"></a>
         </label>
         <label class="gallery__item" for="24">
             <a href="/sheet-bee-4944489" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944489_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="25">
             <a href="/sheet-bee-4944487" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/37/bee-4944487_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="26">
             <a href="/sheet-bee-4944486" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944486_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
         <label class="gallery__item" for="27">
             <a href="/sheet-bee-4944485" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://cdn.pixabay.com/photo/2020/03/18/15/36/bee-4944485_960_720.jpg" alt="bee, animal, flower"></a>
         </label>
    </div> <!-- End div classe gallery -->
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- div footer -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
