<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_paintings1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-peinture-Quick-drawing-04-08-2020-850975184" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de2ncnk-5f95de41-6c33-410f-b3f3-f59ea513ee79.jpg/v1/fit/w_300,h_900,q_70,strp/quick_drawing_04_08_2020_by_archiwyzard_de2ncnk-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg3NyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGUybmNuay01Zjk1ZGU0MS02YzMzLTQxMGYtYjNmMy1mNTllYTUxM2VlNzkuanBnIiwid2lkdGgiOiI8PTE4NzcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9uuympMN7h1TE-LDkUcdC2we2JTOefKfukw79aB7yBE" alt="Quick drawing 04/08/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-peinture-Bird-sketching-849966779" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de21qkb-8cb805ac-600f-468d-8245-598eb44dba19.jpg/v1/fit/w_300,h_900,q_70,strp/bird_sketching_by_archiwyzard_de21qkb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcyNSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGUyMXFrYi04Y2I4MDVhYy02MDBmLTQ2OGQtODI0NS01OThlYjQ0ZGJhMTkuanBnIiwid2lkdGgiOiI8PTE3MjUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LC_7LWjyvR53zk3C2HMRxBU2cmuyOTq3cy71WJuj7Lc" alt="Bird sketching drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-peinture-Monet-house-at-giverny-849249661" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de1md8d-db3c9caf-dea8-416a-8659-9782a2a7f3a3.jpg/v1/fit/w_300,h_900,q_70,strp/monet_house_at_giverny_by_archiwyzard_de1md8d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjEyOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGUxbWQ4ZC1kYjNjOWNhZi1kZWE4LTQxNmEtODY1OS05NzgyYTJhN2YzYTMuanBnIiwid2lkdGgiOiI8PTI3NzIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.k3xduCD05fPt0oQgPtQFOV_DV08SsRRTpQ_xCWwannA" alt="Monet house at giverny drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-peinture-Chardonneret-elegant-846873740" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/de07fyk-04097cd6-50a2-4ee5-8f6e-1e10ca065398.jpg/v1/fit/w_300,h_900,q_70,strp/chardonneret_elegant_by_archiwyzard_de07fyk-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTY5OCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGUwN2Z5ay0wNDA5N2NkNi01MGEyLTRlZTUtOGY2ZS0xZTEwY2EwNjUzOTguanBnIiwid2lkdGgiOiI8PTIwNDYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.tVwDWv0GAUr3_4IRiBis7lYq4yBWfNKa75WjGSagAk8" alt="Chardonneret elegant drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-peinture-Daily-drawing-20-06-2020-846231106" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddzto3m-6f41091a-41ec-4260-9563-1e92ec436a0e.jpg/v1/fit/w_300,h_900,q_70,strp/daily_drawing_20_06_2020_by_archiwyzard_ddzto3m-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc5OCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR6dG8zbS02ZjQxMDkxYS00MWVjLTQyNjAtOTU2My0xZTkyZWM0MzZhMGUuanBnIiwid2lkdGgiOiI8PTE3OTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.h4yZx7zbJrL75DB4s_lt2KusbnTHqrNTwhjKpNITMRs" alt="Daily drawing 20/06/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-peinture-Magpie-845445055" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddzctkv-4ac3d08f-b66f-4473-ae17-c33df1d5825f.jpg/v1/fit/w_300,h_900,q_70,strp/magpie_by_archiwyzard_ddzctkv-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc2MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR6Y3Rrdi00YWMzZDA4Zi1iNjZmLTQ0NzMtYWUxNy1jMzNkZjFkNTgyNWYuanBnIiwid2lkdGgiOiI8PTE4NDcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9DRY2e9mfL1YvBKR1FPXW70mpkgxk3MmbhY9rglcmDM" alt="Magpie drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-peinture-Daily-drawing-13-06-2020-845338547" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddzajeb-e21106b5-8261-4ac4-b791-1dcfd04af3c8.jpg/v1/fit/w_300,h_900,q_70,strp/daily_drawing_13_06_2020_by_archiwyzard_ddzajeb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg5MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR6YWplYi1lMjExMDZiNS04MjYxLTRhYzQtYjc5MS0xZGNmZDA0YWYzYzguanBnIiwid2lkdGgiOiI8PTE4OTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.hPj0D71udQ-az0HN95jgM21ZazcQk7ywiTMV53POY6Q" alt="Daily drawing 13/06/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-peinture-Mesange-charbonniere-845056053" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddz4hf9-6d68db61-b8a7-4ae4-b795-dc7a7471d94d.jpg/v1/fit/w_300,h_900,q_70,strp/mesange_charbonniere_by_archiwyzard_ddz4hf9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE3NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR6NGhmOS02ZDY4ZGI2MS1iOGE3LTRhZTQtYjc5NS1kYzdhNzQ3MWQ5NGQuanBnIiwid2lkdGgiOiI8PTIxNzUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.rT9FjngPCwkgv0zT6-vBXoNgIpUl-gzQ1CgvCzuHNnA" alt="Mesange charbonniere drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-peinture-Sparrow-844678551" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddywe53-46f4e436-233c-4d3e-b072-c62f3ad52361.jpg/v1/fit/w_300,h_900,q_70,strp/sparrow__by_archiwyzard_ddywe53-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ3OCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR5d2U1My00NmY0ZTQzNi0yMzNjLTRkM2UtYjA3Mi1jNjJmM2FkNTIzNjEuanBnIiwid2lkdGgiOiI8PTE5MTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.VIXD-Gfs6ywOm8cXKW_d3CYz6Cb6uLQnxAylAsyq-Vo" alt="Sparrow  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-peinture-le-penseur-843121587" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddxz0s3-427db158-ac5b-4ee7-af33-e0654ff0f9d3.jpg/v1/fit/w_300,h_900,q_70,strp/le_penseur__by_archiwyzard_ddxz0s3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjIxNiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR4ejBzMy00MjdkYjE1OC1hYzViLTRlZTctYWYzMy1lMDY1NGZmMGY5ZDMuanBnIiwid2lkdGgiOiI8PTE3NzMifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.JC8W86p9moasWzj5l3kWLJhsbDBG--u8JKbX-WqczC0" alt="le penseur  drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-peinture-Marc-Aurle-842977554" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddxvxn6-57bedb8f-de59-45bb-8855-84ce270b2be0.jpg/v1/fit/w_300,h_900,q_70,strp/marc_aurle_by_archiwyzard_ddxvxn6-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjIwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR4dnhuNi01N2JlZGI4Zi1kZTU5LTQ1YmItODg1NS04NGNlMjcwYjJiZTAuanBnIiwid2lkdGgiOiI8PTE3NjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LHrAMbxPU0Ykdo5A-X4p1LUcf237jnZm6Mf7coc_f48" alt="Marc Aurle drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-peinture-psyche-ranime-par-l-amour-842730945" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddxqncx-b26fef3b-f6e0-4e43-a9fd-5025aee2be71.jpg/v1/fit/w_300,h_900,q_70,strp/psyche_ranime_par_l_amour_by_archiwyzard_ddxqncx-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTgwMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR4cW5jeC1iMjZmZWYzYi1mNmUwLTRlNDMtYTlmZC01MDI1YWVlMmJlNzEuanBnIiwid2lkdGgiOiI8PTE4MzAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Op7DfGMPizwMVl07xWPOM4-05pSbRMbB3XENQVOcjVc" alt="psyche ranime par l'amour drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-peinture-Chardonneret-lgant-842142743" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddxe1hz-c8d11075-beba-45bc-bd21-c29adca10975.jpg/v1/fit/w_300,h_900,q_70,strp/chardonneret_lgant_by_archiwyzard_ddxe1hz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4NCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR4ZTFoei1jOGQxMTA3NS1iZWJhLTQ1YmMtYmQyMS1jMjlhZGNhMTA5NzUuanBnIiwid2lkdGgiOiI8PTE2MjMifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.kt_27eqz1Gf6Hepw1Ma2jIvTm6FS919jFyoIST2XiT4" alt="Chardonneret lgant drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-peinture-Daily-Watercolor-18-04-2020-838359653" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddv4yg5-ee0ab84a-019f-41ce-8dfb-6227e55589e4.jpg/v1/fit/w_300,h_900,q_70,strp/daily_watercolor_18_04_2020_by_archiwyzard_ddv4yg5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ1OCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR2NHlnNS1lZTBhYjg0YS0wMTlmLTQxY2UtOGRmYi02MjI3ZTU1NTg5ZTQuanBnIiwid2lkdGgiOiI8PTE0NTgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.OMXh-MNKJfqyDsjU9fP6NJWRJ_tS6-p35vDaHiGgKJw" alt="Daily Watercolor 18/04/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-peinture-Saint-Paul-Cathedral-London-837982618" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dduwviy-c69e9d81-d458-4e4e-974e-7fa2e3411154.jpg/v1/fit/w_300,h_900,q_70,strp/saint_paul_cathedral__london_by_archiwyzard_dduwviy-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTc2NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR1d3ZpeS1jNjllOWQ4MS1kNDU4LTRlNGUtOTc0ZS03ZmEyZTM0MTExNTQuanBnIiwid2lkdGgiOiI8PTI1NzkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ykA8SeVpTQ9s-e27u6h0-9U78cuGSttqAL2eZp3WIrM" alt="Saint Paul Cathedral, London drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-peinture-Auray-Morbihan-France-837844137" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddutwo9-3ee180a5-22ec-48f6-ae40-6ba24186e560.jpg/v1/fit/w_300,h_900,q_70,strp/auray__morbihan__france_by_archiwyzard_ddutwo9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI0NCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR1dHdvOS0zZWUxODBhNS0yMmVjLTQ4ZjYtYWU0MC02YmEyNDE4NmU1NjAuanBnIiwid2lkdGgiOiI8PTE4NDIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.J6nrBVXMSoOMr9N4WWJnY_mkPSzDTjSADM8RF2EJ1ig" alt="Auray, Morbihan, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-peinture-Le-hameau-de-la-reine-Versailles-837584847" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dduoclr-5fc338cc-4ca7-48fa-acfe-1cbff3a7ed34.jpg/v1/fit/w_300,h_900,q_70,strp/le_hameau_de_la_reine__versailles_by_archiwyzard_dduoclr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTk4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZHVvY2xyLTVmYzMzOGNjLTRjYTctNDhmYS1hY2ZlLTFjYmZmM2E3ZWQzNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zw-YH1iLTd04JNeEYLYIHtPBvlYT1UhxRaMYua4GSKI" alt="Le hameau de la reine, Versailles drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-peinture-Two-friends-06-04-2020-836765327" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddu6s9b-394cfa8a-e371-405e-9e10-1471af494747.jpg/v1/fit/w_300,h_900,q_70,strp/two_friends_06_04_2020_by_archiwyzard_ddu6s9b-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM3NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR1NnM5Yi0zOTRjZmE4YS1lMzcxLTQwNWUtOWUxMC0xNDcxYWY0OTQ3NDcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LvRaXo4vj1nMOzebdOvngsJG4L7x0kQDU1m1l3sfa-4" alt="Two friends 06/04/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-peinture-Heron-05-04-2020-836619270" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddu3nk6-b431e9e9-34a3-479a-8bae-2c1c28283f6d.jpg/v1/fit/w_300,h_900,q_70,strp/heron_05_04_2020_by_archiwyzard_ddu3nk6-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR1M25rNi1iNDMxZTllOS0zNGEzLTQ3OWEtOGJhZS0yYzFjMjgyODNmNmQuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Ep3WSA8PkVNuYk1Dz76aGWS2zBk_4x7F8hJ3npwuqg0" alt="Heron 05/04/2020 drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-peinture-Plaisir-castle-Yvelines-France-836353923" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddtxytf-d85b88d0-5fb1-43ea-9167-4750810f0f57.jpg/v1/fit/w_300,h_900,q_70,strp/plaisir_castle__yvelines__france_by_archiwyzard_ddtxytf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTc0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZHR4eXRmLWQ4NWI4OGQwLTVmYjEtNDNlYS05MTY3LTQ3NTA4MTBmMGY1Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.c4BDKUkWByBrC9n8CKdr4F41Jwb04C5zhqxgW17rerw" alt="Plaisir castle, Yvelines, France drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-peinture-flower-study-835915117" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddtok8d-4e7b86ee-754c-4700-a0ba-4246838c828f.jpg/v1/fit/w_300,h_900,q_70,strp/flower_study_by_archiwyzard_ddtok8d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTk0OCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGR0b2s4ZC00ZTdiODZlZS03NTRjLTQ3MDAtYTBiYS00MjQ2ODM4YzgyOGYuanBnIiwid2lkdGgiOiI8PTI2MTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.qgcEt2T2Tv8y6Tyd5nu29YT2jpcn_-z3oIMn00DURJw" alt="flower study drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-peinture-Kemarikos-835481690" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddtf9sq-d81e4ecb-0678-49ae-a984-c3a0d47e5305.jpg/v1/fit/w_300,h_809,q_70,strp/kemarikos_by_archiwyzard_ddtf9sq-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODA5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZHRmOXNxLWQ4MWU0ZWNiLTA2NzgtNDlhZS1hOTg0LWMzYTBkNDdlNTMwNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.te8vCdORvQA5Q_Wqvz7Db4yjZ_Ikdc1Bh3ad3SLEZoI" alt="Kemarikos drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-peinture-The-Temple-of-Hephaestus-835096761" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddt70s9-1ddc4293-2c21-4dcd-90b8-a61a0ca85a06.jpg/v1/fit/w_300,h_856,q_70,strp/the_temple_of_hephaestus_by_archiwyzard_ddt70s9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZHQ3MHM5LTFkZGM0MjkzLTJjMjEtNGRjZC05MGI4LWE2MWEwY2E4NWEwNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8XdjbTMoToZxHhUVPyo0-RDl-AoOC83jZrkgEctMxS4" alt="The Temple of Hephaestus drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-peinture-Cariatides-834873723" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddt28or-a8dd3d92-c299-43a4-bbf6-ff556b44ebd4.jpg/v1/fit/w_300,h_797,q_70,strp/cariatides_by_archiwyzard_ddt28or-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzk3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZHQyOG9yLWE4ZGQzZDkyLWMyOTktNDNhNC1iYmY2LWZmNTU2YjQ0ZWJkNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.xs0iaxFIXgMMG6ywEd1GYOuEKrKJvH9ZiG95wzZCcak" alt="Cariatides drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
