<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery_paintings1.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
     <input class="gallery__select"  type="radio" name="autogenerated" id="0"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="1"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="2"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="3"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="4"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="5"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="6"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="7"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="8"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="9"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="10"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="11"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="12"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="13"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="14"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="15"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="16"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="17"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="18"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="19"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="20"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="21"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="22"/>
     <input class="gallery__select"  type="radio" name="autogenerated" id="23"/>


    <div class="gallery">
         <label class="gallery__item" for="0">
             <a href="/sheet-Swallow-741462609" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc9g47l-1cf3673e-2096-4dba-b7a8-50e41237e958.jpg/v1/fit/w_300,h_900,q_70,strp/swallow_by_archiwyzard_dc9g47l-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTE4NSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGM5ZzQ3bC0xY2YzNjczZS0yMDk2LTRkYmEtYjdhOC01MGU0MTIzN2U5NTguanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.e4bJX3nY5z_UoPwLuyrKiTOJWdgSQF7cMpP3NNMN-tU" alt="Swallow drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="1">
             <a href="/sheet-Swallows-740545449" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc8wgix-a0f3ab3c-d2e4-45f4-8675-eaf6d8cae3f6.jpg/v1/fit/w_300,h_900,q_70,strp/swallows_by_archiwyzard_dc8wgix-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI1OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGM4d2dpeC1hMGYzYWIzYy1kMmU0LTQ1ZjQtODY3NS1lYWY2ZDhjYWUzZjYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.d0va9rZKtD_US9AMIQCgirirWa_ZWc3RmdyE226PcoU" alt="Swallows drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="2">
             <a href="/sheet-Tit-study-740368471" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc8snyv-aaf73aa9-3bf9-4990-a8ac-e841f2dbdd9c.jpg/v1/fit/w_300,h_694,q_70,strp/tit_study_by_archiwyzard_dc8snyv-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Njk0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzhzbnl2LWFhZjczYWE5LTNiZjktNDk5MC1hOGFjLWU4NDFmMmRiZGQ5Yy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NdVGv37da0PYrNcpe68V0Pq4rfMiLH0wJ6ieNu62HDk" alt="Tit study drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="3">
             <a href="/sheet-Fluffy-bird-740081233" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc8mic1-fbf15d91-ff17-4e94-a2b5-6cafe357c773.jpg/v1/fit/w_300,h_630,q_70,strp/fluffy_bird_by_archiwyzard_dc8mic1-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjMwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzhtaWMxLWZiZjE1ZDkxLWZmMTctNGU5NC1hMmI1LTZjYWZlMzU3Yzc3My5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.MVHV3pF-bLP-KLvdmPh2Cppt2RWhTIaz63jm36PlMM0" alt="Fluffy bird drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="4">
             <a href="/sheet-work-in-progress-739944984" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc8jl7c-b073a98b-7d77-4d50-a8fb-ab278c691394.jpg/v1/fit/w_300,h_748,q_70,strp/work_in_progress_by_archiwyzard_dc8jl7c-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzQ4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzhqbDdjLWIwNzNhOThiLTdkNzctNGQ1MC1hOGZiLWFiMjc4YzY5MTM5NC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FacGAHmV4a0yjZr-WbV_tMAI92QEvuB3gtlL_9mmSI4" alt="work in progress drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="5">
             <a href="/sheet-Blue-Jay-739471347" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc89fqr-364664f8-b0fb-4eda-b04e-737abba74aa2.jpg/v1/fit/w_300,h_900,q_70,strp/blue_jay_by_archiwyzard_dc89fqr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI1OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGM4OWZxci0zNjQ2NjRmOC1iMGZiLTRlZGEtYjA0ZS03MzdhYmJhNzRhYTIuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.e2647WcytpNCQaPawMLtkofOOiH5CuABTHS_IG0Iufs" alt="Blue Jay drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="6">
             <a href="/sheet-Work-in-progress-739457623" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc8955j-294198c3-8467-408c-83f9-d5b33f176a54.jpg/v1/fit/w_300,h_576,q_70,strp/work_in_progress_by_archiwyzard_dc8955j-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzg5NTVqLTI5NDE5OGMzLTg0NjctNDA4Yy04M2Y5LWQ1YjMzZjE3NmE1NC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.QUZ5MY78a8qcjG4fL4RXF-kaQpQsKkFpIDjAnxLiT0o" alt="Work in progress drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="7">
             <a href="/sheet-tit-739296431" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc85orz-3ea85fd9-2167-494d-9f2f-1905a853ac9b.jpg/v1/fit/w_300,h_900,q_70,strp/tit_by_archiwyzard_dc85orz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUyMiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGM4NW9yei0zZWE4NWZkOS0yMTY3LTQ5NGQtOWYyZi0xOTA1YTg1M2FjOWIuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.zmx96VF0l8s1h3ukhgRVtp-wCWCQueldGbANyhtHSxc" alt="tit drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="8">
             <a href="/sheet-Bird-on-a-branch-738499550" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc7olwe-e73c1703-1725-4046-b9a7-464dbc153fc5.jpg/v1/fit/w_300,h_849,q_70,strp/bird_on_a_branch_by_archiwyzard_dc7olwe-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODQ5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzdvbHdlLWU3M2MxNzAzLTE3MjUtNDA0Ni1iOWE3LTQ2NGRiYzE1M2ZjNS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.tCZIJgTVJtVJ0r0hNdtOJrTBnnpDAfCgHUkBXTW1VnY" alt="Bird on a branch drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="9">
             <a href="/sheet-Chardonneret-on-a-tree-738328488" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc7kxwo-0e492c59-90a0-4306-b779-4ba634e08bd2.jpg/v1/fit/w_300,h_695,q_70,strp/chardonneret_on_a_tree_by_archiwyzard_dc7kxwo-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Njk1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzdreHdvLTBlNDkyYzU5LTkwYTAtNDMwNi1iNzc5LTRiYTYzNGUwOGJkMi5qcGciLCJ3aWR0aCI6Ijw9MTAyMyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.QYsUWBPJ99SFbR7EmcnWWAEYJ4w8kynejsqmNI3nRog" alt="Chardonneret on a tree drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="10">
             <a href="/sheet-Darksoul-doodle-737179686" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc6wbhi-a3fd7d64-a8dd-490a-b350-e9042c162878.jpg/v1/fit/w_300,h_900,q_70,strp/darksoul_doodle_by_archiwyzard_dc6wbhi-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTM0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzZ3YmhpLWEzZmQ3ZDY0LWE4ZGQtNDkwYS1iMzUwLWU5MDQyYzE2Mjg3OC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WMD7W1dXCeal6UPUIG7exInkeBTcyOrdG0R3U_DmYtE" alt="Darksoul doodle drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="11">
             <a href="/sheet-Cherry-Blossom-730381428" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc2ulx0-ecad8c1e-1b70-46ed-949b-e75cc067f873.jpg/v1/fit/w_300,h_576,q_70,strp/cherry_blossom_by_archiwyzard_dc2ulx0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzJ1bHgwLWVjYWQ4YzFlLTFiNzAtNDZlZC05NDliLWU3NWNjMDY3Zjg3My5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lep-p6Tenwj8tQ2eh0RrWMQbceoL-V5OZPtlEaXvUyw" alt="Cherry Blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="12">
             <a href="/sheet-The-call-of-Cthulhu-728012135" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc1ftrb-ce84b1d4-fb77-4f4e-8746-94cb545f5700.jpg/v1/fit/w_300,h_900,q_70,strp/the_call_of_cthulhu_by_archiwyzard_dc1ftrb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTMxMSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGMxZnRyYi1jZTg0YjFkNC1mYjc3LTRmNGUtODc0Ni05NGNiNTQ1ZjU3MDAuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ZMdttgOb2bKSldEhQ4k_tALtlZM3OyPn8Hp_2y_wEnU" alt="The call of Cthulhu drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="13">
             <a href="/sheet-Red-rose-727466916" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dc1452c-dc077087-ada6-461b-8eb7-81f979a1736a.jpg/v1/fit/w_300,h_764,q_70,strp/red_rose_by_archiwyzard_dc1452c-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYzE0NTJjLWRjMDc3MDg3LWFkYTYtNDYxYi04ZWI3LTgxZjk3OWExNzM2YS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lxlXIA134kz7Cp-NX-3hemEOiIlEpkdSgjBckJXPzoI" alt="Red rose drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="14">
             <a href="/sheet-houx-722093853" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbxwz6l-5a8ace47-2399-491d-ac5b-e1c5867b7c1c.jpg/v1/fit/w_300,h_900,q_70,strp/houx_by_archiwyzard_dbxwz6l-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTU2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnh3ejZsLTVhOGFjZTQ3LTIzOTktNDkxZC1hYzViLWUxYzU4NjdiN2MxYy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-ggWY5vB1DCNrUsz5xLr01Pl2X3l9e0Q1AFSIY0535E" alt="houx drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="15">
             <a href="/sheet-Cherry-blossom-722032768" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbxvo1s-bdc7cf67-48dd-4d82-9aa0-48eed8b35080.jpg/v1/fit/w_300,h_602,q_70,strp/cherry_blossom_by_archiwyzard_dbxvo1s-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnh2bzFzLWJkYzdjZjY3LTQ4ZGQtNGQ4Mi05YWEwLTQ4ZWVkOGIzNTA4MC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Hg1nM_QiLPjXMhIH47X9htE9Ajerz0yEHfSegFZwnoI" alt="Cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="16">
             <a href="/sheet-White-rose-721911910" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbxt2sm-7b295871-a4c4-434e-aa85-1cee0287bd9a.jpg/v1/fit/w_300,h_840,q_70,strp/white_rose_by_archiwyzard_dbxt2sm-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODQwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnh0MnNtLTdiMjk1ODcxLWE0YzQtNDM0ZS1hYTg1LTFjZWUwMjg3YmQ5YS5qcGciLCJ3aWR0aCI6Ijw9MTAyMyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.yHlp9LhkoKnwR2mC63VSifJzESfmfjZDSKtVrcLSXRY" alt="White rose drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="17">
             <a href="/sheet-Onion-721376026" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbxhlay-d408e78a-9bb2-4a91-b55e-37ac16d481ad.jpg/v1/fit/w_300,h_782,q_70,strp/onion_by_archiwyzard_dbxhlay-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzgyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnhobGF5LWQ0MDhlNzhhLTliYjItNGE5MS1iNTVlLTM3YWMxNmQ0ODFhZC5qcGciLCJ3aWR0aCI6Ijw9MTAyMyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.L1SjromCiNYgsdPybhYMKGKKwutK4Mk2bsTTebzLaCQ" alt="Onion drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="18">
             <a href="/sheet-Health-potion-717259727" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbv1d5b-a245fbfd-2616-4e51-86f2-429b5e35c0ad.jpg/v1/fit/w_300,h_900,q_70,strp/health_potion_by_archiwyzard_dbv1d5b-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTMwMiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGJ2MWQ1Yi1hMjQ1ZmJmZC0yNjE2LTRlNTEtODZmMi00MjliNWUzNWMwYWQuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.jzJxoLefIKrvmMkB4vadBiSWFuv0oraB-iTksSpWD0w" alt="Health potion drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="19">
             <a href="/sheet-clementines-717246925" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbv139p-9762e721-9631-4cf0-9448-13b242fb13ca.jpg/v1/fit/w_300,h_577,q_70,strp/clementines_by_archiwyzard_dbv139p-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnYxMzlwLTk3NjJlNzIxLTk2MzEtNGNmMC05NDQ4LTEzYjI0MmZiMTNjYS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DFnU8nz5yDZyIWCCG6lVX8pzaUlj8Fh_7a1YJ58wsR0" alt="clementines drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="20">
             <a href="/sheet-cherry-blossom-716905328" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbutrow-186b346f-f301-4e03-9457-1e42b9a8cbf1.jpg/v1/fit/w_300,h_878,q_70,strp/cherry_blossom_by_archiwyzard_dbutrow-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODc4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnV0cm93LTE4NmIzNDZmLWYzMDEtNGUwMy05NDU3LTFlNDJiOWE4Y2JmMS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.79Fo6QKOWOwB59Nrq2vP7o0kYr3MEk6Mjwtjdg7QceA" alt="cherry blossom drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="21">
             <a href="/sheet-Tree-cutting-714087301" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbt5dad-b4b0f236-4061-4b4f-91f1-c19c30218074.jpg/v1/fit/w_300,h_667,q_70,strp/tree_cutting_by_archiwyzard_dbt5dad-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjY3IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnQ1ZGFkLWI0YjBmMjM2LTQwNjEtNGI0Zi05MWYxLWMxOWMzMDIxODA3NC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DxWX1VfJjv9Ep5oVbGu7mV2dxdG0-3rQmY00U33disg" alt="Tree cutting drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="22">
             <a href="/sheet-Pear-tree-flowers-712274680" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbs2ins-9df010b9-2fcc-4772-9c59-bd22ebb3607b.jpg/v1/fit/w_300,h_745,q_70,strp/pear_tree_flowers_by_archiwyzard_dbs2ins-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzQ1IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kYnMyaW5zLTlkZjAxMGI5LTJmY2MtNDc3Mi05YzU5LWJkMjJlYmIzNjA3Yi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.m7sgw62yNYacjhlX5azvSfvHB3yXCT_qv5L15DpY5-4" alt="Pear tree flowers drawing deviantart archiwyzard"></a>
         </label>
         <label class="gallery__item" for="23">
             <a href="/sheet-Bee-working-712152699" target="_blank">
             <img class="cover" height=100% width=100% min-height="50px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dbrzwjf-8aaf8c61-16b2-4ad6-9844-3d24f7d2f519.jpg/v1/fit/w_300,h_900,q_70,strp/bee_working_by_archiwyzard_dbrzwjf-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGJyendqZi04YWFmOGM2MS0xNmIyLTRhZDYtOTg0NC0zZDI0ZjdkMmY1MTkuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.zGz-3lhMGiY9xsFwk69sMxBMw4Hp_cKliRN99ShRnn8" alt="Bee working drawing deviantart archiwyzard"></a>
         </label>
    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/galerie_peinture" class="buttonPage">1</a>
    <a href="/galerie_peinture-page1" class="buttonPage">2</a>
    <a href="/galerie_peinture-page2" class="buttonPage">3</a>
    <a href="/galerie_peinture-page3" class="buttonPage">4</a>
    <a href="/galerie_peinture-page4" class="buttonPage">5</a>
    <a href="/galerie_peinture-page5" class="buttonPage">6</a>
    <a href="/galerie_peinture-page6" class="buttonPage">7</a>
    <a href="/galerie_peinture-page7" class="buttonPage">8</a>
    <a href="/galerie_peinture-page8" class="buttonPage">9</a>
    <a href="/galerie_peinture-page9" class="buttonPage">10</a>
    <a href="/galerie_peinture-page10" class="buttonPage">11</a>
    <a href="/galerie_peinture-page11" class="buttonPage">12</a>
    <a href="/galerie_peinture-page12" class="buttonPage">13</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
