<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_paintings">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/gallery_pictures" class="buttonPage">1</a>
    <a href="/gallery_pictures-page1" class="buttonPage">2</a>
    <a href="/gallery_pictures-page2" class="buttonPage">3</a>
    <a href="/gallery_pictures-page3" class="buttonPage">4</a>
    <a href="/gallery_pictures-page4" class="buttonPage">5</a>
    <a href="/gallery_pictures-page5" class="buttonPage">6</a>
    <a href="/gallery_pictures-page6" class="buttonPage">7</a>
    <a href="/gallery_pictures-page7" class="buttonPage">8</a>
    </p>


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <div class="gallery">
		<div class="gallery__column">
			<a href="/sheet-pictures-Mushroom-on-bark-890586180" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8cp0-ff463e37-7720-4b96-9192-de3b039e84ed.jpg/v1/fit/w_300,h_900,q_70,strp/mushroom_on_bark_by_sinason_deq8cp0-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGNwMC1mZjQ2M2UzNy03NzIwLTRiOTYtOTE5Mi1kZTNiMDM5ZTg0ZWQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.CUo8148YvyNHpztL0IKxZ4Au-Tc3U2U-t4XQsxnhXvo" alt="Mushroom on bark photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom on bark photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Chanterelles-Mushrooms-890584872" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8boo-46c972ee-2701-4b0d-a817-fc78ff76829a.jpg/v1/fit/w_300,h_854,q_70,strp/chanterelles__mushrooms_by_sinason_deq8boo-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ym9vLTQ2Yzk3MmVlLTI3MDEtNGIwZC1hODE3LWZjNzhmZjc2ODI5YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.SjDzZrEpRPcfN6qA4KZiqleQNKSp2E-WxcSfiNpWfxU" alt="Chanterelles, Mushrooms photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Chanterelles, Mushrooms photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Sleeping-cat-in-Athens-890584805" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bmt-b44a6699-33d3-4b63-914d-b72157ddbe80.jpg/v1/fit/w_300,h_854,q_70,strp/sleeping_cat_in_athens_by_sinason_deq8bmt-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ym10LWI0NGE2Njk5LTMzZDMtNGI2My05MTRkLWI3MjE1N2RkYmU4MC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.bSuJQvwJT3EmvkMbAjIiLbojPYITJ5Rdl6w9ezAdpXw" alt="Sleeping cat in Athens photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Sleeping cat in Athens photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Another-sleeping-cat-in-Athens-890584703" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bjz-b58d439a-a734-44d7-b326-198e40c8311e.jpg/v1/fit/w_300,h_854,q_70,strp/another_sleeping_cat_in_athens_by_sinason_deq8bjz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Ymp6LWI1OGQ0MzlhLWE3MzQtNDRkNy1iMzI2LTE5OGU0MGM4MzExZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WRBLEX-seQLZ0vbTDzzRWbOleVtdj4yWY-D8KQwnFdQ" alt="Another sleeping cat in Athens photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Another sleeping cat in Athens photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Marigolds-890584520" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bew-23efc3be-08f3-469f-b07d-eab95e887787.jpg/v1/fit/w_300,h_854,q_70,strp/marigolds_by_sinason_deq8bew-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YmV3LTIzZWZjM2JlLTA4ZjMtNDY5Zi1iMDdkLWVhYjk1ZTg4Nzc4Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6fk3U0rfE_JbsIxdyV_a4v0dvzLqXWbIzMem634NYxI" alt="Marigolds photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Marigolds photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Mushroom-in-autumn-890584445" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8bct-c4ee8018-e2d8-4897-91e9-5121ae7f84aa.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_in_autumn_by_sinason_deq8bct-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YmN0LWM0ZWU4MDE4LWUyZDgtNDg5Ny05MWU5LTUxMjFhZTdmODRhYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.fc6OqYtY5KVWyUdDeFwSzchnyPRwGSDVIkfGgVf15iw" alt="Mushroom in autumn photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom in autumn photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-pictures-Mushroom-on-a-tree-890584316" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b98-b8eed044-6e60-40d9-9189-2d750d4cb4f4.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_on_a_tree_by_sinason_deq8b98-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4Yjk4LWI4ZWVkMDQ0LTZlNjAtNDBkOS05MTg5LTJkNzUwZDRjYjRmNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lJTooX_KgygtlYWSgteoucHV7av6brlckLV7I8iTpUs" alt="Mushroom on a tree photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom on a tree photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Family-of-mushrooms-890584213" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b6d-f5a3e89d-b01e-47a1-8e34-6937ffcd417c.jpg/v1/fit/w_300,h_900,q_70,strp/family_of_mushrooms_by_sinason_deq8b6d-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGI2ZC1mNWEzZTg5ZC1iMDFlLTQ3YTEtOGUzNC02OTM3ZmZjZDQxN2MuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QcRQEZ5YuuxVug-XmS57JuZyXkzYPJAubMSWd8w4gZc" alt="Family of mushrooms photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Family of mushrooms photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Mushroom-on-moss-890584128" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b40-b21bc9b8-cb4f-4408-a2a6-23d7c347adb0.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_on_moss_by_sinason_deq8b40-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YjQwLWIyMWJjOWI4LWNiNGYtNDQwOC1hMmE2LTIzZDdjMzQ3YWRiMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2GTfjYy9nFfa5TCu7Bfnw2352yahvg7xWu2rR57oSt8" alt="Mushroom on moss photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom on moss photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Mushrooms-on-a-fallen-trunk-890584010" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8b0q-308eed4b-50ba-4cd4-8301-049223b9b14b.jpg/v1/fit/w_300,h_854,q_70,strp/mushrooms_on_a_fallen_trunk_by_sinason_deq8b0q-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YjBxLTMwOGVlZDRiLTUwYmEtNGNkNC04MzAxLTA0OTIyM2I5YjE0Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.UXfFqonKkpNvJyqIOXuHpYNdii3xF8ryExuExpJmwm4" alt="Mushrooms on a fallen trunk photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushrooms on a fallen trunk photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Mushroom-standing-in-the-moss-890583922" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8aya-70f85680-5ce9-4ee6-8d7a-eabb33bbfb84.jpg/v1/fit/w_300,h_900,q_70,strp/mushroom_standing_in_the_moss_by_sinason_deq8aya-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxOGF5YS03MGY4NTY4MC01Y2U5LTRlZTYtOGQ3YS1lYWJiMzNiYmZiODQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.WlpWEz9PfTnOq2_JJ6_HZCvIdYXXBT7iYuE_jF56R30" alt="Mushroom standing in the moss photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom standing in the moss photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Another-mushroom-standing-in-the-moss-890583825" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8avl-63f7ce4e-9a93-4d20-b035-f6733502c525.jpg/v1/fit/w_300,h_854,q_70,strp/another_mushroom_standing_in_the_moss_by_sinason_deq8avl-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YXZsLTYzZjdjZTRlLTlhOTMtNGQyMC1iMDM1LWY2NzMzNTAyYzUyNS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.S5SvIjh-xsAXIxs21ppkL9GjrzWxt31iXQFGI41SM1s" alt="Another mushroom standing in the moss photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Another mushroom standing in the moss photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-pictures-Mushroom-with-moss-890583604" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8apg-015145d4-5205-445d-999a-243c652f0a86.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_with_moss_by_sinason_deq8apg-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YXBnLTAxNTE0NWQ0LTUyMDUtNDQ1ZC05OTlhLTI0M2M2NTJmMGE4Ni5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ibaTcMFxQKxDYXbZN6lel2rnAbqW2VTPCC72twUvnMQ" alt="Mushroom with moss photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom with moss photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Mushroom-hat-890583457" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8ald-1db9fb8e-4fb8-4149-bd42-b126b2e46ed4.jpg/v1/fit/w_300,h_854,q_70,strp/mushroom_hat_by_sinason_deq8ald-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YWxkLTFkYjlmYjhlLTRmYjgtNDE0OS1iZDQyLWIxMjZiMmU0NmVkNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iGtwSwB2-exnSQX03NZ5QzSLLpeezvmMzYATHvZ0mf8" alt="Mushroom hat photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Mushroom hat photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Hephaistos-temple-890583128" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8ac8-7fbccfde-fea9-4537-9118-3ae6d5eb4044.jpg/v1/fit/w_300,h_854,q_70,strp/hephaistos_temple_by_sinason_deq8ac8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YWM4LTdmYmNjZmRlLWZlYTktNDUzNy05MTE4LTNhZTZkNWViNDA0NC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6F4zhlRTo1rnjKvhPdJ51cVywy_hF23qL4k2MOvm-OE" alt="Hephaistos temple photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Hephaistos temple photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Family-of-mushrooms-again-890582869" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq8a51-33c75e04-2a5f-42c2-aedc-fb140e3e8530.jpg/v1/fit/w_300,h_854,q_70,strp/family_of_mushrooms__again__by_sinason_deq8a51-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXE4YTUxLTMzYzc1ZTA0LTJhNWYtNDJjMi1hZWRjLWZiMTQwZTNlODUzMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.o0rgvP4PlS21rBEJlRHKCbb7KU2HOyfyIx1uN6tvMA8" alt="Family of mushrooms (again) photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Family of mushrooms (again) photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Giverny-Monet-s-house-890582520" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deq89vc-60946fd9-2280-4af3-ae25-1a19347f97c2.jpg/v1/fit/w_300,h_900,q_70,strp/giverny__monet_s_house_by_sinason_deq89vc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxODl2Yy02MDk0NmZkOS0yMjgwLTRhZjMtYWUyNS0xYTE5MzQ3Zjk3YzIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Bj41zTiqwdqXLK5SFJx3kC2k02kIgBrDeNm1aSEUFkM" alt="Giverny, Monet's house photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Giverny, Monet's house photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/gallery_pictures" class="buttonPage">1</a>
    <a href="/gallery_pictures-page1" class="buttonPage">2</a>
    <a href="/gallery_pictures-page2" class="buttonPage">3</a>
    <a href="/gallery_pictures-page3" class="buttonPage">4</a>
    <a href="/gallery_pictures-page4" class="buttonPage">5</a>
    <a href="/gallery_pictures-page5" class="buttonPage">6</a>
    <a href="/gallery_pictures-page6" class="buttonPage">7</a>
    <a href="/gallery_pictures-page7" class="buttonPage">8</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
            <div class="footer">
                <p>Copyright &copy; Alexandre Proux </p>
            </div>
        </div>
    </body>
</html>
