<!doctype html>
<html lang="en">
    <head>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery.css">
<!--         <link rel="stylesheet" href="../static/css/layouts/buttons.css"> -->
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_paintings">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
  
    <br>
    <br>
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/gallery_pictures" class="buttonPage">1</a>
    <a href="/gallery_pictures-page1" class="buttonPage">2</a>
    <a href="/gallery_pictures-page2" class="buttonPage">3</a>
    <a href="/gallery_pictures-page3" class="buttonPage">4</a>
    <a href="/gallery_pictures-page4" class="buttonPage">5</a>
    <a href="/gallery_pictures-page5" class="buttonPage">6</a>
    <a href="/gallery_pictures-page6" class="buttonPage">7</a>
    <a href="/gallery_pictures-page7" class="buttonPage">8</a>
    </p>


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <div class="gallery">
		<div class="gallery__column">
			<a href="/sheet-pictures-Ambialet-France-890701645" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatsd-5b34c521-017b-4313-ab95-19a2635af2ef.jpg/v1/fit/w_300,h_900,q_70,strp/ambialet__france_by_sinason_deqatsd-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYwIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdHNkLTViMzRjNTIxLTAxN2ItNDMxMy1hYjk1LTE5YTI2MzVhZjJlZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.AGLi9OoAhYlWcrNjHPWxi1oOoXOoryMhvmHioAhpgLM" alt="Ambialet, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Ambialet, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Bruniquel-France-890701579" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatqj-1e678a06-5f2d-4e99-b02d-615ec5e0d9a2.jpg/v1/fit/w_300,h_720,q_70,strp/bruniquel__france_by_sinason_deqatqj-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdHFqLTFlNjc4YTA2LTVmMmQtNGU5OS1iMDJkLTYxNWVjNWUwZDlhMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.IYISFMJzLXbMHwRcnZlAo5IG9ZhSqcbCZOWVbsbgLts" alt="Bruniquel, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Bruniquel, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Ambialet-France-890701515" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqator-95249afa-57e2-49bb-89a9-c379caa0bad0.jpg/v1/fit/w_300,h_900,q_70,strp/ambialet__france_by_sinason_deqator-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYXRvci05NTI0OWFmYS01N2UyLTQ5YmItODlhOS1jMzc5Y2FhMGJhZDAuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5lY9Gk8AA5K0bajUPWfXbXjn0343s8s4sNM7mNGIBAs" alt="Ambialet, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Ambialet, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Flowers-at-giverny-France-890701435" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatmj-7fc8c92d-319c-4478-9cc1-c2e86d551106.jpg/v1/fit/w_300,h_854,q_70,strp/flowers_at_giverny__france_by_sinason_deqatmj-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdG1qLTdmYzhjOTJkLTMxOWMtNDQ3OC05Y2MxLWMyZTg2ZDU1MTEwNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.lno8SamrjmWMArHbT1dcce3dG4aEBoWAfk8ae0FAg7c" alt="Flowers at giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Flowers at giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Lavender-at-Giverny-France-890701362" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatki-96e16363-af3e-4026-bd03-cd059fe02775.jpg/v1/fit/w_300,h_854,q_70,strp/lavender_at_giverny__france_by_sinason_deqatki-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdGtpLTk2ZTE2MzYzLWFmM2UtNDAyNi1iZDAzLWNkMDU5ZmUwMjc3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.CzaBUQBdtYGEAQGPStMjMoptZCT0DVXZts-p6BgQlcA" alt="Lavender at Giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Lavender at Giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Boat-at-Giverny-France-890701295" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatin-e41c094c-234e-42aa-8e13-4bc466ddf110.jpg/v1/fit/w_300,h_854,q_70,strp/boat_at_giverny__france_by_sinason_deqatin-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdGluLWU0MWMwOTRjLTIzNGUtNDJhYS04ZTEzLTRiYzQ2NmRkZjExMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iu0578vcy--6Dslzud8sjMVZtiiyFe5xxDpWBaBUzR8" alt="Boat at Giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Boat at Giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-pictures-Dragonflies-coupling-890701142" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqatee-06dc620a-421f-4fd2-a150-dc5ef5de8f4c.jpg/v1/fit/w_300,h_900,q_70,strp/dragonflies_coupling_by_sinason_deqatee-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYXRlZS0wNmRjNjIwYS00MjFmLTRmZDItYTE1MC1kYzVlZjVkZThmNGMuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.wP-EHLSFX04d5p5OcJYH0COn0MSLDgU-Cyn-N4M4rhw" alt="Dragonflies coupling photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Dragonflies coupling photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Flowers-at-giverny-France-890700987" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqata3-2bc9bd1f-d00c-4123-991b-03f0e5092516.jpg/v1/fit/w_300,h_854,q_70,strp/flowers_at_giverny__france_by_sinason_deqata3-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdGEzLTJiYzliZDFmLWQwMGMtNDEyMy05OTFiLTAzZjBlNTA5MjUxNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.p-nk7hzf2akfE6YQZXnM7iKQTzViW4_tppclhg0z998" alt="Flowers at giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Flowers at giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Waterlilies-at-Giverny-France-890700882" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqat76-a5a19919-ecd5-4245-b70e-c73c5b6d56ea.jpg/v1/fit/w_300,h_854,q_70,strp/waterlilies_at_giverny__france_by_sinason_deqat76-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdDc2LWE1YTE5OTE5LWVjZDUtNDI0NS1iNzBlLWM3M2M1YjZkNTZlYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1XiC0htFDyO468GlP1GJDC-4O3PFF7VgN8AIqOYNc-0" alt="Waterlilies at Giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Waterlilies at Giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Monet-s-garden-and-boat-Giverny-France-890700798" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqat4u-9d17ac4b-b02a-4fc8-8a05-321c96eb803a.jpg/v1/fit/w_300,h_854,q_70,strp/monet_s_garden_and_boat__giverny__france_by_sinason_deqat4u-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdDR1LTlkMTdhYzRiLWIwMmEtNGZjOC04YTA1LTMyMWM5NmViODAzYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rlhuAm5XObiDXS_NR6Cgv8geZGL4LjLCGh53QtqGwVU" alt="Monet's garden and boat, Giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Monet's garden and boat, Giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Monet-s-garden-at-Giverny-France-890700741" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqat39-0ce9191e-484e-48db-a141-bccd21d4dd78.jpg/v1/fit/w_300,h_854,q_70,strp/monet_s_garden_at_giverny__france_by_sinason_deqat39-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhdDM5LTBjZTkxOTFlLTQ4NGUtNDhkYi1hMTQxLWJjY2QyMWQ0ZGQ3OC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.MkQidjsrcwx2edLB0FbFjDoOVKTjpdivFyX70VcmA0w" alt="Monet's garden at Giverny, France photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Monet's garden at Giverny, France photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Dragonflies-coupling-890700594" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasz6-1f43f8d0-d6cb-4690-96cf-451bd1b838e2.jpg/v1/fit/w_300,h_854,q_70,strp/dragonflies_coupling_by_sinason_deqasz6-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc3o2LTFmNDNmOGQwLWQ2Y2ItNDY5MC05NmNmLTQ1MWJkMWI4MzhlMi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0tHLXGDaj27CaMzD_b91949skIlgzNDyoszJ1NSidnI" alt="Dragonflies coupling photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Dragonflies coupling photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-pictures-Swan-on-a-lake-890700515" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqaswz-ca58cf7a-e108-4673-8797-aae7b4475e2f.jpg/v1/fit/w_300,h_854,q_70,strp/swan_on_a_lake_by_sinason_deqaswz-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc3d6LWNhNThjZjdhLWUxMDgtNDY3My04Nzk3LWFhZTdiNDQ3NWUyZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.t6d8TPH-48bqL3FPlCDBskaaoD3zOTO_q0_8gMQSlvQ" alt="Swan on a lake photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Swan on a lake photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Swan-on-a-lake-890700452" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasv8-5a0e5d74-bc9f-4d06-9416-26a90a5ea8aa.jpg/v1/fit/w_300,h_854,q_70,strp/swan_on_a_lake_by_sinason_deqasv8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc3Y4LTVhMGU1ZDc0LWJjOWYtNGQwNi05NDE2LTI2YTkwYTVlYThhYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ILpVDRwz9LIJVtd1gjpu1G0rqS5O80wS0tCZuhZgN2k" alt="Swan on a lake photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Swan on a lake photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-European-Peacock-Butterfly-890700358" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqassm-c0dc294e-f943-4611-8167-b31ec14c796a.jpg/v1/fit/w_300,h_855,q_70,strp/european_peacock_butterfly_by_sinason_deqassm-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU1IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc3NtLWMwZGMyOTRlLWY5NDMtNDYxMS04MTY3LWIzMWVjMTRjNzk2YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2pZg19EjJufFP517unm9vMzhbOo2vkUbTDLJluDab2I" alt="European Peacock Butterfly photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">European Peacock Butterfly photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Baby-snail-on-a-leaf-890700289" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasqp-ce91f2c2-3d14-400f-9825-847ab0d11b09.jpg/v1/fit/w_300,h_854,q_70,strp/baby_snail_on_a_leaf_by_sinason_deqasqp-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc3FwLWNlOTFmMmMyLTNkMTQtNDAwZi05ODI1LTg0N2FiMGQxMWIwOS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eESrwsreeIR1nECHZvNgKAO6VWyURjWk2UKCIeAqzYk" alt="Baby snail on a leaf photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Baby snail on a leaf photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Big-snail-on-a-leaf-890700205" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasod-0b249b73-f98a-4069-9be7-96a2b7e2df7c.jpg/v1/fit/w_300,h_900,q_70,strp/big_snail_on_a_leaf_by_sinason_deqasod-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMyIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYXNvZC0wYjI0OWI3My1mOThhLTQwNjktOWJlNy05NmEyYjdlMmRmN2MuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.7eGay4dvLhqpX03TzuZpvDXuk8HJj3RFK8WhCzo89iA" alt="Big snail on a leaf photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Big snail on a leaf photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Big-spider-on-a-leaf-890700138" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasmi-de9049aa-da53-444b-86ef-36050edca3cd.jpg/v1/fit/w_300,h_853,q_70,strp/big_spider_on_a_leaf_by_sinason_deqasmi-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODUzIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc21pLWRlOTA0OWFhLWRhNTMtNDQ0Yi04NmVmLTM2MDUwZWRjYTNjZC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Soc8CC8ffu0aXr0IT2TNg6PeO5kRhUs8D30QBYSCZq4" alt="Big spider on a leaf photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Big spider on a leaf photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-pictures-Baby-flog-in-forest-890700030" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasji-441f869a-fdec-4846-9260-50cb8045a698.jpg/v1/fit/w_300,h_854,q_70,strp/baby_flog_in_forest_by_sinason_deqasji-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc2ppLTQ0MWY4NjlhLWZkZWMtNDg0Ni05MjYwLTUwY2I4MDQ1YTY5OC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.A6i45WN4XbrE0sqPLeIT_cucV9m4LsnT_mA7a-OnOfE" alt="Baby flog in forest photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Baby flog in forest photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Dragonfly-Keeled-Skimmer-890699837" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqase5-8e6c6773-8a4e-4acf-8d0b-04a1b6a81431.jpg/v1/fit/w_300,h_853,q_70,strp/dragonfly_keeled_skimmer_by_sinason_deqase5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODUzIiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhc2U1LThlNmM2NzczLThhNGUtNGFjZi04ZDBiLTA0YTFiNmE4MTQzMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EK7mOgclMaVqk7TipDbGhJJwgNKf24GgfuRbL6j0TpY" alt="Dragonfly Keeled Skimmer photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Dragonfly Keeled Skimmer photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Dragonfly-Large-Red-Damselfly-890699746" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqasbm-8e2382f7-6339-4ad9-8f88-206e8eb68a75.jpg/v1/fit/w_300,h_900,q_70,strp/dragonfly_large_red_damselfly_by_sinason_deqasbm-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkxOCIsInBhdGgiOiJcL2ZcLzNjNTgyZGNmLWVmZTktNDZkNy04YTIyLWE3MTEwNTVjZTM3NlwvZGVxYXNibS04ZTIzODJmNy02MzM5LTRhZDktOGY4OC0yMDZlOGViNjhhNzUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.DrniVTy47GO8fPl5mYfkAMci5Z14zCMSg3x-Cceswu4" alt="Dragonfly Large Red Damselfly photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Dragonfly Large Red Damselfly photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Dragonfly-Large-Red-Damselfly-890699542" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqas5y-b0390788-c4ff-44f5-9d94-3f4114d7162b.jpg/v1/fit/w_300,h_855,q_70,strp/dragonfly_large_red_damselfly_by_sinason_deqas5y-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU1IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhczV5LWIwMzkwNzg4LWM0ZmYtNDRmNS05ZDk0LTNmNDExNGQ3MTYyYi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kYxjcQ7lpzqM54K4ERjw2UD6eefnr4EGpKV_K75Ls_g" alt="Dragonfly Large Red Damselfly photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Dragonfly Large Red Damselfly photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Bee-tongue-licking-890699469" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqas3x-6550f6fe-fabd-4c32-843b-a024c9047c34.jpg/v1/fit/w_300,h_854,q_70,strp/bee_tongue_licking_by_sinason_deqas3x-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhczN4LTY1NTBmNmZlLWZhYmQtNGMzMi04NDNiLWEwMjRjOTA0N2MzNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.o0UUiRPw8QP205CDCufD0u_f4zwknTI_2RUBmJY8jW0" alt="Bee tongue licking photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Bee tongue licking photo deviantart sinason<figcaption>
				</figure>
			</a>
			<a href="/sheet-pictures-Butterfly-on-a-dandelion-890699362" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c582dcf-efe9-46d7-8a22-a711055ce376/deqas0y-dbb5c7b4-bd0e-4557-bd93-6602e9fc7e58.jpg/v1/fit/w_300,h_854,q_70,strp/butterfly_on_a_dandelion_by_sinason_deqas0y-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6IlwvZlwvM2M1ODJkY2YtZWZlOS00NmQ3LThhMjItYTcxMTA1NWNlMzc2XC9kZXFhczB5LWRiYjVjN2I0LWJkMGUtNDU1Ny1iZDkzLTY2MDJlOWZjN2U1OC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.NL4jpXTwWP0BNQ43KbQ4eyd28Iq1pwlQCN-4cFSo_3k" alt="Butterfly on a dandelion photo deviantart sinason" class="gallery__image">
					<figcaption class="gallery__caption">Butterfly on a dandelion photo deviantart sinason<figcaption>
				</figure>
			</a>
		</div>

    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/gallery_pictures" class="buttonPage">1</a>
    <a href="/gallery_pictures-page1" class="buttonPage">2</a>
    <a href="/gallery_pictures-page2" class="buttonPage">3</a>
    <a href="/gallery_pictures-page3" class="buttonPage">4</a>
    <a href="/gallery_pictures-page4" class="buttonPage">5</a>
    <a href="/gallery_pictures-page5" class="buttonPage">6</a>
    <a href="/gallery_pictures-page6" class="buttonPage">7</a>
    <a href="/gallery_pictures-page7" class="buttonPage">8</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
            <div class="footer">
                <p>Copyright &copy; Alexandre Proux </p>
            </div>
        </div>
    </body>
</html>
