<!doctype html>
<html lang="en">
    <head>

        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 8px;
                width: 150px;
            }

            .button2 {background-color: #008CBA;} /* Blue */
            .button3 {background-color: #f44336;} /* Red */ 
            .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
            .button5 {background-color: #555555;} /* Black */
/*             https://www.w3schools.com/csS/css3_buttons.asp */

            .buttonPage{
                background-color: #555555;
                width: 60px;
                border: none;
                color: white;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 2px 2px;
                cursor: pointer;
                border-radius: 8px;
            }

            .button6{
            background-color: #4CAF50; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button6:hover {
            background-color: white;
            color: #4CAF50;
            }

            .button7 {
            background-color: #008CBA; 
            color: black; 
            border: 2px solid #008CBA;
            }

            .button7:hover {
            background-color: white;
            color: #008CBA;
            }

            .button8 {
            background-color: #f44336; 
            color: black; 
            border: 2px solid #f44336;
            }

            .button8:hover {
            background-color: white;
            color: #f44336;
            }

            .button9 {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            }

            .button9:hover {
                background-color: white;
                color: #e7e7e7;
            }

            .button10 {
            background-color: #555555;
            color: black;
            border: 2px solid #555555;
            }

            .button10:hover {
            background-color: white;
            color: #555555;
            }
        </style>
    
        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/gallery.css">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/layouts/blog.css">
        
        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "Paintings"}</script>
        <meta name="description" content="Alexandre's paintings.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Articles : randonnées et art</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_paintings">Dessins et aquarelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/gallery_pictures">Photographie</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">A-propos</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.instagram.com/all_living_beings/"><img src="/static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/sinason/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
<div class="content pure-u-1 pure-u-md-3-4">
    
    <br>
    <br>
    
    <!-- start autogenerated by autogenerated.pl -->

    <p>Pages: 
    <a href="/gallery_paintings" class="buttonPage">1</a>
    <a href="/gallery_paintings-page1" class="buttonPage">2</a>
    <a href="/gallery_paintings-page2" class="buttonPage">3</a>
    <a href="/gallery_paintings-page3" class="buttonPage">4</a>
    <a href="/gallery_paintings-page4" class="buttonPage">5</a>
    <a href="/gallery_paintings-page5" class="buttonPage">6</a>
    <a href="/gallery_paintings-page6" class="buttonPage">7</a>
    <a href="/gallery_paintings-page7" class="buttonPage">8</a>
    <a href="/gallery_paintings-page8" class="buttonPage">9</a>
    <a href="/gallery_paintings-page9" class="buttonPage">10</a>
    <a href="/gallery_paintings-page10" class="buttonPage">11</a>
    <a href="/gallery_paintings-page11" class="buttonPage">12</a>
    </p>


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <div class="gallery">
		<div class="gallery__column">
			<a href="/sheet-paintings-Florale-suite-926074605" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dfbczql-b0a6ba2f-1c88-4b09-8004-efd753e5b7fa.jpg/v1/fit/w_300,h_900,q_70,strp/florale_suite_by_archiwyzard_dfbczql-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAzMyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGZiY3pxbC1iMGE2YmEyZi0xYzg4LTRiMDktODAwNC1lZmQ3NTNlNWI3ZmEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.a701V0xmdpBvmmV3ag4Bm4rm1N9_n2pDRe4iYaws88w" alt="Florale suite drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Florale suite drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Floral-diptych-925929522" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dfb9vsi-d9f956ab-f688-4dcc-bed3-ecd5bc69e338.jpg/v1/fit/w_300,h_900,q_70,strp/floral_diptych_by_archiwyzard_dfb9vsi-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Mjk4NyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGZiOXZzaS1kOWY5NTZhYi1mNjg4LTRkY2MtYmVkMy1lY2Q1YmM2OWUzMzguanBnIiwid2lkdGgiOiI8PTUwMTkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ZSLjs5To_81nUP497AsH5-14e8dbf4ZFFOASu2QYNcw" alt="Floral diptych drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Floral diptych drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Field-of-flowers-924344558" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dfabwtq-f0572522-8ce6-4e6e-9268-dd4e9f0013c6.jpg/v1/fit/w_300,h_900,q_70,strp/field_of_flowers_by_archiwyzard_dfabwtq-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUzOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGZhYnd0cS1mMDU3MjUyMi04Y2U2LTRlNmUtOTI2OC1kZDRlOWYwMDEzYzYuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ._-aAX2LS2rvL3gbRwraxB_X-SPsoVQOtIIISdvqEhdw" alt="Field of flowers drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Field of flowers drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Sunflower-field-oil-study-923036345" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df9jveh-a1e10a0f-7aab-48d0-83aa-456bb4692ad1.jpg/v1/fit/w_300,h_900,q_70,strp/sunflower_field__oil_study_by_archiwyzard_df9jveh-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU1OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY5anZlaC1hMWUxMGEwZi03YWFiLTQ4ZDAtODNhYS00NTZiYjQ2OTJhZDEuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.XnA3v73fUbn0CNv6rfEkcHplC7mxBbB3TZpxXTKjfVg" alt="Sunflower field, oil study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Sunflower field, oil study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Sunflower-study-ukiyo-e-style-922481127" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df97yzr-b6ca0d4b-e336-4eac-b12f-04db5d16305d.jpg/v1/fit/w_300,h_900,q_70,strp/sunflower_study__ukiyo_e_style_by_archiwyzard_df97yzr-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcyNyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY5N3l6ci1iNmNhMGQ0Yi1lMzM2LTRlYWMtYjEyZi0wNGRiNWQxNjMwNWQuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.xCsfWPcGt4AhRLdwW6iFDTuBhnTPcWX2xcdMYR3swZQ" alt="Sunflower study, ukiyo-e style drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Sunflower study, ukiyo-e style drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Sunflower-field-922284704" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df93rfk-532f27ff-4f29-4c32-b5c1-2e5458940ba9.jpg/v1/fit/w_300,h_900,q_70,strp/sunflower_field_by_archiwyzard_df93rfk-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAxOSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY5M3Jmay01MzJmMjdmZi00ZjI5LTRjMzItYjVjMS0yZTU0NTg5NDBiYTkuanBnIiwid2lkdGgiOiI8PTQxNTEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9udCzW16gcfvAMstsdzkYZbWqQlwnrS9PlXAOz08UGo" alt="Sunflower field drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Sunflower field drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-Plateau-matheysin-921924865" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df8w1s1-7ea17379-f5b1-4f67-a936-f18a76856f9e.jpg/v1/fit/w_300,h_900,q_70,strp/plateau_matheysin_by_archiwyzard_df8w1s1-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzYxNCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY4dzFzMS03ZWExNzM3OS1mNWIxLTRmNjctYTkzNi1mMThhNzY4NTZmOWUuanBnIiwid2lkdGgiOiI8PTU0ODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.GlE8XPdaBJjjdCzyfIsX2f5rqXOdC_UeRsBLFaE8FMk" alt="Plateau matheysin drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Plateau matheysin drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-stork-s-nest-920673210" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df857zu-4d7ae26b-7405-487f-82d1-d6a4fb323844.jpg/v1/fit/w_300,h_900,q_70,strp/stork_s_nest_by_archiwyzard_df857zu-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTM5IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjg1N3p1LTRkN2FlMjZiLTc0MDUtNDg3Zi04MmQxLWQ2YTRmYjMyMzg0NC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.RXZ7-sWVjXOYjNB5nrI6pgzxSaO-W97y23hIzpIfnQw" alt="stork's nest drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">stork's nest drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-pelikan-pond-920556996" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df82qbo-c4376d84-5ca2-44a3-897c-5f89de20ffeb.jpg/v1/fit/w_300,h_890,q_70,strp/pelikan_pond_by_archiwyzard_df82qbo-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODkwIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjgycWJvLWM0Mzc2ZDg0LTVjYTItNDRhMy04OTdjLTVmODlkZTIwZmZlYi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.H-pi3--c_T15Hi-vUD8nHj9-GfT71I0Wb38ci1YcelU" alt="pelikan pond drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">pelikan pond drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Iris-in-bloom-919068419" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df76tqb-a6ce75d3-78c5-4c8d-b4ee-9f7bb812b9cd.jpg/v1/fit/w_300,h_900,q_70,strp/iris_in_bloom_by_archiwyzard_df76tqb-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU5MyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY3NnRxYi1hNmNlNzVkMy03OGM1LTRjOGQtYjRlZS05ZjdiYjgxMmI5Y2QuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-Z162_yZEwVkBWoAzawR_gfZ6VVOeX-1U4gOHK_fTOE" alt="Iris in bloom drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Iris in bloom drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-study-around-irises-918475748" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df6u4f8-3ac6f218-5317-4c4c-a087-2432c324a5c6.jpg/v1/fit/w_300,h_900,q_70,strp/study_around_irises_by_archiwyzard_df6u4f8-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzI2MSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY2dTRmOC0zYWM2ZjIxOC01MzE3LTRjNGMtYTA4Ny0yNDMyYzMyNGE1YzYuanBnIiwid2lkdGgiOiI8PTI3MjcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9t5oXgdAmxZk4NyNWR6B4FZ4fiyV0QJN9YOK62LoCE4" alt="study around irises drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">study around irises drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-oil-painting-iris-study-917419103" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df67h3z-d7ca011a-667b-4635-ac9c-32ce4cae4ce8.jpg/v1/fit/w_300,h_900,q_70,strp/oil_painting_iris_study_by_archiwyzard_df67h3z-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwOSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY2N2gzei1kN2NhMDExYS02NjdiLTQ2MzUtYWM5Yy0zMmNlNGNhZTRjZTguanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.HtJV4VvlIQNu53HEzBONG61VVYSzg_W1ihrLYQ9ukKI" alt="oil painting iris study drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">oil painting iris study drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-outdoor-oil-painting-in-the-mountains-916926049" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df5wwo1-33946175-0b47-494d-85fe-f6694fa9b702.jpg/v1/fit/w_300,h_900,q_70,strp/outdoor_oil_painting_in_the_mountains_by_archiwyzard_df5wwo1-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ2OSIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY1d3dvMS0zMzk0NjE3NS0wYjQ3LTQ5NGQtODVmZS1mNjY5NGZhOWI3MDIuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.fLaVMx4YD0ZcEoXbIVf9tkSOGooYZq7SXK3KviDqDkI" alt="outdoor oil painting in the mountains drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">outdoor oil painting in the mountains drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Study-on-the-golden-ratio-916817628" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df5ul0c-48970250-1904-4ae3-888b-a8972c5cf56b.jpg/v1/fit/w_300,h_900,q_70,strp/study_on_the_golden_ratio_by_archiwyzard_df5ul0c-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDU1NCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY1dWwwYy00ODk3MDI1MC0xOTA0LTRhZTMtODg4Yi1hODk3MmM1Y2Y1NmIuanBnIiwid2lkdGgiOiI8PTM2MTcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.dEA9f_1f4jkB5D5jXYV2YuhoGLkFLHocYT-5hQEAb8U" alt="Study on the golden ratio drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Study on the golden ratio drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Memories-of-a-mountain-lake-916424449" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df5m5mp-88d48b80-4fd4-4c02-95c3-9ff73994f30e.jpg/v1/fit/w_300,h_900,q_70,strp/memories_of_a_mountain_lake_by_archiwyzard_df5m5mp-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTg2IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjVtNW1wLTg4ZDQ4YjgwLTRmZDQtNGMwMi05NWMzLTlmZjczOTk0ZjMwZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.bGEX03Vr0LV8CFZfjXdDw0OriV3YRBeyJA9RfW1J-Rg" alt="Memories of a mountain lake drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Memories of a mountain lake drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Portrait-of-Honore-Daumier-1808-1879-915591177" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df54ao9-34784931-827c-4be0-b75a-34f97a0424c9.jpg/v1/fit/w_300,h_900,q_70,strp/portrait_of_honore_daumier__1808_1879__by_archiwyzard_df54ao9-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQyNyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY1NGFvOS0zNDc4NDkzMS04MjdjLTRiZTAtYjc1YS0zNGY5N2EwNDI0YzkuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.RToNlkg3Jb5hFpu_-t2xpkCjjeX-LrTmP7SS055OXHU" alt="Portrait of Honore Daumier (1808-1879) drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Portrait of Honore Daumier (1808-1879) drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Bird-talk-915470441" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df51pih-f0c6e042-b4f3-4fac-bc35-43fc38686777.jpg/v1/fit/w_300,h_900,q_70,strp/bird_talk_by_archiwyzard_df51pih-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTgyIiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjUxcGloLWYwYzZlMDQyLWI0ZjMtNGZhYy1iYzM1LTQzZmMzODY4Njc3Ny5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Zabg1zvq8LDJLX511WbPFdNT8Zyj-5nP5GeQk_2NKW0" alt="Bird talk drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Bird talk drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Nasturtiums-Capucine-914762021" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df4miw5-7d07d085-759a-4c2d-b252-5e38442d681b.jpg/v1/fit/w_300,h_900,q_70,strp/nasturtiums____capucine_by_archiwyzard_df4miw5-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzcxOCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY0bWl3NS03ZDA3ZDA4NS03NTlhLTRjMmQtYjI1Mi01ZTM4NDQyZDY4MWIuanBnIiwid2lkdGgiOiI8PTQ2OTMifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.zhkwXRrhCXxq5eJ_V3Ptl5GAFW9iKEXlx9VDm01G0jw" alt="Nasturtiums  - Capucine drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Nasturtiums  - Capucine drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

		<div class="gallery__column">
			<a href="/sheet-paintings-Tribute-to-the-painter-Eugene-Delacroix-913768680" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df418fc-e4c64afe-3e0b-4c4b-ab79-a2618947796e.jpg/v1/fit/w_300,h_900,q_70,strp/tribute_to_the_painter_eugene_delacroix__by_archiwyzard_df418fc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzUzMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGY0MThmYy1lNGM2NGFmZS0zZTBiLTRjNGItYWI3OS1hMjYxODk0Nzc5NmUuanBnIiwid2lkdGgiOiI8PTI4OTkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LjuYAqL8eFzei8ykJ9TQvCZIQQka8xp63Pd9zQ2iueo" alt="Tribute to the painter Eugene Delacroix  drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Tribute to the painter Eugene Delacroix  drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Still-life-two-pears-one-apple-and-one-plum-913552413" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df3wljx-9239abba-4421-4b43-b826-dae325b0bab8.jpg/v1/fit/w_300,h_798,q_70,strp/still_life__two_pears__one_apple_and_one_plum_by_archiwyzard_df3wljx-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzk4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjN3bGp4LTkyMzlhYmJhLTQ0MjEtNGI0My1iODI2LWRhZTMyNWIwYmFiOC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.W2aZA5-y543W4FPufzTM3jYVJVAmGlh2m3zom6LDiig" alt="Still life, two pears, one apple and one plum drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Still life, two pears, one apple and one plum drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Two-brothers-913242184" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df3py6g-3f812951-6748-4fd1-837f-f79cd23ce57f.jpg/v1/fit/w_300,h_758,q_70,strp/two_brothers_by_archiwyzard_df3py6g-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzU4IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjNweTZnLTNmODEyOTUxLTY3NDgtNGZkMS04MzdmLWY3OWNkMjNjZTU3Zi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.KAeJvu_AEn8eCa_bS8acAoC6aAmz2Q3l6pNYiTJu7f0" alt="Two brothers drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Two brothers drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Cezanne-on-his-way-to-paint-the-Sainte-Victoire-912218155" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df34017-e4869a4d-15f0-4e3f-a607-0708dd226121.jpg/v1/fit/w_300,h_900,q_70,strp/cezanne_on_his_way_to_paint_the_sainte_victoire_by_archiwyzard_df34017-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjEwNyIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGYzNDAxNy1lNDg2OWE0ZC0xNWYwLTRlM2YtYTYwNy0wNzA4ZGQyMjYxMjEuanBnIiwid2lkdGgiOiI8PTE0OTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.NqFKkP2hsJ7-smsqvpsltiIkHx7-Jpbsh_C_IUh-0KY" alt="Cezanne on his way to paint the Sainte Victoire drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Cezanne on his way to paint the Sainte Victoire drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-Gouache-test-2-911915652" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df2ximc-35691ba4-72bf-4578-8f0c-99e7fc84031a.jpg/v1/fit/w_300,h_900,q_70,strp/gouache_test_2_by_archiwyzard_df2ximc-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0NiIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGYyeGltYy0zNTY5MWJhNC03MmJmLTQ1NzgtOGYwYy05OWU3ZmM4NDAzMWEuanBnIiwid2lkdGgiOiI8PTI3MjcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.OG-l0FWS-4HeTs8vmhYzcJ6n3cgqWD3-AKR0AuhOZJU" alt="Gouache test 2 drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">Gouache test 2 drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
			<a href="/sheet-paintings-gouache-test-911783275" target="_blank" class="gallery__link">
				<figure class="gallery__thumb">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/df2uoh7-0e9af675-e9a9-42d1-ba8b-73918671265f.jpg/v1/fit/w_300,h_900,q_70,strp/gouache_test_by_archiwyzard_df2uoh7-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA0IiwicGF0aCI6IlwvZlwvNTQ4NTEyMjUtMTNlZC00OTk5LWJlMjgtODgzZTE0M2U0NjFjXC9kZjJ1b2g3LTBlOWFmNjc1LWU5YTktNDJkMS1iYThiLTczOTE4NjcxMjY1Zi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._2FNyq6NQCliwXM2OQtHu4rocH8xcjwQGwoFLsNW97w" alt="gouache test drawing deviantart archiwyzard" class="gallery__image">
					<figcaption class="gallery__caption">gouache test drawing deviantart archiwyzard<figcaption>
				</figure>
			</a>
		</div>

    </div> <!-- End div classe gallery -->

    <p>Pages: 
    <a href="/gallery_paintings" class="buttonPage">1</a>
    <a href="/gallery_paintings-page1" class="buttonPage">2</a>
    <a href="/gallery_paintings-page2" class="buttonPage">3</a>
    <a href="/gallery_paintings-page3" class="buttonPage">4</a>
    <a href="/gallery_paintings-page4" class="buttonPage">5</a>
    <a href="/gallery_paintings-page5" class="buttonPage">6</a>
    <a href="/gallery_paintings-page6" class="buttonPage">7</a>
    <a href="/gallery_paintings-page7" class="buttonPage">8</a>
    <a href="/gallery_paintings-page8" class="buttonPage">9</a>
    <a href="/gallery_paintings-page9" class="buttonPage">10</a>
    <a href="/gallery_paintings-page10" class="buttonPage">11</a>
    <a href="/gallery_paintings-page11" class="buttonPage">12</a>
    </p>
    <!-- end autogenerated by autogenerated.pl -->
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
        </div>
    </body>
</html>
