<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_manet_ukiyoe"><!--start_head-->
<meta name="description" content="In this article we analyze the influences of the Ukiyo-e artistic movement on Edouard Manet's paintings.">    
<title>Manet and Ukiyo-e</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/ongoing">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>

<div class="content pure-u-1 pure-u-md-3-4"><div>                       

<!--start_head-->
<meta name="description" content="In this article we analyze the influences of the Ukiyo-e artistic movement on Edouard Manet's paintings.">    
<title>Manet and Ukiyo-e</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">Manet and Ukiyo-e</h2>
                                <p class="post-meta">
                                Date : 10/02/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p>The Ukiyo-e artistic movement arrived in France in 1856 during the Impressionist period with the publication of Hokusai manga (sketches) and 
Hiroshige prints.
                                In this article we analyze the influences of the Ukiyo-e artistic movement on Edouard Manet's paintings.</p> 
                                
							    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=110% height=110%
                                             src="../static/img/manet_ukiyoe/Emile zola annoted.png"        
                                             alt="Painting of Emile Zola painted by Edouard Manet with annotations of the japanese influence"></a>
                                </div>
                                <!-- end_header -->
								<br>
                                
                                <p>
                                Ukiyo-e can be translated as the study of the living world. It illustrates the beauty of the natural and animal world. It gives a very special place to natural elements such as 
                                waves, wind or rain. Often, characters are relayed in the background of the painting and seem very small next to mother nature. The first collection of Japanese prints was created by Edmond de Goncourt who published biographies and leaflets of prints.
                                <br>
Edouard Manet was born in Paris on January 23, 1832 and he is one of the best known painters in the Impressionist art movement. Manet discovered the Japanese prints thanks to the 
engraver Eug&egrave;ne Lavieille. 
                                <br>
The painting of the portrait of Emile Zola (above) illustrates very well the influence of Hokusai. In the background of the painting, we can see a folding 
screen and a woodcut of the Japanese artist Kuniaki II. On the table, there is a porcelain piece whose bluish patterns are probably inspired by japanese art.

                                <br>
                                Others evidences of the influence of the artistic movement ukiyo-e can be found in Manet's animals drawings. For instance, the drawing of a crow he made for the
                                cover of Edgar Allan Poe's book leaves no doubt. His shape and lines seem directly extracted from Hokusai's mangas.

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=60% height=60%
                                             src="../static/img/manet_ukiyoe/manet_ukiyoe.png"        
                                             alt="Comparison of Manet's raven and Hokusai's ravens"></a>
                                </div>
                                <br>
                                Do you want more evidence ? In his portait of Nina de Callais, the background of the painting is made up of fans whose illustrations recall the prints of Japanese masters.
                            If you look closely, you can also distinguish a crane in the middle of the fans.
                            <br>
                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=120% height=120%
                                             src="../static/img/manet_ukiyoe/Portrait of Nina de callais annoted.png"        
                                             alt="Portait of Nina de callais by Manet, with annotation showing Manet inspirations"></a>
                                </div>    
                            <br>
                            
                            In Zacharie Astruc's painting (below), Manet painted a booklet of prints on the table next to the character.
                                <br>
                                 <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=120% height=120%
                                             src="../static/img/manet_ukiyoe/Edouard-Manet-Portrait-of-Zacharie-Astruc-annoted.jpg"        
                                             alt="Portait of Zacharie Astruc by Manet, with annotations."></a>   
                                </div>        
                                <br>
                           
To cut a long story short, if we look a little further Manet's works we can find more evidences of the influence of the ukiyoe movement, especially in his drawings of cats and flowers.
To conclude, we can appreciate the work of Manet for being one of the first impressionists to mix western painting codes with references to Japanese prints balanced by his genius.
                                
                            </div>
                        </section>
<!--end_content-->					<!-- content_beginning -->
















					<!-- content_ending -->
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
