<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../static/css/layouts/blog.css">
                <!--<![endif]-->

<!--start_head-->
<meta name="description" content=" In this article we will compare some black ink for use in watercolor painting. A benchmark from platinum carbon black to pigma micron.">    
<title>Which black ink for watercolor painting ?</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/ongoing">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>

<div class="content pure-u-1 pure-u-md-3-4"><div>                       

<!--start_head-->
<meta name="description" content=" In this article we will compare some black ink for use in watercolor painting. A benchmark from platinum carbon black to pigma micron.">    
<title>Which black ink for watercolor painting ?</title>  
<!--end_head-->

<!--start_content-->
                       <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">Which black ink for watercolor painting ?</h2>
                                <p class="post-meta">
                                Date : 05/01/2020 by <class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">
                                <p></p>
								Black ink is widely used in watercolor to bring contrast to painting, as in the line and wash technique. Today ink can be found in liquid form in bottles. 
                                But historically ink was kept solid in the form of stick.


                                To me, 3 main criteria must be considered 
to choose an ink : <u>water resistance</u>,
								<u>intensity of black</u> and <u>clogging</u> (can it be used with a fountain pen ?)
                                
								
								<br>
								<br>
							    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../static/img/review_black_ink/review_black_ink_presentation.jpg"        
                                             alt="black_ink_presentation"></a>
                                </div>
                                <!-- end_header -->
								<br>
                                The waterproof criteria is essential for watercolor technique that require to wet inked paper. But a waterproof ink often sacrifies its flowability. 
                                For a single drawing it is absolutely necessary to avoid mixing 2 black inks together. Once dry, the inks may look radically different and ruin your work.
                                When not used, bottles of ink shall be kept corked as a prevention against thickening due to evaporation. when an ink bottle reaches the end of its life, its consistency
                                is thicker than a new one. That is why, it can be intereseting to keep a new bottle for the fine lines of a drawing. It is also possible to dilute with a bit of water the end of an old bottle.  
                                
								Finding the perfect black ink for watercolor can be a real challenge. During my watercolor adventure, I accumulated many bottles of ink,
								in the rest of this article I will compare them and give you my opinion on each brand.
                                <br>
								<br>
								For this comparison, I have selected the following inks:
								<o1>
							    <li>Winsor and Newton black indian ink (951)</li>
								<li>Random ink bought in china</li>
                                <li>Hero 234</li>
								<li>Sennelier indian ink "a la pagode"</li>
								<li>Pelikan fount india</li>
								<li>Platinum carbon ink</li>
                                <li>Pigma Micro (0.8)</li>
								</o1>
								<br>
								
								My benchmark is composed of 3 test cases :
								<o1>
							    <li>A writing sample with 30 seconds of dry time</li>
								<li>A writing sample with 5 minutes of dry time</li>
								<li>A writing sample with 30 minutes of dry time</li>
								</o1>
							
								<br>
							
								<div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                <img width=100% height=100%
                                             src="../static/img/review_black_ink/review_black_ink_test.jpg"        
                                             alt="black_ink_test"></a>
                                </div>
							
								<br>
								<br>
								Let's discuss about the results !
								<br>
								<br>
								<u>Winsor and Newton black indian ink (951)</u>
								<br>
								<o1>
							    <li>Water resistance : Very good </li>
								<li>Intensity of black : Very good </li>
								<li>Clogging : can't be used with a fountain pen</li>
								</o1>
								
								<br>
								<u>Random ink bought in china</u>
								<br>
								<o1>
							    <li>Water resistance : no resistance at all </li>
								<li>Intensity of black : greyish </li>
								<li>Clogging : can't be used with a fountain pen</li>
								</o1>
								
								<br>
								<u>Hero 234</u>
								<br>
								<o1>
							    <li>Water resistance : no resistance at all </li>
								<li>Intensity of black : good </li>
								<li>Clogging : some people on internet use this ink with fountain pen, i would not try it</li>
								</o1>
								
								<br>
								<u>Sennelier indian ink "a la pagode"</u>
								<br>
								<o1>
							    <li>Water resistance : Excellent when dry</li>
								<li>Intensity of black : best of the benchmark </li>
								<li>Clogging : really difficult to use, it clogs brushes and nib. This ink shall never be used with a fountain pen. I recommend diluting the ink with 
water to improve its fluidity. </li>
								</o1>

								<br>
								<u>Pelikan Fount india</u>
								<br>
								<o1>
							    <li>Water resistance : no resistance at all </li>
								<li>Intensity of black : good </li>
								<li>Clogging : compatible with fountain pen, but it should be cleaned regularly </li>
								</o1>								

								<br>
								<u>Platinum Carbon ink</u>
								<br>
								<o1>
							    <li>Water resistance : Excellent </li>
								<li>Intensity of black : Excellent </li>
								<li>Clogging : compatible with fountain pen, but it should be cleaned regularly </li>
								</o1>								
																
                                <br> 
								Conclusion
                                There is a lot of black ink out there. Right now my favorite is the Platinum Carbon ink combine with my lamy 2000. 
								Note : Noodler sell a bullet-proof ink which has very good reviews, probably worth a try.
                                </p>
                            </div>
                        </section>
<!--end_content-->					<!-- content_beginning -->
















					<!-- content_ending -->
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
