<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/layouts/pure-min.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
            <!--<![endif]-->


            <!--[if lte IE 8]>
                <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="../static/css/layouts/blog.css">
                <!--<![endif]-->

<link rel="alternate" hreflang="en" href="www.pause-nature.fr/review/review_portable_painter"><script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "review_portable_painter","author" : {"@type" : "Person","name" : "Alexandre Proux"},"articleSection" : "review"}</script><!--start_head-->
<meta name="description" content="What is worth portable painter palette ? Is it convenient ?">    
<title>portable painter palette</title>  
    </head>
    <body>

        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/ongoing">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                        <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/ig/common/logo_pixabay.jpeg" alt="logo pixabay" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>

<div class="content pure-u-1 pure-u-md-3-4"><div>
<!--start_head-->
<meta name="description" content="What is worth portable painter palette ? Is it convenient ?">    
<title>portable painter palette</title>  
<!--end_head-->


                        <div class="post">
                            <header class="post-header">
                                <img width="60" height="60" alt="Alexandre Proux avatar" class="post-avatar"
                                                                                         
src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e14
3e461c/dcgwo6z-cb07072d-1c76-450a-887d-a42787e20cd6.jpg/v1/fill/w_894,h_894,q_70,strp/daily_d
rawing_2___11_07_2018_by_archiwyzard_dcgwo6z-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni
J9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZT
BkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2Z
cLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGNnd282ei1jYjA3MDcyZC0xYzc2LTQ1MGEtODg3
ZC1hNDI3ODdlMjBjZDYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3Blc
mF0aW9ucyJdfQ.nqTraD2oUSj2zB8bhoKyA7RJiz6rsjSo7ZIW2jWUbUE">
                                <h2 class="post-title">Review : Portable painter palette</h2>
                                <p class="post-meta">
                                Date : 01/01/2020 by <a class="post-author">Alexandre Proux</a> under <a class="post-category post-category-design">REVIEW</a>
                                </p>
                            </header>
                            <div class="post-description">

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><img src="../static/img/review_portable_painter/portable_painter_top.jpg" alt="portable_painter_top" style="width:100%;height:100%;"></p>
                                </div>
                                <p>

                                Watercolorists are always struggling to find the perfect traveling palette. The tradeoff must be made according to :
                                <o1>
                                <li>Size (How much pans do you need ? Should it hold in your pocket ?)</li>
                                <li>Weight/material (Do you prefer metal or plastic?)</li>
                                <li>Mixing areas</li>
                                <li>Price (Brass palette can be very expensive)</li>
                                </o1>
                                <br>
                                Well the portable painter is a serious candidat.
								<!-- end_header -->
                                <br>
                                Main features :
                                <o1>
                                <li>Maker : Portable Painter (www.portablepainter.com)</li>
                                <li>Size : 14x7.5x2.5mm</li>
                                <li>Weight : 170g (without paint)</li>
                                <li>Material : plastic</li>
                                <li>Price : ~25-30€</li>
                                <li>Included : 12 empty half pans with sticky pad</li>
                                <li>Included : a synthetic double brush</li>
                                <li>Included : a silicon retaining band</li>
                                </o1>

                                <br>


                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_presentation1.jpg" alt="portable_painter_presentation1" 
style="width:100%;height:100%;"></center></p>
                                </div>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_presentation2.jpg" alt="portable_painter_presentation2" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br>
                                This palette principle is unique, it suppose to place on your knee/leg, and the two buckets filled with water. This allows you to have your both 
hands free for painting. Well... If you paint standing it will be less practical :).
                                <br>
                                The silicon band is suppose to hold things, such as : pencil, brush and the little metal piece that hold the palette together.
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_comparison1.jpg" alt="portable_painter_comparison1" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br>
                                Comparison between palettes (24 pans and 48 pans).
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_comparison2.jpg" alt="portable_painter_comparison2" 
style="width:100%;height:100%;"> </center></p>
                                </div>
                                <br>
                                Pans are sold empty. Following pictures compare portable painter pan with Sennelier and Schmincke pan.
                                <br>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_pan1.jpg" alt="portable_painter_pan1" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_pan2.jpg" alt="portable_painter_pan2" 
style="width:100%;height:100%;"> </center></p>
                                </div>


                                <br>
                                About the brush, the one included is a modest synthetic double brush. For the price of the palette, what could we expect ? Nevertheless, I had to 
make some changes to my portable painter palette in a way that my Escoda Reserva size 8 could fit in it.
                                Easy job, simply cut the plastic dividers !
                                <br>


                                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                                    <p><center><img src="../static/img/review_portable_painter/portable_painter_brush1.jpg" alt="portable_painter_brush1" 
style="width:100%;height:100%;"> </center></p>
                                </div>

                                <br> Conclusion ? It's my main travelling palette now :)
                                </p>
                            </div>
                        </section>
					</div>
                </div>					<!-- content_beginning -->
















					<!-- content_ending -->
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>


    </body>
</html>
