<!doctype html>
<html lang="en">
    <head>

    <script data-ad-client="ca-pub-4353004932795007" async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

   <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
    <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
    <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/css/layouts/blog.css">

    <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
    <meta name="description" content="Amandine's pictures.">

</head>

<body>
<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-5">
            <div class="header">

                <p><center>
                    <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                </center></p>

                <h1 class="brand-title">Pause nature</h1>
                <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                <h2 class="brand-tagline"></h2>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/reviews">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/galerie_peinture">Paintings</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/galerie_pictures">Pictures</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/about">About</a>
                        </li>
                    </ul>
                </nav>

                <p><center>
                    <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                    <a href="https://www.instagram.com/all_living_beings/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                    <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                <center></p>
            </div>
        </div>


        <div class="content pure-u-1 pure-u-md-3-4">

                <p><a href="https://pixabay.com/photos/bird-robin-red-nature-colors-4930603/" target="_blank"><span style="font-weight: 400;">Lien vers la photo sur PIXABAY (link of the picture on PIXABAY)</span></a></p>

                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <img width=100% height=100% src="https://cdn.pixabay.com/photo/2020/03/14/13/10/bird-4930603_960_720.jpg" alt="bird, robin, red">
                </div>

            <div> <!-- div footer -->
                    <div class="footer">
                        <p>Copyright &copy; Alexandre Proux </p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
