<!doctype html>
<html lang="en">
    <head>

        <script data-ad-client="ca-pub-4353004932795007" async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
        <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/layouts/pure-min.css">
        <link rel="stylesheet" href="../../static/css/layouts/grids-responsive-min.css">
        <link rel="stylesheet" href="../../static/css/layouts/blog.css">

        <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
        <meta name="description" content="Amandine's pictures.">    

    </head>
    
    <body>
       <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                <div class="header">

                    <p><center>
                        <img width="140" height="140" alt="Alexandre Proux avatar"

src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/ddp24an-71c94052-a418-4980-b211-0397c9e238c7.jpg/v1/fill/w_894,h_894,q_70,strp/painted_for_a_friend_by_archiwyzard_ddp24an-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzU0ODUxMjI1LTEzZWQtNDk5OS1iZTI4LTg4M2UxNDNlNDYxY1wvZGRwMjRhbi03MWM5NDA1Mi1hNDE4LTQ5ODAtYjIxMS0wMzk3YzllMjM4YzcuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.llFxrx1UaPqLZcz3wlU3Cf-NzxRN0M3iDrbx-z0jI04">
                    </center></p>

                    <h1 class="brand-title">Pause nature</h1>
                    <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                    <h2 class="brand-tagline"></h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/reviews">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_peinture">Paintings</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/galerie_pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/about">About</a>
                            </li>
                        </ul>
                    </nav>

                    <p><center>
                        <a href="https://www.instagram.com/archiwyzard/"><img src="../../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                        <a href="https://www.deviantart.com/archiwyzard/"><img src="../../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <center></p>
                </div>
            </div>
            
            
<div class="content pure-u-1 pure-u-md-3-4">

    <header class="ScriptHeader">
            <div class="col-rt-12">
                    <div class="rt-heading">
                    <h1>Bee Abeille Prunus Alpes Alps</h1>
                </div>
            </div>
    </header>
    
    <div class="photo-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
    <img width=100% height=100% src="https://cdn.pixabay.com/photo/2020/02/23/11/50/versailles-4873133_960_720.jpg" alt="Versailles Trianon Architecture Jardin">
    </div>
    
<div> <!-- End div pure blabla -->
            
                        <div class="footer">
                            <p>Copyright &copy; Alexandre Proux </p>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
