<!doctype html>
<html lang="en">
    <head>

    <script data-ad-client="ca-pub-4353004932795007" async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

   <meta name="google-site-verification" content="9cZqCjgkf5l9r1cUe7kBRjXSj4Ru49PHJiXJmp96S7k" />
    <meta name="msvalidate.01" content="ADBE1D6C621C0EE7980A84478EED53ED" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/layouts/pure-min.css">
    <link rel="stylesheet" href="../static/css/layouts/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/css/layouts/blog.css">

    <script type="application/ld+json">{"@context" : "http://schema.org","@type" : "Article","name" : "pictures","author" : {"@type" : "Person","name" : "Amandine Poterala"},"articleSection" : "Pictures"}</script>
    <meta name="description" content="Amandine's pictures.">

</head>

<body>
<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-5">
            <div class="header">

                <p><center>
                    <img width="140" height="140" alt="Alexandre Proux avatar" src="/static/img/icon.jpg">
                </center></p>

                <h1 class="brand-title">Pause nature</h1>
                <h2 class="brand-tagline">Nature, watercolor and photography</h2>
                <h2 class="brand-tagline"></h2>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/reviews">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/galerie_peinture">Paintings</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/galerie_peinture">Pictures</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/about">About</a>
                        </li>
                    </ul>
                </nav>

                <p><center>
                    <a href="https://www.instagram.com/archiwyzard/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                    <a href="https://www.instagram.com/all_living_beings/"><img src="../static/img/common/logo_instagram.jpg" alt="logo instagram" height="30px" width="30px" /></a>
                    <a href="https://www.deviantart.com/archiwyzard/"><img src="../static/img/common/logo_deviantart.jpeg" alt="logo deviantart" height="30px" width="30px" /></a>
                    <a href="https://pixabay.com/users/sinason-14315822/"><img src="../static/img/common/logo_pixabay.jpg" alt="logo pixabay" height="30px" width="30px" /></a>
                <center></p>
            </div>
        </div>


        <div class="content pure-u-1 pure-u-md-3-4">

                <p><a href="https://www.deviantart.com/archiwyzard/art/Dailydrawing-2-13-07-2017-754330997" target="_blank"><span style="font-weight: 400;">Lien vers la photo sur DEVIANTART (link of the picture on DEVIANTART)</span></a></p>

                <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <img width=100% height=100% src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54851225-13ed-4999-be28-883e143e461c/dch3xit-709af3e8-bcd2-41ca-bc6c-eaf5b6111034.jpg/v1/fit/w_300,h_900,q_70,strp/dailydrawing_2_13_07_2017_by_archiwyzard_dch3xit-300w.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05NjIiLCJwYXRoIjoiXC9mXC81NDg1MTIyNS0xM2VkLTQ5OTktYmUyOC04ODNlMTQzZTQ2MWNcL2RjaDN4aXQtNzA5YWYzZTgtYmNkMi00MWNhLWJjNmMtZWFmNWI2MTExMDM0LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.DOko0kktO10EsPlgsvKuhcpxt7PdqMYQEeLM2v5_ZNQ" alt="Dailydrawing 2 13/07/2017 drawing deviantart archiwyzard">
                </div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-4353004932795007"
                data-ad-slot="5273903670"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

        <div> <!-- div footer -->
                    <div class="footer">
                        <p>Copyright &copy; Alexandre Proux </p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
